<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!trainingsList && getDataLoading(presetsData.controller + '_getList'))}">
        <template v-if="trainingsList && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="10">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите тренинг, доступный в этой группе">
                        <el-option
                            v-for="item in trainingsList"
                            :key="item.id" :label="item.name" :value="item.id"
                            :disabled="!!itemsListSelected && !!itemsListSelected.find(i => i.preset_id == item.id || (!i.hasOwnProperty('preset_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected && itemsListSelected.length" />
            <draggable
                v-model="itemsListSelected" group="items" :draggable="false"
                class="list-group mt-3 mt-sm-0"
            >
                <transition-group type="transition">
                    <div class="list-group-item" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <strong>
                            {{'preset_name' in element ? element.preset_name : 'name' in element ? element.name : ''}}
                        </strong>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { updateGlobal, deleteGlobal, getListGlobal } from '@/models/_baseModel';
  import { data as presetsData, getList } from '@/models/presetsModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "clientGroupsPresets",
    data() {
      return {
        presetsData: presetsData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'groups_presets',
        itemsListSelected: null,
        selectedItem: null,
      }
    },
    props: ['groupId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      trainingsList() {
        return this.data ? this.data.filter(item => item.preset_type === 'training') : null;
      }
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            group_id: this.groupId,
            preset_id: this.selectedItem,
          },
          successMsg: 'Тренинг стал доступен в этой группе! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          successMsg: 'Тренинг исключен из доступа в группе!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
          }.bind(this)
        });
      },
    },
    created() {
      getList.call(this);
      getListGlobal.call(this, {
        controller: this.controller,
        getListMethod: 'getPresetsListByGroupId',
        dataVar: 'itemsListSelected',
        fields: {
          group_id: this.groupId,
        }
      });
    }
  };
</script>