<template>
    <div :class="{'d-flex align-items-center justify-content-center': !dataObj || getDataLoading(clientgroupsData.controller + '_getData')}">
        <el-form
            v-if="dataObj && !getDataLoading(clientgroupsData.controller + '_getData')"
            :id="`dataForm_${clientgroupId}`" class="low-margin-form-item"
            :model="dataObj" :rules="rules" :ref="`dataForm_${clientgroupId}`"
            label-position="top" label-width="120px" status-icon
        >
            <input v-if="dataObj.id" v-model="dataObj.id" type="hidden" name="id"/>
            <input v-model="dataObj.status" type="hidden" name="status"/>

            <el-form-item label="Имя" prop="name">
                <el-input
                    v-model.trim="dataObj.name"
                    type="text" id="name" name="name"
                />
            </el-form-item>
            <el-form-item label="Описание">
                <el-input
                    v-model.trim="dataObj.description"
                    type="textarea" name="description" :rows="3"
                />
            </el-form-item>
            <item-status-form-select
                :status="dataObj.status" :itemStatuses="clientgroupsData.status"
                :controller="clientgroupsData.controller"
                inputLabel="Состояние"
            />
        </el-form>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import {
    data as clientgroupsData, dataInit as clientgroupsDataInit,
    get, update, validateString, validateUnique
  } from '@/models/clientgroupsModel';
  import { mdbSpinner } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "clientgroupsForm",
    data() {
      return {
        clientgroupsData: clientgroupsData,
        dataObj: clientgroupsDataInit,
        dataObjClone: null,
        rules: {
          name: [
            { required: true, message: 'Введите название!', trigger: ['change', 'blur'] },
            { validator: validateString.bind(this), trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
        },
      }
    },
    props: ['clientgroupId'],
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return !this.clientgroupId;
      },
    },
    components: {
      mdbSpinner,
      itemStatusFormSelect,
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
    },
    created() {
      let _this = this;

      if (this.isNew) {
        this.dataObj = {...clientgroupsDataInit};
      } else {
        get.call(this, { id: this.clientgroupId });
      }

      eventBus.$on(this.clientgroupsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on('save-edit-form-popup', () => {
        _this.$refs[`dataForm_${_this.clientgroupId}`].validate((valid) => {
          if (valid) {
            update.call(_this, {
              formName: `dataForm_${_this.clientgroupId}`,
              action: !_this.clientgroupId ? 'create' : 'update',
              callback: function () {
                eventBus.$emit('proceed-edit-form-popup');
              }
            });
          }
        });
      });
    },
    destroyed() {
      eventBus.$off([
        this.clientgroupsData.controller + '_handle-status-select',
        'save-edit-form-popup'
      ]);
    },
    watch: {
      clientgroupId(val) {
        get.call(this, { id: val });
      }
    }
  };
</script>