<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row"
                :buttons="[
                    'restore', 'delete', 'open', 'activate',
                    { name: 'availPresets', type: 'button', icon: 'el-icon-tickets', title: 'Доступные тренинги' }
                  ]"
                :controller="clientgroupsData.controller" :baseUrl="clientgroupsData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одной группы клиентов</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as clientgroupsData } from '@/models/clientgroupsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "clientgroupsTable",
    data() {
      return {
        clientgroupsData: clientgroupsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Описание', field: 'description', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.clientgroupsData.status ? this.clientgroupsData.status[row.status].className : '';
      },
    },
  };
</script>