<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !dataObj}">
        <el-form
            v-if="dataObj"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
            <input type="hidden" v-model="dataObj.status" name="status"/>

            <mdb-row>
                <mdb-col sm="6" lg="4">
                    <el-form-item label="Название" prop="name">
                        <el-input
                            v-model.trim="dataObj.name"
                            type="text" id="name" name="name"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col sm="6" lg="4">
                    <el-form-item label="Публичный ID (ключ)" prop="public_key">
                        <el-input
                            v-model.trim="dataObj.public_key"
                            type="text" id="public_key" name="public_key"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col sm="6" lg="4">
                    <el-form-item label="Секретный ключ API" prop="api_secret_key">
                        <el-input
                            v-model.trim="dataObj.api_secret_key"
                            type="text" id="api_secret_key" name="api_secret_key"
                        />
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col>
                    <el-form-item label="Дополнительные сведения">
                        <el-input
                            v-model.trim="dataObj.additional_data"
                            type="textarea" name="additional_data" :rows="3"
                        />
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col sm="6" xl="4">
                    <item-status-form-select
                        :status="dataObj.status" :itemStatuses="paysystemsData.status"
                        :controller="paysystemsData.controller"
                        inputLabel="Состояние"
                    />
                </mdb-col>
            </mdb-row>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(paysystemsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as paysystemsData, dataInit as paysystemsDataInit,
    get, update, validateUnique
  } from '@/models/paysystemsModel';
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';

  export default {
    name: "paysystemsSinglePage",
    data() {
      return {
        paysystemsData: paysystemsData,
        dataObj: paysystemsDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название!', trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          public_key: [
            { required: true, message: 'Введите идентификатор!', trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          api_secret_key: [
            { required: true, message: 'Введите секретный ключ!', trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
        },
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.paysystemId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.paysystemsData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку счетов',
            link: this.config.URLPRE + this.paysystemsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbRow,
      mdbCol,
      itemStatusFormSelect,
    },
    created() {
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...paysystemsDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.paysystemId,
        });
      }

      const _this = this;
      eventBus.$on(this.paysystemsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([this.paysystemsData.controller + '_handle-status-select']);
    }
  };
</script>