<template>
    <component :is="currentComponent" />
</template>

<script>
  import paysystemsListPage from './paysystemsListPage';
  import paysystemsSinglePage from './paysystemsSinglePage';

  export default {
    name: 'paysystemsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.paysystemId ? 'paysystemsSinglePage' : 'paysystemsListPage';
      }
    },
    components: {
      paysystemsListPage,
      paysystemsSinglePage
    },
  }
</script>