<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !orderDataObj}">
        <template v-if="orderDataObj">
            <el-form
                id="dataForm" class="mt-4 flex-label-width"
                :model="orderDataObj" :rules="rules" ref="dataForm"
                :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
                label-width="120px" :disabled="!payAllow"
            >
                <input v-if="orderDataObj.id" type="hidden" name="id" v-model="orderDataObj.id"/>
                <input type="hidden" v-model="orderDataObj.status" name="status"/>
                <input type="hidden" v-model="orderDataObj.client_id" name="client_id"/>
                <input type="hidden" v-model="orderDataObj.product_id" name="product_id"/>
                <input type="hidden" v-model="orderDataObj.option_id" name="option_id"/>
                <input type="hidden" v-model="orderDataObj.promocode" name="promocode"/>

                <el-tabs v-model="activeTab" tab-position="top">
                    <el-tab-pane name="generalTab" label="Основные данные">
                        <mdb-row>
                            <mdb-col col="6">
                                <products-form-select
                                    :productId="orderDataObj.product_id" :controller="ordersData.controller"
                                    :disabled="!orderDataObj.product_id || orderDataObj.status !== 'new'"
                                    inputLabel="Продукт"
                                />
                            </mdb-col>
                            <mdb-col col="6">
                                <product-options-form-select
                                    prop="option_id"
                                    :optionId="orderDataObj.option_id" :productId="orderDataObj.product_id" :controller="ordersData.controller"
                                    :disabled="!orderDataObj.product_id || orderDataObj.status !== 'new'" inputLabel="Предложение"
                                    :extFields="{
                                      promocode: orderDataObj.promocode ? orderDataObj.promocode : '',
                                      client_id: orderDataObj.client_id ? orderDataObj.client_id : '',
                                    }"
                                />
                            </mdb-col>
                        </mdb-row>
                        <mdb-row>
                            <mdb-col>
                                <client-autocomplete
                                    prop="client_id" inputLabel="Клиент"
                                    :clientId="orderDataObj.client_id" :controller="ordersData.controller"
                                    :disabled="orderDataObj.status !== 'new'"
                                />
                            </mdb-col>
                        </mdb-row>
                        <mdb-row>
                            <mdb-col sm="6">
                                <el-form-item label="Стоимость">
                                    <el-input
                                        :value="orderDataObj.price" readonly
                                        type="number" id="price" name="price" :step="1"
                                    >
                                        <template slot="append">&#8381;</template>
                                    </el-input>
                                </el-form-item>
                            </mdb-col>
                            <mdb-col sm="6">
                                <el-form-item label="Оплачено">
                                    <el-input
                                        :value="orderDataObj.amount_paid" readonly
                                        type="number" id="amount_paid" name="amount_paid" :step="1"
                                    >
                                        <template slot="append">&#8381;</template>
                                    </el-input>
                                </el-form-item>
                            </mdb-col>
                        </mdb-row>
                        <mdb-row>
                            <mdb-col sm="6">
                                <el-form-item label="Промокод" prop="promocodeTest">
                                    <el-input
                                        v-model.trim="orderDataObj.promocodeTest"
                                        type="text" id="promocodeTest" name="promocodeTest"
                                        :disabled="orderDataObj.status !== 'new'"
                                    />
                                </el-form-item>
                            </mdb-col>
                            <mdb-col sm="6">
                                <el-form-item label="Оплатить..." prop="pay_amount">
                                    <el-input
                                        v-model.number="orderDataObj.pay_amount"
                                        type="number" id="pay_amount" name="pay_amount"
                                        :step="1" :max="orderDataObj.price - orderDataObj.amount_paid"
                                        :disabled="!productOptionDataObj"
                                    >
                                        <template slot="append">&#8381;</template>
                                    </el-input>
                                </el-form-item>
                            </mdb-col>
                        </mdb-row>
                        <mdb-row>
                            <mdb-col>
                                <el-form-item label="Замечания менеджера">
                                    <el-input
                                        v-model.trim="orderDataObj.admin_message"
                                        type="textarea" name="admin_message" :rows="3"
                                    />
                                </el-form-item>
                            </mdb-col>
                        </mdb-row>
                        <mdb-row>
                            <mdb-col sm="6" xl="4">
                                <item-status-form-select
                                    :status="orderDataObj.status" :itemStatuses="ordersData.status"
                                    :disabled="true" :controller="ordersData.controller"
                                    inputLabel="Состояние"
                                />
                            </mdb-col>
                        </mdb-row>
                    </el-tab-pane>
                    <el-tab-pane v-if="!isNew" name="tagsTab" label="Теги">
                        <order-tags :orderId="orderDataObj.id" />
                    </el-tab-pane>
                    <el-tab-pane v-if="orderDataObj.client_message" name="clientMessageTab" label="Замечания клиента">
                        <p style="white-space: pre-wrap">{{orderDataObj.client_message}}</p>
                    </el-tab-pane>
                </el-tabs>

                <div class="text-center mt-3">
                    <el-button
                        v-if="orderDataObj.status === 'new' && activeTab === 'generalTab'"
                        type="primary" plain
                        :loading="!orderDataObj || getDataLoading(ordersData.controller + '_updateData')"
                        @click="saveData('dataForm')"
                    >
                        {{isNew ? 'Создать' : 'Сохранить'}}
                    </el-button>
                    <el-button
                        v-if="payAllow && !isNew"
                        type="success" plain
                        :loading="getDataLoading(ordersData.controller + '_orderPay_' + orderDataObj.id)"
                        @click="pay('dataForm')"
                    >
                        Оплатить
                    </el-button>
                </div>
            </el-form>
        </template>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as ordersData, dataInit as orderDataInit, get, update, validateAmount, pay } from '@/models/ordersModel';
  import { validatePromo } from '@/models/promocodesModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import productsFormSelect from '@/components/_common/productsFormSelect';
  import productOptionsFormSelect from '@/components/_common/productOptionsFormSelect';
  import clientAutocomplete from '@/components/_common/clientAutocomplete';
  import orderTags from '@/components/orders/orderTags';

  export default {
    name: "ordersSinglePage",
    mixins: [headMixin],
    data() {
      return {
        ordersData: ordersData,
        orderDataObj: orderDataInit,
        orderDataObjClone: null,
        productOptionDataObj: null,
        toolsMenu: [],
        rules: {
          option_id: [
            { required: true, message: 'Укажите предложение!', trigger: 'change' },
          ],
          client_id: [
            { required: true, message: 'Укажите клиента!', trigger: 'change' },
          ],
          promocodeTest: [
            { validator: this.validatePromo, trigger: 'blur' }
          ],
          number: [
            { type: 'number', message: 'Введите корректное значение', trigger: 'change' },
          ],
          pay_amount: [
            { type: 'number', message: 'Введите корректное значение', trigger: 'change' },
            { validator: validateAmount.bind(this), trigger: 'blur' },
          ],
        },
        activeTab: 'generalTab',
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.orderId === 'new';
      },
      payAllow() {
        return this.orderDataObj.status === 'new' || this.orderDataObj.status === 'partially_paid';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid)
            update.call(this, {
              formName: form,
              dataVar: 'orderDataObj',
              action: this.isNew ? 'create' : 'update',
              callback: function () {
                if (this.isNew)
                    this.$router.push({ path: this.config.URLPRE + this.ordersData.baseUrl + '/' + this.orderDataObj.id });
              }.bind(this)
            });
        });
      },
      pay(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            pay.call(this, {
              id: this.orderDataObj.id,
              amount: this.orderDataObj.pay_amount,
              callback: function () {
                get.call(this, {
                  id: this.orderDataObj.id,
                  dataVar: 'orderDataObj',
                  callback: function () {
                    switch (this.orderDataObj.status) {
                      case "partially_paid":
                        this.$notify.warning({title: this.config.NOTIFY.warningTitle, message: 'Заказ частично оплачен'});
                        break;

                      default:
                        this.$notify.success({title: this.config.NOTIFY.successTitle, message: 'Заказ полностью оплачен!'});
                    }
                  }.bind(this)
                });
              }.bind(this)
            })
          }
        });
      },
      updateProductOption(productOptionDataObj) {
        this.productOptionDataObj = productOptionDataObj;

        if (productOptionDataObj) {
          this.orderDataObj.option_id = productOptionDataObj.id ? productOptionDataObj.id : '';
          this.orderDataObj.price = this.orderDataObj.pay_amount = productOptionDataObj.price;
        }
      },
      validatePromo(rule, value, callback) {
        validatePromo.call(this, {
          callback: function (res) {
            if (res) this.orderDataObj.promocode = this.orderDataObj.promocodeTest;
            else this.orderDataObj.promocode = '';
          }.bind(this)
        }, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку заказов',
            link: this.config.URLPRE + this.ordersData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbRow,
      mdbCol,
      itemStatusFormSelect,
      productsFormSelect,
      productOptionsFormSelect,
      clientAutocomplete,
      orderTags
    },
    created() {
      this.updateMeta({title: 'Заказ #' + this.$route.params.orderId});
      this.buildToolsMenu();

      if (!this.isNew)
        get.call(this, {
          id: this.$route.params.orderId,
          dataVar: 'orderDataObj',
        });

      const _this = this;
      eventBus.$on(this.ordersData.controller + '_handle-status-select', (data) => _this.orderDataObj.status = data);
      eventBus.$on(this.ordersData.controller + '_handle-product-select', (data) => _this.orderDataObj.product_id = data);
      eventBus.$on(this.ordersData.controller + '_handle-product-option-select', (data) => _this.updateProductOption(data));
      eventBus.$on(this.ordersData.controller + '_handle-client-select', (data) => _this.orderDataObj.client_id = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.ordersData.controller + '_handle-status-select',
        this.ordersData.controller + '_handle-product-select',
        this.ordersData.controller + '_handle-product-option-select',
        this.ordersData.controller + '_handle-client-select'
      ]);
    }
  };
</script>