<template>
    <vue-good-table
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :isLoading="getDataLoading(itemsData.controller + '_getListAdv')"
        :totalRows="totalRows"
        :pagination-options="{
            enabled: true,
            nextLabel: 'Дальше',
            prevLabel: 'Назад',
            rowsPerPageLabel: '',
            ofLabel: 'из',
            allLabel: 'Всех',
        }"
        :rows="tableRows"
        :columns="tableColumns"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls' && (props.row.status !== 'deleted' || (props.row.status === 'deleted' && props.row.resource_string_id.toString().length))"
                :row="props.row" :buttons="[
                    'restore', 'delete', 'edit', 'activate',
                    {
                      name: 'deleteSeriously', type: 'danger', icon: 'el-icon-delete', title: 'Удалить файл с сервера',
                      vif: admin.permissions.items_delete_with_content
                    },
                    {
                      name: 'download', type: 'info', icon: 'el-icon-download', title: 'Скачать',
                      loading: getDataLoading(itemsData.controller + '_getData_download_' + props.row.id), vif: admin.permissions.items_download_from_vimeo
                    }
                  ]"
                :controller="itemsData.controller" :baseUrl="itemsData.baseUrl"
            />
            <span v-else-if="props.column.field === 'dt_controls' && props.row.status === 'deleted' && !props.row.resource_string_id.toString().length" class="red-text">Файл удален навсегда :'(</span>
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного видеофайла</div>
    </vue-good-table>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as itemsData } from '@/models/itemsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "itemsTable",
    data() {
      return {
        itemsData: itemsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', filterOptions: { enabled: true }, tdClass: 'text-left'},
          {label: 'Системное имя', field: 'system_name', sortable: true, thClass: 'text-center', filterOptions: { enabled: true }, tdClass: 'text-left'},
          {label: 'Загружен', field: 'created', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Изменен', field: 'updated', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
      }
    },
    props: ['tableRows', 'totalRows'],
    computed: {
      ...mapState('commonStore', ['config', 'admin']),
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      onPageChange(params) { eventBus.$emit(this.itemsData.controller + '_page-change', params) },
      onSortChange(params) { eventBus.$emit(this.itemsData.controller + '_sort-change', params) },
      onColumnFilter(params) { eventBus.$emit(this.itemsData.controller + '_column-filter', params) },
      onPerPageChange(params) { eventBus.$emit(this.itemsData.controller + '_per-page-change', params) },
      rowStyleClassFn(row) {
        return row.status in this.itemsData.status ? this.itemsData.status[row.status].className : '';
      },
    },
  };
</script>