<template>
    <!-- Default form login -->
    <el-form
        id="loginForm" :model="loginForm" :rules="rules" ref="loginForm" class="auth-form"
        @submit.native.prevent
    >
        <p class="h4 text-center mb-3">{{config.APPTITLE}}</p>
        <el-form-item prop="identity">
            <el-input
                v-model.trim="loginForm.identity"
                type="email" id="identity" name="identity" placeholder="E-mail"
                @keyup.enter.native="crmlogin('loginForm')"
            />
        </el-form-item>
        <el-form-item prop="password">
            <el-input
                v-model.trim="loginForm.password"
                type="password" id="password" name="password" placeholder="Пароль"
                @keyup.enter.native="crmlogin('loginForm')"
            />
        </el-form-item>
        <el-form-item class="text-center">
            <el-button
                type="primary" plain :loading="getDataLoading(adminsData.controller + '_auth_login')"
                @click="crmlogin('loginForm')"
            >
                Войти
            </el-button>
        </el-form-item>
    </el-form>
    <!-- Default form login -->
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex';
  import { data as adminsData, auth } from '@/models/adminsModel';

    export default {
      name: 'Login',
      data() {
        return {
          adminsData: adminsData,
          responseObj: null,
          loginForm: {
            identity: '',
            password: '',
          },
          rules: {
            identity: [
              { required: true, message: 'Логин не может быть пустым', trigger: 'change' },
              { type: 'email', message: 'Введите корректный e-mail', trigger: ['blur'] }
            ],
            password: [
              { required: true, message: 'Пароль не может быть пустым', trigger: 'change' },
            ],
          }
        };
      },
      props: ['siteTitle'],
      computed: {
        ...mapState('commonStore', ['config', 'dataLoading']),
        ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
      },
        methods: {
          ...mapActions('commonStore', ['setAdmin', 'updateDataLoading', 'updateAccessTokenData']),
          crmlogin: function(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                auth.call(this, {
                  action: 'login',
                  dataVar: 'responseObj',
                  fields: {
                    identity: this.loginForm.identity,
                    password: this.loginForm.password
                  },
                  callback: function () {
                    this.setAdmin(this.responseObj.data.data);
                  }.bind(this)
                });
              }
            });
          },
          changeFormTo: function (formComponent) {
            this.$emit('change-form-to', formComponent)
          },
        },
    }
</script>

<style>

</style>