<template>
    <!-- Default form login -->
    <form class="auth-form">
        <p class="h4 text-center mb-3">Восстановление пароля</p>
        <label for="defaultFormLoginEmailEx" class="grey-text">Ваш email</label>
        <input
            type="email" id="defaultFormLoginEmailEx" class="form-control"
            @keyup.enter.native="changeFormTo('loginForm')"
        />
        <p class="font-small blue-text d-flex justify-content-end pb-3" @click="changeFormTo('LoginForm')">
            Вернуться на <a href="#" class="blue-text ml-1"> страницу входа</a>
        </p>
        <div class="text-center mt-2">
            <button class="btn btn-indigo" type="button">Отправить</button>
        </div>
    </form>
    <!-- Default form login -->
</template>

<script>
    export default {
        name: 'Login',
        components: {},
        data() {
            return {

            };
        },
        methods: {
            changeFormTo: function (formComponent) {
                this.$emit('change-form-to', formComponent)
            }
        },
    }
</script>

<style>

</style>