<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(admingroupsData.controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <admingroups-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />

        <edit-form-popup
            :controller="admingroupsData.controller"
            :showPopup="editFormPopupData.showPopup" :heading="editFormPopupData.heading"
        >
            <admingroups-form :admingroupId="admingroupId" />
        </edit-form-popup>
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as admingroupsData, getList, deleteFn, setStatus } from '@/models/admingroupsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import admingroupsTable from '@/components/admingroups/admingroupsTable';
  import editFormPopup from '@/components/_common/editFormPopup';
  import admingroupsForm from '@/components/admingroups/admingroupsForm';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "admingroupsListPage",
    mixins: [headMixin],
    data() {
      return {
        admingroupsData: admingroupsData,
        admingroupId: null,
        data: null,
        tableRows: null,
        toolsMenu: [],
        currentTab: 'active',
        editFormPopupData: {
          heading: '',
          showPopup: false,
          loading: false,
        }
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.admingroupsData.status};
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      admingroupsTable,
      editFormPopup,
      admingroupsForm
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      openFormPopup(id) {
        this.admingroupId = id;
        this.editFormPopupData = {
          heading: id ? 'Редактирование группы' : 'Новая группа',
          showPopup: true,
          loading: false,
        }
      },
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.admingroupsData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      buildToolsMenu() {
        if (this.admin.permissions.paysystems) {
          let createEvent = function () {
            this.openFormPopup(null);
          };

          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Добавить группу',
                  event: createEvent.bind(this),
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      this.updateMeta({title: 'Список групп сотрудников'});
      this.buildToolsMenu();

      let _this = this;
      let getListCb = function() {
        this.setTableRows();
      };

      getList.call(this, { callback: getListCb.bind(this) });

      eventBus.$on('close-edit-form-popup', () => _this.editFormPopupData.showPopup = false);
      eventBus.$on('save-edit-form-popup', () => _this.editFormPopupData.loading = true);
      eventBus.$on('proceed-edit-form-popup', () => {
        getList.call(_this, { callback: getListCb.bind(_this) });
        _this.editFormPopupData.showPopup = false;
      });
      eventBus.$on(this.admingroupsData.controller + '_open-row-handle', (data) => _this.openFormPopup(data));
      eventBus.$on(this.admingroupsData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            getList.call(_this, { callback: getListCb.bind(_this) });
          }.bind(_this)
        })
      });
      eventBus.$on(
        [this.admingroupsData.controller + '_restore-row-handle', this.admingroupsData.controller + '_activate-row-handle'],
        (data) => {
            setStatus.call(_this, {
              id: data,
              status: 'active',
              statusList: _this.admingroupsData.status,
              callback: function () {
                getList.call(_this, { callback: getListCb.bind(_this) });
              }.bind(_this)
            })
      });
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        'close-edit-form-popup',
        'save-edit-form-popup',
        'proceed-edit-form-popup',
        this.admingroupsData.controller + '_open-row-handle',
        this.admingroupsData.controller + '_delete-row-handle',
        this.admingroupsData.controller + '_restore-row-handle',
        this.admingroupsData.controller + '_activate-row-handle',
      ]);
    }
  };
</script>