<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'discount_type'" :class="privilegesData.privilegeDiscountTypes[props.row.discount_type].className">
              {{privilegesData.privilegeDiscountTypes[props.row.discount_type].text}}
          </span>
          <table-controls-cell
              v-else-if="props.column.field === 'dt_controls'"
              :row="props.row" :buttons="['restore', 'delete', 'edit']"
              :controller="privilegesData.controller" :baseUrl="privilegesData.baseUrl"
          />
          <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного промокода</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as privilegesData } from '@/models/privilegesModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "privilegesTable",
    data() {
      return {
        privilegesData: privilegesData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Тип', field: 'discount_type', sortable: true, html: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Значение', field: 'discount', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Клиенты', field: 'clients_count', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.privilegesData.status ? this.privilegesData.status[row.status].className : '';
      },
    },
  };
</script>