<template>
    <el-form
        id="loginForm" :model="loginForm" :rules="rules" ref="loginForm" class="auth-form"
        @submit.native.prevent
    >
        <p class="h4 text-center mb-3"><small>{{config.APPMEMBERTITLE}}</small><br/>Авторизация</p>
        <el-form-item prop="identity">
            <el-input
                v-model.trim="loginForm.identity"
                type="email" id="identity" name="identity" placeholder="E-mail"
                @keyup.enter.native="membersLogin('loginForm')"
            />
        </el-form-item>
        <el-form-item prop="password">
            <el-input
                v-model.trim="loginForm.password"
                type="password" id="password" name="password" placeholder="Пароль"
                @keyup.enter.native="membersLogin('loginForm')"
            />
        </el-form-item>
        <div class="mt-0 d-flex flex-column align-items-end">
            <a href="#" class="black-text" @click.prevent="changeFormTo('RecoveryForm')">Забыли пароль?</a>
            <a href="#" class="black-text" @click.prevent="changeFormTo('RegistrationForm')">Регистрация</a>
        </div>
        <el-form-item class="text-center mt-3">
            <el-button
                type="primary" plain :loading="getDataLoading(clientsData.controller + '_auth_login')"
                @click="membersLogin('loginForm')"
            >
                Войти
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { data as clientsData, auth } from '@/models/clientsModel';

  export default {
    name: 'Login',
    data() {
      return {
        clientsData: clientsData,
        responseObj: null,
        loginForm: {
          identity: '',
          password: '',
        },
        rules: {
          identity: [
            { required: true, message: 'Логин не может быть пустым', trigger: 'change' },
            { type: 'email', message: 'Введите корректный e-mail', trigger: ['blur'] }
          ],
          password: [
            { required: true, message: 'Пароль не может быть пустым', trigger: 'change' },
          ],
        }
      };
    },
    computed: {
      ...mapState('commonStore', ['config', 'dataLoading']),
      ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading', 'setMember', 'updateAccessTokenData']),
      membersLogin: function(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            auth.call(this, {
              action: 'login',
              dataVar: 'responseObj',
              fields: {
                identity: this.loginForm.identity,
                password: this.loginForm.password
              },
              callback: function () {
                this.setMember(this.responseObj.data.data);
              }.bind(this)
            });
          }
        });
      },
      changeFormTo: function (formComponent) {
        this.$emit('change-form-to', formComponent)
      },
    },
  }
</script>