<template>
    <el-form
        id="recoveryForm" :model="recoveryForm" :rules="rules" ref="recoveryForm" class="auth-form"
        @submit.native.prevent
    >
        <p class="h4 text-center mb-3"><small>{{config.APPMEMBERTITLE}}</small><br/>Восстановление пароля</p>
        <el-form-item prop="identity">
            <el-input
                v-model.trim="recoveryForm.identity"
                type="text" id="identity" name="identity" placeholder="E-mail аккаунта для восстановления"
                @keyup.enter.native="member_recovery_pass('recoveryForm')"
            />
        </el-form-item>
        <div class="mt-0 d-flex flex-column align-items-end">
            <a href="#" class="black-text" @click.prevent="changeFormTo('LoginForm')">Форма авторизации</a>
            <a href="#" class="black-text" @click.prevent="changeFormTo('RegistrationForm')">Регистрация</a>
        </div>
        <el-form-item class="text-center mt-3">
            <el-button
                type="primary" plain :loading="getDataLoading(clientsData.controller + '_auth_remindPassLink')"
                @click="member_recovery_pass('recoveryForm')"
            >
                Отправить
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex';
  import {data as clientsData, auth} from '@/models/clientsModel';

    export default {
        name: 'Recovery',
        data() {
          return {
            clientsData: clientsData,
            recoveryForm: {
              identity: '',
            },
            rules: {
              identity: [
                { required: true, message: 'Введите e-mail', trigger: 'change' },
                { type: 'email', message: 'Введите корректный e-mail', trigger: ['blur'] }
              ],
            }
          };
        },
      computed: {
        ...mapState('commonStore', ['config', 'dataLoading']),
        ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
      },
        methods: {
          ...mapActions('commonStore', ['updateDataLoading']),
          member_recovery_pass: function(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                auth.call(this, {
                  action: 'remindPassLink',
                  successMsg: 'Письмо с ссылкой для восстановления пароля выслано на ваш e-mail',
                  fields: {
                    identity: this.recoveryForm.identity
                  },
                  callback: function () {
                    this.$emit('change-form-to', 'LoginForm');
                  }.bind(this)
                });
              }
            });
          },
          changeFormTo: function (formComponent) {
            this.$emit('change-form-to', formComponent)
          }
        },
    }
</script>