<template>
    <el-form
        id="registerForm" :model="registerForm" :rules="rules" ref="registerForm" class="auth-form"
        @submit.native.prevent
    >
        <p class="h4 text-center mb-3"><small>{{config.APPMEMBERTITLE}}</small><br/>Регистрация</p>
        <input type="hidden" name="instagram_name" v-model="registerForm.instagram_name"/>
        <input type="hidden" name="phone" v-model="registerForm.phone"/>

        <el-form-item prop="email">
            <el-input
                v-model.trim="registerForm.email"
                type="text" id="email" name="email" placeholder="E-mail"
                @keyup.enter.native="member_registration('registerForm')"
            />
        </el-form-item>
        <div class="mt-0 d-flex flex-column align-items-end">
            <a href="#" class="black-text" @click.prevent="changeFormTo('LoginForm')">Форма авторизации</a>
            <a href="#" class="black-text" @click.prevent="changeFormTo('RecoveryForm')">Восстановить пароль</a>
        </div>
        <el-form-item class="text-center mt-3">
            <el-button type="primary" plain :loading="getDataLoading(clientsData.controller + '_auth_register')" @click="member_registration('registerForm')">
                Зарегистрироваться
            </el-button>
        </el-form-item>
    </el-form>
</template>

<script>
  import { mapGetters, mapState, mapActions } from 'vuex';
  import { data as clientsData, auth } from '@/models/clientsModel';

    export default {
        name: 'Registration',
        data() {
          return {
            clientsData: clientsData,
            registerForm: {
              instagram_name: '',
              email: '',
              phone: '',
            },
            rules: {
              email: [
                { required: true, message: 'e-mail не может быть пустым', trigger: 'change' },
                { type: 'email', message: 'Введите корректный e-mail', trigger: 'change' },
              ],
            }
          };
        },
      computed: {
        ...mapState('commonStore', ['config', 'dataLoading']),
        ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
      },
        methods: {
          ...mapActions('commonStore', ['updateDataLoading']),
          member_registration: function(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                auth.call(this, {
                  action: 'register',
                  successMsg: 'Регистрация прошла успешно! Данные с доступами высланы на ваш e-mail',
                  fields: {
                    email: this.registerForm.email,
                    phone: this.registerForm.phone,
                    instagram_name: this.registerForm.instagram_name,
                  },
                  callback: function () {
                    this.$emit('change-form-to', 'LoginForm');
                  }.bind(this)
                });
              }
            });
          },
          changeFormTo: function (formComponent) {
            this.$emit('change-form-to', formComponent)
          },
        },
    }
</script>

<style>

</style>