<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !dataObj}">
        <el-form
            v-if="dataObj"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <input v-if="dataObj.id" v-model="dataObj.id" type="hidden" name="id"/>
            <input v-model="dataObj.timezone" type="hidden" name="timezone"/>
            <input v-model="dataObj.status" type="hidden" name="status"/>

            <el-tabs v-model="activeTab" tab-position="top">
                <el-tab-pane name="generalTab" label="Основные данные">
                    <mdb-row>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="E-mail" prop="email">
                                <el-input
                                    v-model.trim="dataObj.email"
                                    type="email" id="email" name="email"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item v-if="isNew" label="Пароль" prop="password">
                                <el-input
                                    v-model.trim="dataObj.password"
                                    type="password" id="password" name="password"
                                />
                            </el-form-item>
                            <el-form-item v-else label="Пароль">
                                <el-input
                                    v-model.trim="dataObj.password_new"
                                    type="password" id="password" name="password"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Имя" prop="first_name">
                                <el-input
                                    v-model.trim="dataObj.first_name"
                                    type="text" id="first_name" name="first_name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Фамилия" prop="last_name">
                                <el-input
                                    v-model.trim="dataObj.last_name"
                                    type="text" id="last_name" name="last_name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Телефон" prop="phone">
                                <input type="hidden" id="phone" name="phone" v-model.trim="dataObj.phone"/>
                                <el-input
                                    v-model.trim="dataObj.phoneMasked"
                                    type="tel" v-mask="['### ###-##-##', '#### ###-##-##', '##### ###-##-##', '###### ###-##-##']"
                                >
                                    <template slot="prepend">+</template>
                                </el-input>
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <timezones-form-select
                                :timezone="dataObj.timezone" :controller="adminsData.controller"
                                inputLabel="Часовой пояс"
                            />
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <item-status-form-select
                                :status="dataObj.status" :itemStatuses="adminsData.status" :controller="adminsData.controller"
                                inputLabel="Состояние"
                            />
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
                <el-tab-pane name="permissionsTab" label="Права">
                    <div :class="{'py-3 d-flex justify-content-center': getDataLoading(adminsData.controller + '_getPermissionsList')}">
                        <mdb-row v-if="!getDataLoading(adminsData.controller + '_getPermissionsList') && permissionsDataObj">
                            <input type="hidden" name="permissions[dummy]" value="1" />
                            <mdb-col xl="6" v-for="(val, key) in permissionsDataObj" :key="key">
                                <mdb-input type="checkbox" :id="key+'_check'" :name="'permissions['+key+']'" v-model="dataObj.permissions[key]" :label="val" />
                                <hr/>
                            </mdb-col>
                        </mdb-row>
                        <mdb-spinner v-else big crazy />
                    </div>
                </el-tab-pane>
                <el-tab-pane name="groupsTab" label="Группы">
                    <admins-groups :admingroups="dataObj.admingroups" :adminId="dataObj.id" />
                </el-tab-pane>
            </el-tabs>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(adminsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as adminsData, dataInit as adminsDataInit,
    get, getList, update,
    validateString, validateUnique
  } from '@/models/adminsModel';
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import timezonesFormSelect from '@/components/_common/timezonesFormSelect';
  import adminsGroups from '@/components/admins/adminsGroups';

  export default {
    name: "adminsSinglePage",
    data() {
      return {
        adminsData: adminsData,
        dataObj: adminsDataInit,
        dataObjClone: null,
        permissionsDataObj: null,
        toolsMenu: [],
        rules: {
          password: [
            { required: true, message: 'Пароль не может быть пустым', trigger: 'change' },
          ],
          first_name: [
            { required: true, message: 'Имя не может быть пустым', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
          ],
          last_name: [
            { validator: validateString.bind(this), trigger: 'change' },
          ],
          email: [
            { required: true, message: 'e-mail не может быть пустым', trigger: ['change', 'blur'] },
            { type: 'email', message: 'Введите корректный e-mail', trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          phone: [
            { validator: this.validateUnique, trigger: 'blur' }
          ],
        },
        activeTab: 'generalTab',
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.adminId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.adminsData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку сотрудников',
            link: this.config.URLPRE + this.adminsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbRow,
      mdbCol,
      mdbInput,
      itemStatusFormSelect,
      timezonesFormSelect,
      adminsGroups
    },
    created() {
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...adminsDataInit};
      } else {
        let getCb = function() {
          if (Object.keys(this.dataObj.permissions).length)
            this.dataObj.permissions = Object.fromEntries(Object.entries(this.dataObj.permissions).map(([key, value]) => [key, !!value]));

          getList.call(this, {
            getListMethod: 'getPermissionsList',
            dataVar: 'permissionsDataObj',
          });
        };

        get.call(this, {
          id: this.$route.params.adminId,
          callback: getCb.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.adminsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on(this.adminsData.controller + '_handle-timezone-select', (data) => _this.dataObj.timezone = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.adminsData.controller + '_handle-status-select',
        this.adminsData.controller + '_handle-timezone-select',
      ]);
    },
    watch: {
      'dataObj.phoneMasked': function (val) {
        this.dataObj.phone = val ? '+' + val.replace(/\D/g,'') : '';
      }
    }
  };
</script>