<template>
    <component :is="currentComponent" />
</template>

<script>
  import adminsListPage from './adminsListPage';
  import adminsSinglePage from './adminsSinglePage';

  export default {
    name: 'adminsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.adminId ? 'adminsSinglePage' : 'adminsListPage';
      }
    },
    components: {
      adminsListPage,
      adminsSinglePage
    },
  }
</script>