<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
          <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
          <input type="hidden" v-model="dataObj.discount_type" name="discount_type"/>
          <input type="hidden" v-model="dataObj.status" name="status"/>

          <mdb-row>
            <mdb-col>
              <el-form-item label="Название" prop="name">
                <el-input
                    v-model.trim="dataObj.name"
                    type="text" id="name" name="name"
                />
              </el-form-item>
            </mdb-col>
          </mdb-row>
          <mdb-row>
            <mdb-col lg="4">
              <el-form-item label="Размер" prop="discount">
                <el-input
                    v-model.number="dataObj.discount"
                    type="number" id="discount" name="discount" :step="1"
                />
              </el-form-item>
            </mdb-col>
            <mdb-col sm="6" lg="4">
              <el-form-item label="Тип">
                <el-select v-model="dataObj.discount_type">
                  <el-option
                      v-for="(item, key) in privilegesData.privilegeDiscountTypes"
                      :key="key" :label="item.text" :value="key"
                  />
                </el-select>
              </el-form-item>
            </mdb-col>
            <mdb-col sm="6" xl="4">
              <item-status-form-select
                  :status="dataObj.status" :itemStatuses="privilegesData.status"
                  :controller="privilegesData.controller"
                  inputLabel="Состояние"
              />
            </mdb-col>
          </mdb-row>
          <mdb-row>
            <mdb-col>
              <div class="form-group">
                <el-form-item label="Описание">
                  <el-input
                      v-model.trim="dataObj.description"
                      type="textarea" name="description" :rows="3"
                  />
                </el-form-item>
              </div>
            </mdb-col>
          </mdb-row>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(privilegesData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as privilegesData, dataInit as privilegesDataInit,
    get, update, validateUnique, validateString
  } from '@/models/privilegesModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';

  export default {
    name: "privilegesSinglePage.vue",
    mixins: [headMixin],
    data() {
      return {
        privilegesData: privilegesData,
        dataObj: privilegesDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          discount: [
            { required: true, message: 'Укажите размер', trigger: 'change' },
          ],
        },
        pickerOptions: {
          firstDayOfWeek: 1,
        },
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.promoId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.privilegesData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку промокодов',
            link: this.config.URLPRE + this.privilegesData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol,
      itemStatusFormSelect,
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новая льгота' : 'Страница льготы' + (this.dataObj.name ? ': ' + this.dataObj.name : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...privilegesDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.privilegeId,
          callback: function () {
            this.updateMeta({title: 'Льгота: ' + this.dataObj.name});
          }.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.privilegesData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.privilegesData.controller + '_handle-status-select',
      ]);
    }
  };
</script>