<template>
    <component :is="currentComponent" />
</template>

<script>
  import privilegesListPage from './privilegesListPage';
  import privilegesSinglePage from './privilegesSinglePage';

  export default {
    name: 'privilegesIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.privilegeId ? 'privilegesSinglePage' : 'privilegesListPage';
      }
    },
    components: {
      privilegesListPage,
      privilegesSinglePage
    },
  }
</script>