<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(privilegesData.controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <privileges-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as privilegesData, getList, deleteFn, setStatus } from '@/models/privilegesModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import privilegesTable from '@/components/privileges/privilegesTable';

  export default {
    name: "privilegesListPage",
    mixins: [headMixin],
    data() {
      return {
        privilegesData: privilegesData,
        data: null,
        tableRows: null,
        toolsMenu: [],
        currentTab: 'active',
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.privilegesData.status};
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      privilegesTable
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.privilegesData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      buildToolsMenu() {
        if (this.admin.permissions.paysystems) {
          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Добавить льготу',
                  link: this.config.URLPRE + this.privilegesData.baseUrl + '/new',
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      this.updateMeta({title: 'Список льгот'});
      this.buildToolsMenu();

      let _this = this;
      let getListCb = function() {
        this.setTableRows();
      };

      getList.call(this, { callback: getListCb.bind(this) });

      eventBus.$on(this.privilegesData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            getList.call(_this, { callback: getListCb.bind(_this) });
          }.bind(_this)
        })
      });
      eventBus.$on(
        [this.privilegesData.controller + '_restore-row-handle', this.privilegesData.controller + '_activate-row-handle'],
        (data) => {
          setStatus.call(_this, {
            id: data,
            status: 'active',
            statusList: _this.privilegesData.status,
            callback: function () {
              getList.call(_this, { callback: getListCb.bind(_this) });
            }.bind(_this)
          })
        });
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);
    }
  };
</script>