<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !orderDataObj.id || !productOptionDataObj.id}">
        <el-form
            v-if="orderDataObj.id && productOptionDataObj.id"
            id="dataForm" class="mt-4 flex-label-width"
            :model="orderDataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <h1>Заказ #{{orderDataObj.id}}</h1>
            <mdb-tbl responsive>
                <mdb-tbl-body>
                    <tr>
                        <td>Продукт:</td>
                        <td class="font-weight-bold">{{additionalData.product.name}}</td>
                    </tr>
                    <tr>
                        <td>Предложение:</td>
                        <td class="font-weight-bold">{{additionalData.option.name}}</td>
                    </tr>
                    <tr>
                        <td class="align-middle">Стоимость:</td>
                        <td class="font-weight-bold h3">{{orderDataObj.price}} &#8381;</td>
                    </tr>
                    <tr v-if="payAllow">
                        <td class="align-middle">Долг:</td>
                        <td class="font-weight-bold h3 red-text">{{orderDuty}} &#8381;</td>
                    </tr>
                    <tr v-if="recurrentAllow">
                        <td class="align-middle">Автопродление по подписке:</td>
                        <td>
                            <el-switch
                                style="display: block"
                                v-model="is_recurrent"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                active-text="Да"
                                inactive-text="Нет">
                            </el-switch>
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="2" class="font-weight-bold h3 text-center" :class="statusStyleClassFn">
                            Заказ находится в статусе: {{statusTextFn}}
                        </td>
                    </tr>
                    <tr v-if="productOptionDataObj.is_partial_available && payAllow">
                        <td class="align-middle">Сумма оплаты:</td>
                        <td>
                            <div class="float-right">
                                <el-form-item prop="pay_amount">
                                    <el-input
                                        v-model.number="orderDataObj.pay_amount"
                                        type="number" id="pay_amount" name="pay_amount"
                                        :step="1" min="1" :max="orderDuty"
                                        :disabled="!productOptionDataObj.id"
                                        style="min-width: 200px"
                                    >
                                        <template slot="append">&#8381;</template>
                                    </el-input>
                                </el-form-item>
                            </div>
                        </td>
                    </tr>
                </mdb-tbl-body>
            </mdb-tbl>
            <template v-if="orderDataObj.client_message">
                <ab-divider>Ваши отметки</ab-divider>
                <p style="white-space: pre-wrap;">{{orderDataObj.client_message}}</p>
            </template>
            <div class="d-flex flex-column align-items-center mt-3">
                <el-button
                    v-if="payAllow"
                    type="primary" plain
                    :loading="!orderDataObj || getDataLoading('order_' + orderDataObj.id + '_PayRequest')"
                    @click="payRequest('dataForm')"
                >
                    Заплатить {{+orderDataObj.pay_amount}} &#8381;
                </el-button>
                <blockquote
                    v-if="productOptionDataObj.is_partial_available && payAllow"
                    class="blockquote bq-primary order-blockquote mt-3"
                >
                    <p class="bq-title">Доступна рассрочка платежа</p>
                    <p>Условия приобретения в рассрочку:</p>
                    <ul>
                        <li>Минимальный первый взнос: <strong>{{productOptionDataObj.partial_threshold}} &#8381;</strong></li>
                        <li>Доступно не более <strong>{{productOptionDataObj.partial_available_duration}}</strong> дней до полного погашения задолженности</li>
                    </ul>
                </blockquote>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import headMixin from "@/mixins/headMixin";
  import { data as ordersData, dataInit as orderDataInit, get, validateAmount } from '@/models/ordersModel';
  import { dataInit as productOptionDataInit, get as getProductOptionDataObj } from '@/models/productOptionsModel';
  import { mdbContainer, mdbSpinner, mdbTbl, mdbTblBody } from 'mdbvue';
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "ordersSinglePage",
    mixins: [headMixin],
    data() {
      return {
        ordersData: ordersData,
        orderDataObj: orderDataInit,
        is_recurrent: true,
        productOptionDataObj: productOptionDataInit,
        toolsMenu: [],
        rules: {
          pay_amount: [
            { required: true, message: 'Введите сумму!', trigger: 'change' },
            { type: 'number', message: 'Введите корректное значение', trigger: 'change' },
            { validator: validateAmount.bind(this), trigger: 'blur' },
          ],
        },
        loadingOverlay: null,
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config', 'member']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      additionalData() {
        return JSON.parse(this.orderDataObj.additional_data);
      },
      payAllow() {
        return this.orderDataObj.status === 'new' || this.orderDataObj.status === 'partially_paid';
      },
      recurrentAllow() {
        return this.orderDataObj.status === 'new' && !!this.productOptionDataObj.duration
      },
      orderDuty() {
        return this.orderDataObj.price - this.orderDataObj.amount_paid;
      },
      statusStyleClassFn() {
        return this.ordersData.status.hasOwnProperty(this.orderDataObj.status) ? this.ordersData.status[this.orderDataObj.status].className : '';
      },
      statusTextFn() {
        return this.ordersData.status.hasOwnProperty(this.orderDataObj.status) ? this.ordersData.status[this.orderDataObj.status].text : 'хз :(';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setMemberToolsMenu', 'deleteMemberToolsMenu', 'updateDataLoading', 'updateMeta']),
      payRequest(formRef) {
        let _this = this;

        this.$refs[formRef].validate(function (valid) {
          if (valid) {
            if (_this.additionalData && _this.additionalData.hasOwnProperty('product') && _this.additionalData.product.hasOwnProperty('paysystem_public_key')) {
              const loadingKey = 'order_' + _this.orderDataObj.id + '_PayRequest';

              if (!_this.getDataLoading(loadingKey)) {
                _this.updateDataLoading({[loadingKey]: true});

                /* eslint-disable */
                let widget = new cp.CloudPayments({language: "ru-RU"});
                let data = {};

                if (_this.is_recurrent && _this.recurrentAllow) {
                  let receipt = {
                    Items: [
                      {
                        label: _this.config.APPTITLE + '. Подписка: ' + _this.additionalData.product.name + _this.additionalData.option.name,
                        price: _this.orderDataObj.price,
                        quantity: 1, //количество
                        amount: _this.orderDataObj.price, //сумма
                        vat: 0,
                        method: 0, // тег-1214 признак способа расчета - признак способа расчета
                        object: 0, // тег-1212 признак предмета расчета - признак предмета товара, работы, услуги, платежа, выплаты, иного предмета расчета
                      }
                    ],
                    isBso: false, //чек является бланком строгой отчётности
                    amounts:
                      {
                        electronic: _this.orderDataObj.price, // Сумма оплаты электронными деньгами
                        advancePayment: 0.00, // Сумма из предоплаты (зачетом аванса) (2 знака после запятой)
                        credit: 0.00, // Сумма постоплатой(в кредит) (2 знака после запятой)
                        provision: 0.00 // Сумма оплаты встречным предоставлением (сертификаты, др. мат.ценности) (2 знака после запятой)
                      }
                  };

                  if (_this.additionalData.client.email) receipt.email = _this.additionalData.client.email;
                  if (_this.additionalData.client.phone) receipt.phone = _this.additionalData.client.phone;

                  data.cloudPayments = {
                    recurrent: {
                      amount: _this.orderDataObj.price,
                      interval: 'Day',
                      period: _this.productOptionDataObj.duration,
                      customerReceipt: receipt
                    }
                  };
                }

                widget.charge({ // options
                    publicId: _this.additionalData.product.paysystem_public_key,  //id из личного кабинета
                    description: 'Оплата заказа #' + _this.orderDataObj.id, //назначение
                    amount: _this.orderDataObj.pay_amount, //сумма
                    currency: 'RUB', //валюта
                    invoiceId: _this.orderDataObj.id, //номер заказа  (необязательно)
                    accountId: _this.member.id, //идентификатор плательщика (необязательно)
                    skin: "modern", //дизайн виджета
                    data: data
                  },
                  function () { // success
                    _this.updateDataLoading({[loadingKey]: false});
                    _this.loadingOverlay = _this.$loading({
                      lock: true,
                      text: 'Обновление статуса заказа...',
                      spinner: 'el-icon-loading',
                      background: 'rgba(0, 0, 0, 0.7)'
                    });

                    let payCb = function () {
                      _this.loadingOverlay.close();
                    };

                    get.call(_this, {
                      id: _this.$route.params.orderId,
                      dataVar: 'orderDataObj',
                      callback: payCb.bind(_this)
                    });

                    _this.$notify.success({title: _this.config.NOTIFY.successTitle, message: 'Транзакция успешно завершена!'});

                  },
                  function (reason) { // fail
                    _this.updateDataLoading({[loadingKey]: false});
                    _this.$notify.error({title: _this.config.NOTIFY.failTitle, message: reason});
                  });
                /* eslint-enable */
              }
            } else {
              _this.$notify.error({title: _this.config.NOTIFY.failTitle, message: 'Не найден Public ID!'});
            }
          }
        });
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку заказов',
            link: this.config.URLPRE + this.ordersData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setMemberToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbTbl, mdbTblBody,
      abDivider
    },
    created() {
      this.updateMeta({title: 'Просмотр заказа #' + this.$route.params.orderId});
      this.buildToolsMenu();

      let getCb = function() {
        getProductOptionDataObj.call(this, {
          id: this.orderDataObj.option_id,
          dataVar: 'productOptionDataObj',
        });
      };

      get.call(this, {
        id: this.$route.params.orderId,
        dataVar: 'orderDataObj',
        callback: getCb.bind(this)
      });
    },
    destroyed() {
      this.deleteMemberToolsMenu(this.toolsMenu);
    },
    head: {
      script: [
        { type: 'text/javascript', src: 'https://widget.cloudpayments.ru/bundles/cloudpayments', async: true },
      ],
    }
  };
</script>

<style scoped lang="scss">
    .order-container {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order-blockquote {
        margin-bottom: 0;
        font-size: .95rem;

        p {
            padding: .2rem 0;
            font-size: 1rem;
            margin-bottom: 0;

            &.bq-title {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
</style>