<template>
    <component :is="currentComponent" />
</template>

<script>
  import ordersListPage from './ordersListPage';
  import ordersSinglePage from './ordersSinglePage';

  export default {
    name: 'ordersIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.orderId ? 'ordersSinglePage' : 'ordersListPage';
      }
    },
    components: {
      ordersListPage,
      ordersSinglePage
    },
  }
</script>