<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !dataObj}">
        <el-form
            v-if="dataObj"
            class="mt-4 flex-label-width"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <orders-form :status="status" :dataInit="dataObj" />
            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading('order_' + dataObj.id + '_PayRequest')"
                    @click="payRequest"
                >
                    Оплатить
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapGetters, mapActions, mapState } from 'vuex';
  import indexMixin from '@/members-zone/components/orders/index';
  import crudMixin from '@/members-zone/mixins/crudMixin';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import ordersForm from '@/members-zone/components/orders/views/ordersForm';

  export default {
    name: "ordersSinglePage",
    mixins: [indexMixin, crudMixin],
    computed: {
      ...mapState('commonStore', ['member']),
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      mdbContainer,
      mdbSpinner,
      ordersForm
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      payRequest() {
        const loadingKey = 'order_' + this.dataObj.id + '_PayRequest';

        if (!this.getDataLoading(loadingKey)) {
          this.updateDataLoading({[loadingKey]: true});

          let _this = this;
          let widget = new cp.CloudPayments({language: "ru-RU"});

          widget.charge({ // options
              publicId: 'pk_2e80d52e5c1c65d9b95a6bfeb02de',  //id из личного кабинета
              description: 'Оплата заказа #' + this.dataObj.id, //назначение
              amount: this.dataObj.price, //сумма
              currency: 'RUB', //валюта
              invoiceId: this.dataObj.id, //номер заказа  (необязательно)
              accountId: this.member.id, //идентификатор плательщика (необязательно)
              skin: "modern", //дизайн виджета
              data: {
                //myProp: 'myProp value' //произвольный набор параметров
              }
            },
            function (options) { // success
              _this.$notify.success({title: _this.config.NOTIFY.successTitle, message: 'Заказ успешно оплачен!'});
              _this.updateDataLoading({[loadingKey]: false});
            },
            function (reason, options) { // fail
              _this.$notify.error({title: _this.config.NOTIFY.failTitle, message: 'Ошибка: ' + reason});
              _this.updateDataLoading({[loadingKey]: false});
            });
        }
      }
    },
    created() {
      this.getData(this.$route.params.orderId);
    },
  };
</script>