<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <component
                    v-if="!tab.lazyLoad || (tab.lazyLoad && tab.id === currentTab)"
                    :is="tab.component"
                    :tableColumns="tableColumns" :tableRows="tableRows[tab.id]"
                    :tableOptions="tableOptions" :controller="controller" :status="status" :baseUrl="baseUrl"
                />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import indexMixin from '@/admin-zone/components/admins/index';
  import listMixin from '@/mixins/listMixin';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/admin-zone/helpers/tabs';
  import adminsTable from '@/admin-zone/components/admins/views/adminsTable';
  import admingroupsTab from '@/admin-zone/components/admins/views/admingroupsTab';

  export default {
    name: "adminsListPage",
    mixins: [indexMixin, listMixin],
    data() {
      return {
        toolsMenu: [],
        currentTab: 'active',
        tabs: [
          {text: 'Все', id: 'all', component: 'adminsTable'},
          {text: 'Активные', id: 'active', component: 'adminsTable'},
          {text: 'Неактивные', id: 'inactive', component: 'adminsTable'},
          {text: 'Удаленные', id: 'deleted', component: 'adminsTable'},
          {text: 'Группы', id: 'admingroupsTab', component: 'admingroupsTab', lazyLoad: true},
        ],
        tableColumns: [
          {label: 'Имя', field: 'first_name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Фамилия', field: 'last_name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'E-mail', field: 'email', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'first_name', type: 'asc'}}
        }
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading']),
      tableRows() {
        if (this.data) {
          this.data = this.data.filter(admin => !admin.is_super && admin.id != this.admin.id);
          let dataFiltered = {};
          let tabsFiltered = this.tabs.filter(t => t.id !== 'all');
          dataFiltered.all = [...this.data];
          tabsFiltered.forEach(tab => {
            dataFiltered[tab.id] = this.data.filter(el => el.status == tab.id);
          });
          return dataFiltered;
        }

        return null;
      }
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      adminsTable,
      admingroupsTab
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu']),
      buildToolsMenu() {
        if (this.admin.permissions.admins) {
          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Добавить сотрудника',
                  link: this.config.URLPRE + this.baseUrl + '/new',
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      this.buildToolsMenu();
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);
    }
  };
</script>