<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit']"
                :controller="presetsData.controller" :baseUrl="presetsData.baseUrl"
            />
            <template v-else-if="props.column.field == 'preset_type'">
                {{presetsData.presetTypes[props.row.preset_type].text}}
            </template>
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одной коллекции</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as presetsData } from '@/models/presetsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "presetsTable",
    data() {
      return {
        presetsData: presetsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Тип', field: 'preset_type', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.presetsData.status ? this.presetsData.status[row.status].className : '';
      },
    },
  };
</script>