<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!data && getDataLoading(presetsData.controller + '_getList'))}">
        <template v-if="data && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="7">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите тренинг для предоставления ее клиенту">
                        <el-option
                            v-for="item in presetsTrainings"
                            :key="item.id" :label="item.name" :value="item.id"
                            :disabled="!!itemsListSelected.find(i => i.preset_id == item.id || (!i.hasOwnProperty('preset_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="3">
                    <el-date-picker
                        v-model="validUntil" format="dd.MM.yyyy" value-format="yyyy-MM-dd [23:59:59]" :picker-options="pickerOptions"
                        placeholder="Доступно до..." id="preset_validUntil" class="mt-2 mt-sm-0 ml-sm-2"
                    />
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected.length" />
            <draggable
                v-model="itemsListSelected" group="items" :draggable="false"
                class="list-group mt-3 mt-sm-0"
            >
                <transition-group type="transition">
                    <div class="list-group-item d-flex flex-column align-items-start" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <strong>
                            {{'preset_name' in element ? element.preset_name : 'name' in element ? element.name : ''}}
                        </strong>
                        <small class="font-smaller">
                            Доступен до:
                            <strong>
                                ~
                                <template v-if="element.expiration_dt && parseInt(element.expiration_dt)">
                                    {{element.expiration_dt | moment('DD.MM.YYYY')}}
                                </template>
                                <span v-else class="green-text">Бессрочно</span>
                                ~
                            </strong>
                        </small>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { getListGlobal, updateGlobal, deleteGlobal } from '@/models/_baseModel';
  import { data as presetsData, getList } from '@/models/presetsModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "clientsPresets",
    data() {
      return {
        presetsData: presetsData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'clients_presets',
        itemsListSelected: null,
        selectedItem: null,
        validUntil: null,
        pickerOptions: {
          firstDayOfWeek: 1,
        },
      }
    },
    props: ['clientId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      presetsTrainings() {
        return this.data.filter(el => el.preset_type == 'training');
      }
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            client_id: this.clientId,
            preset_id: this.selectedItem,
            expiration_dt: this.validUntil ? this.validUntil : "",
            origin: 'manual',
            origin_id: 999999,
          },
          successMsg: 'Тренинг успешно предоставлен клиенту! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
            this.validUntil = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          fields: { client_id: this.clientId },
          successMsg: 'Доступ к тренингу прекращен!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
          }.bind(this)
        });
      },
    },
    created() {
      getListGlobal.call(this, {
        controller: this.controller,
        getListMethod: 'getPresetsListByClientId',
        fields: { client_id: this.clientId },
        dataVar: 'itemsListSelected',
        callback: function () {
          getList.call(this);
        }.bind(this)
      });
    }
  };
</script>