<template>
    <mdb-tbl v-if="clientgroups.length" class="text-center" responsive>
        <mdb-tbl-head>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Дата добавления</th>
            </tr>
        </mdb-tbl-head>
        <mdb-tbl-body>
            <tr scope="row" v-for="(group, index) in clientgroups" :key="group.id">
                <th scope="row">{{index + 1}}</th>
                <td class="text-left">{{group.name}}</td>
                <td>{{group.rel_created | moment('DD.MM.YYYY')}}</td>
            </tr>
        </mdb-tbl-body>
    </mdb-tbl>
    <p v-else class="py-2 text-center">Вы не состоите ни в одной группе</p>
</template>

<script>
  import { mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';

  export default {
    name: "clientsGroupsMember",
    props: ['clientgroups'],
    components: {
      mdbTbl,
      mdbTblHead,
      mdbTblBody
    },
  };
</script>