<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!data && getDataLoading(privilegesData.controller + '_getList'))}">
        <template v-if="data && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="7">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите льготу для назначения ее клиенту">
                        <el-option
                            v-for="item in activePrivileges"
                            :key="item.id" :label="fullItem(item)" :value="item.id"
                            :disabled="!!itemsListSelected.find(i => i.priv_id == item.id || (!i.hasOwnProperty('priv_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="3">
                    <el-date-picker
                        v-model="validUntil" format="dd.MM.yyyy" value-format="yyyy-MM-dd [23:59:59]" :picker-options="pickerOptions"
                        placeholder="Действует до..." id="priv_validUntil" class="mt-2 mt-sm-0 ml-sm-2"
                    />
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected.length"/>
            <draggable
                v-model="itemsListSelected" group="items" :draggable="false"
                class="list-group mt-3 mt-sm-0"
            >
                <transition-group type="transition">
                    <div class="list-group-item d-flex flex-column align-items-start" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <span>
                            <strong>{{element.name}}</strong>
                            ({{element.discount}} {{element.discount_type === 'percent' ? '%' : 'р.'}})
                        </span>
                        <small class="font-smaller">
                            Действует до:
                            <strong>
                                ~
                                <template v-if="element.valid_until">{{element.valid_until | moment('DD.MM.YYYY')}}</template>
                                <span v-else class="green-text">Бессрочно</span>
                                ~
                            </strong>
                        </small>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { updateGlobal, deleteGlobal } from '@/models/_baseModel';
  import { data as privilegesData, getList } from '@/models/privilegesModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "clientsPrivileges",
    data() {
      return {
        privilegesData: privilegesData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'cli_priv',
        itemsListSelected: this.privileges,
        selectedItem: null,
        validUntil: null,
        pickerOptions: {
          firstDayOfWeek: 1,
        },
      }
    },
    props: ['privileges', 'clientId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      activePrivileges() {
        return this.data.filter(el => el.status == 'active');
      }
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            cli_id: this.clientId,
            priv_id: this.selectedItem,
            valid_until: this.validUntil ? this.validUntil : ""
          },
          successMsg: 'Льгота успешно назначена клиенту! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
            this.validUntil = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          fields: { client_id: this.clientId },
          successMsg: 'Клиент успешно лишен льготы!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
          }.bind(this)
        });
      },
      fullItem(item) {
        return item.name + ' (' + item.discount + (item.discount_type === 'percent' ? '%' : 'р.') + ')';
      }
    },
    created() {
      getList.call(this);
    },
    watch: {
      privileges(val) {
        this.itemsListSelected = [...val];
      }
    }
  };
</script>