<template>
    <mdb-tbl v-if="privileges.length" class="text-center" responsive>
        <mdb-tbl-head>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Размер</th>
                <th>Предоставлена до...</th>
            </tr>
        </mdb-tbl-head>
        <mdb-tbl-body>
            <tr scope="row" v-for="(priv, index) in privileges" :key="priv.id">
                <th scope="row">{{index + 1}}</th>
                <td class="text-left">{{priv.name}}</td>
                <td>{{priv.discount}} {{priv.discount_type === 'percent' ? '%' : 'р.'}}</td>
                <td>
                    <template v-if="priv.valid_until">{{priv.valid_until | moment('DD.MM.YYYY')}}</template>
                    <template v-else><strong>~ <span class="green-text">Бессрочно</span> ~</strong></template>
                </td>
            </tr>
        </mdb-tbl-body>
    </mdb-tbl>
    <p v-else class="py-2 text-center">Ни одной льготы вам не предоставлено</p>
</template>

<script>
  import { data as privilegesData } from '@/models/privilegesModel';
  import { mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';

  export default {
    name: "clientsPrivilegesMember",
    props: ['privileges'],
    data() {
      return {
        privilegesData: privilegesData,
      }
    },
    components: {
      mdbTbl,
      mdbTblHead,
      mdbTblBody
    },
  };
</script>