<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!data && getDataLoading(clientgroupsData.controller + '_getList'))}">
        <template v-if="data && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="10">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите группу для включения в нее клиента">
                        <el-option
                            v-for="item in data"
                            :key="item.id" :label="item.name" :value="item.id"
                            :disabled="!!itemsListSelected.find(i => i.group_id == item.id || (!i.hasOwnProperty('group_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected.length" />
            <draggable
                v-model="itemsListSelected" group="items" :draggable="false"
                class="list-group mt-3 mt-sm-0"
            >
                <transition-group type="transition">
                    <div class="list-group-item d-flex flex-column align-items-start" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <strong>{{element.name}}</strong>
                        <small class="font-smaller">
                            Добавлен:
                            <strong v-if="element.hasOwnProperty('rel_created')">{{element.rel_created | moment('DD.MM.YYYY')}}</strong>
                            <strong v-else>{{element.created | moment('DD.MM.YYYY')}}</strong>
                        </small>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { updateGlobal, deleteGlobal } from '@/models/_baseModel';
  import { data as clientgroupsData, getList } from '@/models/clientgroupsModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "clientsGroups",
    data() {
      return {
        clientgroupsData: clientgroupsData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'clients_groups',
        itemsListSelected: this.clientgroups,
        selectedItem: null,
      }
    },
    props: ['clientgroups', 'clientId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            client_id: this.clientId,
            group_id: this.selectedItem,
          },
          successMsg: 'Клиент успешно добавлен в группу! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          fields: { client_id: this.clientId },
          successMsg: 'Клиент успешно исключен из группы!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
          }.bind(this)
        });
      },
    },
    created() {
      getList.call(this);
    },
    watch: {
      clientgroups(val) {
        this.itemsListSelected = [...val];
      }
    }
  };
</script>