<template>
    <div
        v-if="tableRows"
        :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(ordersData.controller + '_getListByClientIdWithPromocodesUsed')}"
    >
        <tabs
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <clients-promocodes-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
    </div>
    <mdb-spinner v-else big crazy />
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { getList } from '@/models/ordersModel';
  import { data as promocodesData } from '@/models/promocodesModel';
  import { mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import clientsPromocodesTable from '@/components/clients/clientsPromocodesTable';

  export default {
    name: "clientsPromocodes",
    data() {
      return {
        data: null,
        promocodesData: promocodesData,
        tableRows: null,
        currentTab: 'active',
      }
    },
    props: {
      clientId: {
        required: true,
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.promocodesData.status};
      },
    },
    components: {
      mdbSpinner,
      clientsPromocodesTable,
      tabs
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.promocodesData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.promocode_status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      if (this.clientId) {
        getList.call(this, {
          getListMethod: 'getListByClientIdWithPromocodesUsed',
          fields: { 'client_id': this.clientId },
          callback: function () {
            this.setTableRows();
          }.bind(this)
        });
      }
    },
    watch: {
      clientId(val) {
        if (val) {
          getList.call(this, {
            getListMethod: 'getListByClientIdWithPromocodesUsed',
            fields: { 'client_id': val },
            callback: function () {
              this.setTableRows();
            }.bind(this)
          });
        } else {
          this.data = null;
        }
      }
    }
  }
</script>