<template>
    <vue-good-table
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :isLoading="getDataLoading(clientsData.controller + '_getListAdv')"
        :totalRows="totalRows"
        :pagination-options="{
            enabled: true,
            nextLabel: 'Дальше',
            prevLabel: 'Назад',
            rowsPerPageLabel: '',
            ofLabel: 'из',
            allLabel: 'Всех',
        }"
        :rows="tableRows"
        :columns="tableColumns"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit', 'activate']"
                :controller="clientsData.controller" :baseUrl="clientsData.baseUrl"
            />
            <template v-else-if="props.column.field === 'priv_names_list'">
                <template v-if="props.row.priv_names_list">
                    <el-tag
                        :key="priv" v-for="priv in props.row.priv_names_list.split(',')"
                        class="mr-2 mb-2"
                    >
                        {{priv}}
                    </el-tag>
                </template>
                <span v-else></span>
            </template>
            <template v-else-if="props.column.field === 'groups_names_list'">
                <template v-if="props.row.groups_names_list">
                    <el-tag
                        :key="group" v-for="group in props.row.groups_names_list.split(',')"
                        class="mr-2 mb-2"
                    >
                        {{group}}
                    </el-tag>
                </template>
                <span v-else></span>
            </template>
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного клиента</div>
    </vue-good-table>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as clientsData } from '@/models/clientsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "clientsTable",
    data() {
      return {
        clientsData: clientsData,
        tableColumns: [
          {label: 'Фамилия', field: 'last_name', sortable: true, html: true, filterOptions: {enabled: true}, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Имя', field: 'first_name', sortable: true, thClass: 'text-center', filterOptions: {enabled: true}, tdClass: 'text-center'},
          {label: 'E-mail', field: 'email', sortable: true, thClass: 'text-center', filterOptions: {enabled: true}, tdClass: 'text-center'},
          {label: 'Льготы', field: 'priv_names_list', sortable: true, thClass: 'text-center', filterOptions: {enabled: true}, tdClass: 'text-center'},
          {label: 'Группы', field: 'groups_names_list', sortable: true, thClass: 'text-center', filterOptions: {enabled: true}, tdClass: 'text-center'},
          {label: 'Изменен', field: 'updated', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
      }
    },
    props: ['tableRows', 'totalRows'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      onPageChange(params) { eventBus.$emit(this.clientsData.controller + '_page-change', params) },
      onSortChange(params) { eventBus.$emit(this.clientsData.controller + '_sort-change', params) },
      onColumnFilter(params) { eventBus.$emit(this.clientsData.controller + '_column-filter', params) },
      onPerPageChange(params) { eventBus.$emit(this.clientsData.controller + '_per-page-change', params) },
      rowStyleClassFn(row) {
        return row.status in this.clientsData.status ? this.clientsData.status[row.status].className : '';
      },
    },
  };
</script>