<template>
    <div :class="{'d-flex align-items-center justify-content-center py-3': getDataLoading(docsData.controller + '_getList')}">
        <template v-if="!getDataLoading(docsData.controller + '_getList')">
            <el-upload
                ref="upload"
                :action="getAPIURL + '/' + docsData.controller + '/create'"
                :headers="{ 'auth-x': token }"
                :accept="config.CLIENTS_FILES.docTypes"
                :data="inputData"
                :file-list="fileList"
                :on-success="handleSuccess"
                :on-error="handleError"
                :on-preview="handlePictureCardPreview"
                :before-upload="handleUpload"
                :before-remove="handleRemove"
                :auto-upload="false"
                multiple
            >
                <el-button slot="trigger" size="small" type="primary" plain>Выбрать файлы</el-button>
                <el-button size="small" type="success" plain @click="submitUpload" class="ml-2">Загрузить</el-button>
                <div slot="tip" class="el-upload__tip">Изображения или документы</div>
            </el-upload>
            <el-dialog :visible.sync="dialog.visible" :class="{'loading-dialog': dialog.loading}">
                <img v-show="!dialog.loading" width="100%" :src="dialog.imageUrl" :alt="dialog.imageName" @load="onPreviewLoad">
                <mdb-spinner v-if="dialog.loading" big crazy />
            </el-dialog>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { data as docsData, dataInit as docsDataInit, getList } from '@/models/docsModel';
  import { mdbSpinner } from 'mdbvue';

  export default {
    name: "docsUploader",
    data() {
      return {
        docsData: docsData,
        fileList: docsDataInit.fileList,
        dialog: {
          loading: false,
          imageUrl: null,
          imageName: null,
          visible: false,
        },
      }
    },
    props: ['inputData'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbSpinner
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      submitUpload() {
        this.$refs.upload.submit();
      },
      handleUpload(file) {
        const sizeOver = file.size / 1024 / 1024 > this.config.CLIENTS_FILES.sizeLimit;

        if (sizeOver) {
          this.$notify.error({title: this.config.NOTIFY.failTitle, message: 'Размер файла не должен превышать ' + this.config.CLIENTS_FILES.sizeLimit + 'MB'});
        }

        return !sizeOver;
      },
      handleRemove(file, fileList) {
        if ('id' in file) {
          let _this = this;
          let bodyFormData = new FormData();
          bodyFormData.append('id', file.id);

          this.axios({
            method: 'post',
            url: this.getAPIURL + '/' + docsData.controller + '/delete',
            data: bodyFormData,
            headers: {
              'content-type': 'multipart/form-data',
              'auth-x': this.token,
            }
          })
            .then(function (response) {
              if (response.data.status) {
                _this.$notify.error({title: _this.config.NOTIFY.failTitle, message: response.data.message});
                return false;
              }
            })
            .catch(function (response) {
              console.log(response);
              return false;
            });
        }
      },
      handleSuccess(response, file, fileList) {
        if ('response' in file) {
          if (!file.response.status) {
            file.id = file.response.data.id;
            file.url = file.response.data.url;
          }
          else {
            this.$notify.error({title: this.config.NOTIFY.failTitle, message: 'Ошибка загрузки файла: ' + file.response.data.name});
          }
        }
      },
      handleError(err, file, fileList) {
        this.$notify.error({title: this.config.NOTIFY.failTitle, message: err});
      },
      handlePictureCardPreview(file) {
        this.dialog.loading = true;
        let mime = 'mime_type' in file ? file.mime_type : file.raw.type;
        let url = 'id' in file ? file.url : URL.createObjectURL(file.raw);

        if (~mime.indexOf('image/')) {
          this.dialog.imageUrl = url;
          this.dialog.imageName = file.name;
          this.dialog.visible = true;
        } else {
          window.open(file.url);
        }
      },
      onPreviewLoad() {
        this.dialog.loading = false;
      }
    },
    created() {
      getList.call(this, {
        fields: this.inputData,
        dataVar: 'fileList'
      });
    }
  };
</script>