<template>
    <mdb-container>

    </mdb-container>
</template>

<script>
  import { mapActions } from 'vuex';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer } from 'mdbvue';

  export default {
    name: 'Dashboard',
    mixins: [headMixin],
    components: {
      mdbContainer,
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta']),
    },
    created() {
      this.updateMeta({title: 'Информационная панель'});
    }
  }
</script>
