<template>
    <div>
        <mdb-modal :show="showVideoPopup" @close="$emit('close-video-popup')" centered>
            <mdb-modal-header>
                <h2>Эфир: {{currentStream.name}}</h2>
            </mdb-modal-header>
            <mdb-modal-body>
                <template v-if="currentStream.stream_url">
                    <vue-plyr
                        v-if="~['youtube', 'vimeo'].indexOf(currentStream.stream_origin)"
                        ref="plyr"
                    >
                        <div
                            :data-plyr-provider="currentStream.stream_origin"
                            :data-plyr-embed-id="currentStream.stream_url"
                        ></div>
                    </vue-plyr>
                    <vue-plyr v-else>
                        <video :poster="currentStream.stream_logo" :src="currentStream.stream_url"></video>
                    </vue-plyr>
                </template>
                <span v-else>Ссылка на эфир не доступна или неправильная</span>
            </mdb-modal-body>
        </mdb-modal>
    </div>
</template>

<script>
  import { mdbModal, mdbModalHeader, mdbModalBody } from 'mdbvue';

  export default {
    name: "instagramStream",
    components: {
      mdbModal,
      mdbModalBody,
      mdbModalHeader
    },
    props: ['showVideoPopup', 'currentStream'],
  };
</script>