<template>
  <div>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field == 'stream_status'" :class="instaAccountsData.streamStatuses[props.row.stream_status].className">
            <a v-if="props.row.stream_status == 'active'" href="#" @click.prevent="showStream(props.row)">{{streamStatuses[props.row.stream_status].text}}</a>
            <template v-else>{{streamStatuses[props.row.stream_status].text}}</template>
        </span>
        <table-controls-cell
            v-if="props.column.field === 'dt_controls'"
            :row="props.row" :buttons="['restore', 'delete', 'edit']"
            :controller="instaAccountsData.controller" :baseUrl="instaAccountsData.baseUrl"
        />
        <template v-else>{{props.formattedRow[props.column.field]}}</template>
      </template>
      <div slot="emptystate">Не найдено ни одного аккаунта Instagram</div>
    </vue-good-table>
    <instagram-stream
        v-if="currentStream"
        :showVideoPopup="showVideoPopup" :currentStream="currentStream"
        v-on:close-video-popup="showVideoPopup=false"
    />
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as instaAccountsData } from '@/models/instaAccountsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';
  import instagramStream from "@/components/instaAccounts/instagramStream";

  export default {
    name: "instaAccountsTable",
    data() {
      return {
        instaAccountsData: instaAccountsData,
        tableColumns: [
          {label: 'Имя', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Ник', field: 'user_name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'user_name', type: 'asc'}}
        },
        showVideoPopup: false,
        currentStream: null,
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell,
      instagramStream
    },
    methods: {
      showStream(stream) {
        this.currentStream = stream;
        this.showVideoPopup = true;
      },
      rowStyleClassFn(row) {
        return row.status in this.instaAccountsData.status ? this.instaAccountsData.status[row.status].className : '';
      },
    },
  };
</script>