<template>
    <component :is="currentComponent" />
</template>

<script>
  import clientsListPage from './clientsListPage';
  import clientsSinglePage from './clientsSinglePage';

  export default {
    name: 'clientsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.clientId ? 'clientsSinglePage' : 'clientsListPage';
      }
    },
    components: {
      clientsListPage,
      clientsSinglePage
    },
  }
</script>