<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !data}" fluid>
        <tabs
            v-if="data"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <clients-table v-if="tableRows[tab]" :tableRows="tableRows[tab]" :totalRows="totalRows[tab]" />
                <div v-else class="d-flex justify-content-center py-3">
                    <mdb-spinner big crazy />
                </div>
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as clientsData, getList, deleteFn, setStatus } from '@/models/clientsModel';
  import headMixin from "@/mixins/headMixin";
  import listPage from '@/mixins/listPageServerSide';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import clientsTable from '@/components/clients/clientsTable';

  export default {
    name: "clientsListPage",
    mixins: [headMixin, listPage],
    data() {
      return {
        clientsData: clientsData,
        data: null,
        tabs: {
          all: {text: 'Все', textPl: 'Все', className: '', params: []},
          hasPrivilege: {text: 'Все льготники', textPl: 'Все льготники', className: '', params: [['priv_list', '!=', '']]},
        },
        tableRows: {},
        totalRows: {},
        toolsMenu: [],
        currentTab: 'active',
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      clientsTable
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      loadItems() {
        getList.call(this, {
          getListMethod: 'getListAdv',
          fields: {
            server_params: JSON.stringify(this.tabs[this.currentTab].serverSideObj),
            search_params: JSON.stringify(this.tabs[this.currentTab].params)
          },
          callback: function () {
            this.tableRows[this.currentTab] = [...this.data.rows];
            this.totalRows[this.currentTab] = this.data.totalRows;
          }.bind(this)
        });
      },
      initTabs(callback) {
        this.tabs = {...this.tabs, ...this.clientsData.status};

        for (let tabKey in this.tabs) {
          this.tabs[tabKey].serverSideObj = {
            serverParams: {
              columnFilters: [],
              sort: [
                {field: 'last_name', type: 'asc'}
              ],
              page: 1,
              perPage: 30
            }
          };
          this.$set(this.tableRows, tabKey, []);
          this.$set(this.totalRows, tabKey, 0);
        }

        if (callback) callback();
      },
      buildToolsMenu() {
        if (this.admin.permissions.clients) {
          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Добавить клиента',
                  link: this.config.URLPRE + this.clientsData.baseUrl + '/new',
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
        this.loadItems();
      }
    },
    created() {
      this.updateMeta({title: 'Список клиентов'});
      this.buildToolsMenu();
      this.initTabs(function () {
        this.loadItems();
      }.bind(this));

      let _this = this;

      eventBus.$on(this.clientsData.controller + '_page-change', (data) => { _this.onPageChange(data) });
      eventBus.$on(this.clientsData.controller + '_sort-change', (data) => { _this.onSortChange(data) });
      eventBus.$on(this.clientsData.controller + '_column-filter', (data) => { _this.onColumnFilter(data) });
      eventBus.$on(this.clientsData.controller + '_per-page-change', (data) => { _this.onPerPageChange(data) });
      eventBus.$on(this.clientsData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            _this.loadItems();
          }.bind(_this)
        })
      });
      eventBus.$on(
        [this.clientsData.controller + '_restore-row-handle', this.clientsData.controller + '_activate-row-handle'],
        (data) => {
          setStatus.call(_this, {
            id: data,
            status: 'active',
            statusList: _this.clientsData.status,
            callback: function () {
              _this.loadItems();
            }.bind(_this)
          })
        });
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.clientsData.controller + '_page-change',
        this.clientsData.controller + '_sort-change',
        this.clientsData.controller + '_column-filter',
        this.clientsData.controller + '_per-page-change',
        this.clientsData.controller + '_delete-row-handle',
        this.clientsData.controller + '_restore-row-handle',
        this.clientsData.controller + '_activate-row-handle',
      ]);
    }
  };
</script>