<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <input v-if="dataObj.id" type="hidden" v-model="dataObj.id" name="id"/>
            <input type="hidden" v-model="dataObj.birthday" name="birthday"/>
            <input type="hidden" v-model="dataObj.timezone" name="timezone"/>
            <input type="hidden" v-model="dataObj.country_id" name="country_id"/>
            <input type="hidden" v-model="dataObj.city_id" name="city_id"/>
            <input type="hidden" v-model="dataObj.sex" name="sex"/>
            <input type="hidden" v-model="dataObj.status" name="status"/>

            <el-tabs v-model="activeTab" tab-position="top">
                <el-tab-pane name="generalTab" label="Основные данные">
                    <mdb-row>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Фамилия" prop="last_name">
                                <el-input
                                    v-model.trim="dataObj.last_name"
                                    type="text" id="last_name" name="last_name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Имя" prop="first_name">
                                <el-input
                                    v-model.trim="dataObj.first_name"
                                    type="text" id="first_name" name="first_name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Отчество">
                                <el-input
                                    v-model.trim="dataObj.patronym_name"
                                    type="text" id="patronym_name" name="patronym_name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Instagram" prop="user_insta_nick">
                                <el-input
                                    v-model.trim="dataObj.user_insta_nick"
                                    type="text" id="user_insta_nick" name="user_insta_nick"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="Телефон" prop="phone">
                                <input type="hidden" id="phone" name="phone" v-model.trim="dataObj.phone"/>
                                <el-input
                                    v-model.trim="dataObj.phoneMasked"
                                    type="tel" v-mask="['### ###-##-##', '#### ###-##-##', '##### ###-##-##', '###### ###-##-##']"
                                >
                                    <template slot="prepend">+</template>
                                </el-input>
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="E-mail" prop="email">
                                <el-input
                                    v-model.trim="dataObj.email"
                                    type="text" id="email" name="email"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item v-if="isNew" label="Пароль" prop="pass">
                                <el-input
                                    v-model.trim="dataObj.pass"
                                    type="password" id="pass" name="pass"
                                />
                            </el-form-item>
                            <el-form-item v-else label="Пароль">
                                <el-input
                                    v-model.trim="dataObj.pass_new"
                                    type="password" id="pass" name="pass"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <el-form-item label="ДР">
                                <el-date-picker
                                    v-model="dataObj.birthday" format="dd.MM.yyyy" value-format="yyyy-MM-dd" :picker-options="pickerOptions"
                                    placeholder="Дата рождения" id="birthday" class="mt-2 mt-sm-0"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <timezones-form-select
                                :timezone="dataObj.timezone" :controller="clientsData.controller"
                                inputLabel="Часовой пояс"
                            />
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <countries-form-select
                                :countryId="dataObj.country_id" :controller="clientsData.controller"
                                inputLabel="Страна" :clearable="true"
                            />
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <city-autocomplete
                                prop="city_id" inputLabel="Город"
                                :cityId="dataObj.city_id" :countryId="dataObj.country_id"
                                :controller="clientsData.controller"
                                :disabled="!dataObj.country_id"
                            />
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <human-sex-form-select
                                :sex="dataObj.sex" :sexList="clientsData.sex" :controller="clientsData.controller"
                                inputLabel="Пол"
                            />
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <item-status-form-select
                                :status="dataObj.status" :itemStatuses="clientsData.status" :controller="clientsData.controller"
                                inputLabel="Состояние"
                            />
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="privilegeTab" label="Льготы">
                    <clients-privileges :privileges="dataObj.privileges" :clientId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="groupsTab" label="Группы">
                    <clients-groups :clientgroups="dataObj.groups" :clientId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="documentsTab" label="Документы">
                    <docs-uploader :inputData="{ 'client_id': dataObj.id }" />
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="ordersTab" label="Заказы">
                    <client-orders :clientId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="presetsTab" label="Тренинги">
                    <clients-presets :clientId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="promocodesTab" label="Использованные промокоды">
                    <clients-promocodes :clientId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane name="avatarTab" label="Аватар">
                    <el-upload
                        class="avatar-uploader d-flex justify-content-center"
                        :action="getAPIURL + '/' + clientsData.controller + '/uploadAvatar'"
                        :headers="{ 'auth-x': token }"
                        :accept="config.CLIENTS_FILES.avaTypes"
                        :data="{ 'client_id': dataObj.id }"
                        :show-file-list="false"
                        :on-progress="handleAvatarProgress"
                        :on-success="handleAvatarSuccess"
                        :before-upload="handleUpload">
                        <img v-if="dataObj.url && !getDataLoading(clientsData.controller + '_uploadAvatar')" :src="dataObj.url" class="avatar">
                        <i v-else-if="!dataObj.url && !getDataLoading(clientsData.controller + '_uploadAvatar')" class="el-icon-plus avatar-uploader-icon" />
                        <mdb-spinner v-else big crazy />
                    </el-upload>
                </el-tab-pane>
            </el-tabs>

            <div class="text-center mt-3">
                <el-button
                    v-if="activeTab === 'generalTab'"
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(clientsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as clientsData, dataInit as clientsDataInit,
    get, getList, update,
    validateString, validateUnique
  } from '@/models/clientsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import countriesFormSelect from '@/components/_common/countriesFormSelect';
  import cityAutocomplete from '@/components/_common/cityAutocomplete';
  import humanSexFormSelect from '@/components/_common/humanSexFormSelect';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import timezonesFormSelect from '@/components/_common/timezonesFormSelect';
  import clientsPrivileges from '@/components/clients/clientsPrivileges';
  import clientsGroups from '@/components/clients/clientsGroups';
  import docsUploader from '@/components/clients/docsUploader';
  import clientsPresets from '@/components/clients/clientsPresets';
  import clientOrders from '@/components/orders/clientOrders';
  import clientsPromocodes from '@/components/clients/clientsPromocodes';

  export default {
    name: "clientsSinglePage",
    mixins: [headMixin],
    data() {
      return {
        clientsData: clientsData,
        dataObj: clientsDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          last_name: [
            { required: true, message: 'Введите фамилию', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
          ],
          first_name: [
            { required: true, message: 'Введите имя', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
          ],
          user_insta_nick: [
            { validator: this.validateUnique, trigger: 'blur' },
            { validator: validateString.bind(this), trigger: 'change' },
          ],
          phone: [
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          email: [
            { required: true, message: 'e-mail не может быть пустым', trigger: 'change' },
            { type: 'email', message: 'Введите корректный e-mail', trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          pass: [
            { required: true, message: 'Пароль не может быть пустым', trigger: 'change' },
          ]
        },
        activeTab: 'generalTab',
        pickerOptions: {
          firstDayOfWeek: 1,
        }
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.clientId === 'new';
      },
      shortName() {
        let surname = this.dataObj.last_name ? this.dataObj.last_name : '';
        let name = this.dataObj.first_name ? ' ' + this.dataObj.first_name[0] + '.' : '';
        let patronym_name = this.dataObj.patronym_name ? ' ' + this.dataObj.patronym_name[0] + '.' : '';

        return surname + name + patronym_name;
      }
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            update.call(this, {
              formName: form,
              action: this.isNew ? 'create' : 'update',
              callback: function () {
                if (this.isNew)
                    this.$router.push({ path: this.config.URLPRE + this.clientsData.baseUrl + '/' + this.dataObj.id });
              }.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, { oldDataObj: this.dataObjClone }, rule, value, callback);
      },
      handleAvatarProgress(event, file, fileList) {
        this.updateDataLoading({[this.clientsData.controller + '_uploadAvatar']: true});
      },
      handleAvatarSuccess(response, file) {
        if ('response' in file) {
          if (!file.response.status) {
            this.dataObj.url = 'url' in file.response.data ? file.response.data.url : URL.createObjectURL(file.raw);
            this.$notify.success({title: this.config.NOTIFY.successTitle, message: 'Аватар клиента успешно изменен! :)'});
          } else {
            this.$notify.error({title: this.config.NOTIFY.failTitle, message: 'Ошибка загрузки аватара!'});
          }
        }

        this.updateDataLoading({[this.clientsData.controller + '_uploadAvatar']: false});
      },
      handleUpload(file) {
        const sizeOver = file.size / 1024 / 1024 > this.config.CLIENTS_FILES.sizeLimit;

        if (sizeOver) {
          this.$notify.error({title: this.config.NOTIFY.failTitle, message: 'Размер файла не должен превышать ' + this.config.CLIENTS_FILES.sizeLimit + 'MB'});
        }

        return !sizeOver;
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку клиентов',
            link: this.config.URLPRE + this.clientsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbRow,
      mdbCol,
      countriesFormSelect,
      cityAutocomplete,
      humanSexFormSelect,
      itemStatusFormSelect,
      timezonesFormSelect,
      clientsPrivileges,
      clientsGroups,
      clientsPresets,
      docsUploader,
      clientOrders,
      clientsPromocodes
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новый клиент' : 'Карточка клиента' + (this.shortName ? ': ' + this.shortName : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...clientsDataInit};
      } else {
        get.call(this, { id: this.$route.params.clientId });
      }

      const _this = this;
      eventBus.$on(this.clientsData.controller + '_handle-country-select', (data) => _this.dataObj.country_id = data);
      eventBus.$on(this.clientsData.controller + '_handle-city-select', (data) => _this.dataObj.city_id = data);
      eventBus.$on(this.clientsData.controller + '_handle-sex-select', (data) => _this.dataObj.sex = data);
      eventBus.$on(this.clientsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on(this.clientsData.controller + '_handle-timezone-select', (data) => _this.dataObj.timezone = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.clientsData.controller + '_handle-country-select',
        this.clientsData.controller + '_handle-city-select',
        this.clientsData.controller + '_handle-sex-select',
        this.clientsData.controller + '_handle-status-select',
        this.clientsData.controller + '_handle-timezone-select',
      ]);
    },
    watch: {
      'dataObj.phoneMasked': function (val) {
        this.dataObj.phone = val ? '+' + val.replace(/\D/g,'') : '';
      }
    }
  };
</script>

<style scoped>
    .avatar-uploader >>> .el-upload {
        width: 280px;
        height: 280px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar-uploader >>> .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>