<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(prodoptsData.controller + '_getList')}" class="px-0" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <productoptions-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />

        <edit-form-popup
            :controller="prodoptsData.controller"
            :showPopup="editFormPopupData.showPopup" :heading="editFormPopupData.heading" size="md"
        >
            <productoptions-form :productId="productId" :prodoptId="prodoptId" />
        </edit-form-popup>
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as prodoptsData, getList, deleteFn, setStatus, update } from '@/models/productOptionsModel';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import productoptionsTable from '@/components/productoptions/productoptionsTable';
  import editFormPopup from '@/components/_common/editFormPopup';
  import productoptionsForm from '@/components/productoptions/productoptionsForm';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "productoptionsTab",
    data() {
      return {
        prodoptsData: prodoptsData,
        prodoptId: null,
        data: null,
        tableRows: null,
        toolsMenu: [],
        currentTab: 'active',
        editFormPopupData: {
          heading: '',
          showPopup: false,
          loading: false,
        }
      }
    },
    props: ['productId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.prodoptsData.status};
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      productoptionsTable,
      editFormPopup,
      productoptionsForm
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      getList() {
        let params = {
          callback: function () {
            this.setTableRows();
          }.bind(this)
        };

        if (this.productId) params.fields = { product_id: this.productId }

        getList.call(this, params);
      },
      openFormPopup(id) {
        this.prodoptId = id;
        this.editFormPopupData = {
          heading: id ? 'Редактирование предложения' : 'Новое предложение',
          showPopup: true,
          loading: false,
        }
      },
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.prodoptsData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      let _this = this;

      this.getList();

      eventBus.$on('close-edit-form-popup', () => _this.editFormPopupData.showPopup = false);
      eventBus.$on('save-edit-form-popup', () => { _this.editFormPopupData.loading = true });
      eventBus.$on('proceed-edit-form-popup', () => {
        _this.getList();
        _this.editFormPopupData.showPopup = false;
      });
      eventBus.$on(this.prodoptsData.controller + '_open-row-handle', (data) => _this.openFormPopup(data));
      eventBus.$on(this.prodoptsData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            _this.getList();
          }.bind(_this)
        })
      });
      eventBus.$on(
        [this.prodoptsData.controller + '_restore-row-handle', this.prodoptsData.controller + '_activate-row-handle'],
        (data) => {
            setStatus.call(_this, {
              id: data,
              status: 'active',
              statusList: _this.prodoptsData.status,
              callback: function () {
                _this.getList();
              }.bind(_this)
            })
      });
    },
    destroyed() {
      eventBus.$off([
        'close-edit-form-popup',
        'save-edit-form-popup',
        'proceed-edit-form-popup',
        this.prodoptsData.controller + '_open-row-handle',
        this.prodoptsData.controller + '_delete-row-handle',
        this.prodoptsData.controller + '_restore-row-handle',
        this.prodoptsData.controller + '_activate-row-handle',
      ]);
    }
  };
</script>