<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!data && getDataLoading(giftsData.controller + '_getList'))}">
        <template v-if="data && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="10">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите бонус, доступный у этого продукта">
                        <el-option
                            v-for="item in data"
                            :key="item.id" :label="item.name + ' - ' + getAdvData(item)" :value="item.id"
                            :disabled="!!itemsListSelected && !!itemsListSelected.find(i => i.gift_id == item.id || (!i.hasOwnProperty('gift_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected && itemsListSelected.length" />
            <draggable
                v-model="itemsListSelected" group="items" :draggable="false"
                class="list-group mt-3 mt-sm-0"
            >
                <transition-group type="transition">
                    <div class="list-group-item d-flex flex-column align-items-start" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <strong>
                            {{'gift_name' in element ? element.gift_name : 'name' in element ? element.name : ''}}
                        </strong>
                        <small class="font-smaller">{{getAdvData(element)}}</small>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { updateGlobal, deleteGlobal, getListGlobal } from '@/models/_baseModel';
  import { data as giftsData, getList } from '@/models/giftsModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "productsGifts",
    data() {
      return {
        giftsData: giftsData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'products_gifts',
        itemsListSelected: null,
        selectedItem: null,
      }
    },
    props: ['productId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token'])
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            product_id: this.productId,
            gift_id: this.selectedItem,
          },
          successMsg: 'Бонус будет доступен при покупке продукта! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          successMsg: 'Бонус более не доступен в этом продукте!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
          }.bind(this)
        });
      },
      getAdvData(item) {
        let res = '';

        if (item.start_dt || item.end_dt) {
          res += '(';

          if (item.start_dt) res += 'с ' + this.$moment(item.start_dt).format('DD.MM.YYYY');
          if (item.end_dt) res += ' по ' + this.$moment(item.end_dt).format('DD.MM.YYYY');
          res += ')' + (item.duration ? ' - ' : '');
        }

        if (item.duration) res += item.duration + ' дн.';

        return res;
      }
    },
    created() {
      getList.call(this);
      getListGlobal.call(this, {
        controller: this.controller,
        getListMethod: 'getGiftsListByProductId',
        dataVar: 'itemsListSelected',
        fields: {
          product_id: this.productId,
        }
      });
    }
  };
</script>