<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <template v-if="props.column.field == 'product_type'">
                {{productsData.type[props.row.product_type].text}}
            </template>
            <template v-else-if="props.column.field == 'is_free'">
                <i v-if="!!props.row.is_free" class="el-icon-check"></i>
                <i v-else></i>
            </template>
            <table-controls-cell
                v-else-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit', 'activate']"
                :controller="productsData.controller" :baseUrl="productsData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного продукта</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as productsData } from '@/models/productsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "productsTable",
    data() {
      return {
        productsData: productsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Тип', field: 'product_type', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Бесплатный', field: 'is_free', sortable: true, html: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'asc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.productsData.status ? this.productsData.status[row.status].className : '';
      },
    },
  };
</script>