<template>
    <div class="ab-divider ab-divider--horizontal">
        <div v-if="$slots.default" :class="`ab-divider__text is-${contentPosition}`">
            <slot/>
        </div>
    </div>
</template>

<script>
  export default {
    name: "abDivider",
    props: {
      contentPosition: {
        type: String,
        default: 'left'
      }
    }
  }
</script>

<style scoped lang="scss">
    .ab-divider {
        background-color: #DCDFE6;
        position: relative;

        &.ab-divider--horizontal {
            display: block;
            height: 1px;
            width: 100%;
            margin: 24px 0;
        }

        .ab-divider__text {
            position: absolute;
            background-color: #FFF;
            padding: 0 20px;
            color: #303133;
            font-weight: 500;
            font-size: 14px;

            &.is-left {
                left: 20px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &.is-center {
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
            &.is-right {
                right: 20px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
</style>