<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-autocomplete
            v-loading="getDataLoading(citiesData.controller + '_getFilteredList')"
            id="citySearch" name="citySearch" class="d-block"
            v-model="cityVal" :prop="prop"
            :fetch-suggestions="queryCitySearch" placement="top"
            placeholder="Начните вводить название населенного пункта..."
            title="Начните вводить название населенного пункта..."
            :trigger-on-focus="false" :disabled="disabled"
            @select="handleCitySelect" @clear="handleCityClear"
            clearable
        />
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as citiesData, get, getList } from '@/models/citiesModel';

  export default {
    name: "cityAutocomplete",
    data() {
      return {
        citiesData: citiesData,
        data: [],
        cityVal: '',
        dataObj: null,
      }
    },
    props: ['cityId', 'countryId', 'inputLabel', 'disabled', 'prop', 'controller'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      queryCitySearch(queryString, cb) {
        getList.call(this, {
          getListMethod: 'getFilteredList',
          fields: {
            country_id: this.countryId,
            search: queryString
          },
          callback: function () {
            let autoCmpltRes = this.data.map(item => {
              let autoCmpltItem = {};
              autoCmpltItem.value = item.name;
              autoCmpltItem.id = item.id;
              return autoCmpltItem;
            });
            cb(autoCmpltRes);
          }.bind(this)
        });
      },
      handleCitySelect(item) {
        eventBus.$emit(this.controller + '_handle-city-select', item.id);
      },
      handleCityClear() {
        eventBus.$emit(this.controller + '_handle-city-select', '');
      },
      updateCurrent() {
        get.call(this, {
          id: this.cityId,
          callback: function () {
            this.cityVal = this.dataObj.name;
          }.bind(this)
        });
      }
    },
    created() {
      if (this.cityId)
        this.updateCurrent();
    },
    mounted() {
      //Chrome Autocomplete fix
      document.getElementsByName("citySearch")[0].setAttribute('autocomplete', 'none');
    },
    watch: {
      cityId(val) {
        if (val) this.updateCurrent();
      },
      countryId(val) {
        if (!val) this.handleCityClear();
      },
      cityVal(val) {
        if (!val) this.handleCityClear();
      }
    }
  };
</script>