<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-autocomplete
            v-loading="getDataLoading(clientsData.controller + '_getFilteredList')"
            id="clientsSearch" name="clientsSearch" class="d-block"
            v-model.trim="clientVal" :prop="prop"
            :fetch-suggestions="queryClientSearch" placement="top"
            placeholder="Начните вводить ФИО, email..." autocomplete=false
            :trigger-on-focus="false" :disabled="disabled"
            @select="handleClientSelect" @clear="handleClientClear"
            clearable
        />
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as clientsData, get, getList } from '@/models/clientsModel';

  export default {
    name: "clientAutocomplete",
    data() {
      return {
        clientsData: clientsData,
        data: [],
        clientVal: '',
        dataObj: null,
      }
    },
    props: ['clientId', 'inputLabel', 'disabled', 'prop', 'controller'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      queryClientSearch(queryString, cb) {
        getList.call(this, {
          getListMethod: 'getFilteredList',
          fields: { search: queryString },
          callback: function () {
            let autoCmpltRes = this.data.map(item => {
              let autoCmpltItem = {};
              autoCmpltItem.value = this.getClientQueryVal(item);
              autoCmpltItem.id = item.id;
              return autoCmpltItem;
            });
            cb(autoCmpltRes);
          }.bind(this)
        });
      },
      handleClientSelect(item) {
        eventBus.$emit(this.controller + '_handle-client-select', item.id);
      },
      handleClientClear() {
        eventBus.$emit(this.controller + '_handle-client-select', '');
      },
      getClientQueryVal(clientObject) {
        if (clientObject) {
          let arr = [];
          let lastName = clientObject.last_name ? clientObject.last_name : '';
          let firstName = clientObject.first_name ? clientObject.first_name : '';
          let patronymName = clientObject.patronym_name ? clientObject.patronym_name : '';

          if (lastName || firstName || patronymName) {
            arr.push(lastName);
            arr.push(firstName);
            arr.push(patronymName);
            return arr.join(' ') + '(' + clientObject.email + ')';
          }
        }

        return '';
      },
      updateCurrent() {
        get.call(this, {
          id: this.clientId,
          callback: function () {
            this.clientVal = this.getClientQueryVal(this.dataObj);
          }.bind(this)
        });
      }
    },
    created() {
      if (this.clientId)
        this.updateCurrent();
    },
    mounted() {
      //Chrome Autocomplete fix
      document.getElementsByName("clientsSearch")[0].setAttribute('autocomplete', 'none');
    },
    watch: {
      clientId(val) {
        if (val) this.updateCurrent();
      },
      clientVal(val) {
        if (!val) this.handleClientClear();
      }
    }
  };
</script>