<template>
    <div>
        <mdb-modal
            :show="showPopup" @close="cancel" :size="size ? size : 'sm'" centered scrollable
            :class="{'loading': loading}"
        >
            <mdb-modal-header>
                <h4 class="modal-title">{{heading}}</h4><p class="heading"></p>
            </mdb-modal-header>
            <mdb-modal-body>
                <slot v-if="!loading" />
                <mdb-spinner v-else big crazy />
            </mdb-modal-body>
            <mdb-modal-footer v-if="controller">
                <mdb-btn color="primary" @click="save" :disabled="loading" type="button">
                    <template v-if="!loading && !getDataLoading(controller + '_updateData')">Сохранить</template>
                    <span v-else class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                </mdb-btn>
                <mdb-btn outline="primary" @click="cancel" type="button">Нет</mdb-btn>
            </mdb-modal-footer>
            <mdb-modal-footer v-else>
                <mdb-btn outline="primary" @click="cancel" type="button">Закрыть</mdb-btn>
            </mdb-modal-footer>
        </mdb-modal>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { mdbBtn, mdbModal, mdbModalHeader, mdbModalBody, mdbModalFooter, mdbSpinner } from 'mdbvue';

  export default {
    name: "editFormPopup",
    data() {
      return {
        style: {
          loading: {
            modalBody: {
              minHeight: '10rem',
            }
          }
        }
      }
    },
    props: ['showPopup', 'heading', 'loading', 'controller', 'size'],
    computed: {
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      mdbBtn,
      mdbModal,
      mdbModalHeader,
      mdbModalBody,
      mdbModalFooter,
      mdbSpinner
    },
    methods: {
      cancel() {
        eventBus.$emit('close-edit-form-popup');
      },
      save() {
        eventBus.$emit('save-edit-form-popup');
      }
    }
  };
</script>

<style scoped lang="scss">
    .modal.loading {
        .modal-body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 10rem;
        }
    }
</style>