<template>
    <el-form-item :label="inputLabel">
        <el-select v-model="selectedVal" :disabled="disabled || !Object.keys(sexList).length" @change="handleSelect">
            <el-option
                v-for="(item, key) in sexList"
                :key="key" :label="item.text" :value="key"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { eventBus } from '@/store/eventBus';

  export default {
    name: "humanSexFormSelect",
    data() {
      return {
        selectedVal: this.sex,
      }
    },
    props: ['sex', 'sexList', 'inputLabel', 'disabled', 'controller'],
    methods: {
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-sex-select', val);
      }
    },
    watch: {
      status(val) {
        this.selectedVal = val;
      }
    }
  };
</script>