<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(instaData.controller + '_getList')"
            :disabled="disabled"
            @change="handleSelect"
            filterable loading-text="Загрузка аккаунтов Instagram..."
        >
            <el-option
                v-for="item in data"
                :key="item.id" :label="item.name" :value="item.id"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as instaData, getList } from '@/models/instaAccountsModel';

  export default {
    name: "instaAccountsFormSelect",
    data() {
      return {
        instaData: instaData,
        selectedVal: this.instaId,
        data: [],
      }
    },
    props: ['instaId', 'inputLabel', 'disabled', 'controller', 'prop'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-insta-select', val);
      }
    },
    created() {
      getList.call(this, {
        callback: function () {
          if (!this.selectedVal && this.data.length)
            this.handleSelect(this.data[0].id);
        }.bind(this)
      });
    },
    watch: {
      instaId(val) {
        this.selectedVal = val;
      }
    }
  };
</script>