<template>
    <mdb-nav-item v-if="'link' in menuItem" :to="menuItem.link" waves-fixed>
        <mdb-icon v-if="'icon' in menuItem" :icon="menuItem.icon" class="mr-1"></mdb-icon>
        {{'name' in menuItem ? menuItem.name : ''}}
    </mdb-nav-item>
    <mdb-nav-item v-else-if="'event' in menuItem" @click.native="menuItem.event" waves-fixed>
        <mdb-icon v-if="'icon' in menuItem" :icon="menuItem.icon" class="mr-1"></mdb-icon>
        {{'name' in menuItem ? menuItem.name : ''}}
    </mdb-nav-item>
</template>

<script>
  import { mdbNavItem, mdbIcon } from 'mdbvue';

  export default {
    name: "navBarMenuItems",
    props: ['menuItem'],
    components: {
      mdbNavItem,
      mdbIcon
    }
  };
</script>