<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(paysystemsData.controller + '_getList')"
            :disabled="disabled"
            @change="handleSelect"
            filterable loading-text="Загрузка счетов..."
        >
            <el-option
                v-for="item in data"
                :key="item.id" :label="item.name" :value="item.id"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as paysystemsData, getList } from '@/models/paysystemsModel';

  export default {
    name: "paysystemsFormSelect",
    data() {
      return {
        paysystemsData: paysystemsData,
        selectedVal: this.paysystemId,
        data: [],
      }
    },
    props: ['paysystemId', 'inputLabel', 'disabled', 'controller', 'prop'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-paysystem-select', val);
      }
    },
    created() {
      getList.call(this);
    },
    watch: {
      paysystemId(val) {
        this.selectedVal = val;
      }
    }
  };
</script>