<template>
    <mdb-modal :show="showPopup" @close="$emit('no-handle')" size="sm" class="text-center" danger centered>
        <mdb-modal-header center :close="false">
            <p class="heading">{{heading}}</p>
        </mdb-modal-header>
        <mdb-modal-body>
            <mdb-icon icon="times" size="4x" class="animated rotateIn"/>
        </mdb-modal-body>
        <mdb-modal-footer center>
            <mdb-btn outline="danger" @click="$emit('yes-handle')">Да</mdb-btn>
            <mdb-btn color="danger" @click="$emit('no-handle')">Нет</mdb-btn>
        </mdb-modal-footer>
    </mdb-modal>
</template>

<script>
  import { mdbBtn, mdbIcon, mdbModal, mdbModalHeader, mdbModalBody, mdbModalFooter } from 'mdbvue';
  export default {
    name: "popupYesNo",
    components: {
      mdbBtn,
      mdbIcon,
      mdbModal,
      mdbModalHeader,
      mdbModalBody,
      mdbModalFooter
    },
    props: ['heading', 'showPopup']
  };
</script>

<style scoped>

</style>