<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(presetData.controller + '_getList')"
            :disabled="disabled"
            @change="handleSelect"
            filterable loading-text="Загрузка коллекций..."
        >
            <el-option
                v-for="item in filteredData"
                :key="item.id" :label="item.name" :value="item.id"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as presetData, getList } from '@/models/presetsModel';

  export default {
    name: "presetsFormSelect",
    data() {
      return {
        presetData: presetData,
        selectedVal: this.presetId,
        data: [],
      }
    },
    props: ['presetId', 'inputLabel', 'disabled', 'controller', 'prop', 'type'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      filteredData() {
        if (this.type)
          return this.data.filter(item => item.preset_type === this.type);
        else
          return this.data;
      }
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-preset-select', val);
      }
    },
    created() {
      getList.call(this, {
        callback: function () {
          if (!this.selectedVal && this.data.length)
            this.handleSelect(this.data[0].id);
        }.bind(this)
      });
    },
    watch: {
      presetId(val) {
        this.selectedVal = val;
      }
    }
  };
</script>