<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(productOptionsData.controller + '_getList')"
            :disabled="disabled || !data.length" :clearable="!!clearable"
            @change="handleSelect"
            filterable loading-text="Загрузка предложений..."
        >
            <el-option
                v-for="item in data"
                :key="item.id" :label="item.name" :value="item.id"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as productsData } from '@/models/productsModel';
  import { data as productOptionsData, getList } from '@/models/productOptionsModel';

  export default {
    name: "productOptionsFormSelect",
    data() {
      return {
        productsData: productsData,
        productOptionsData: productOptionsData,
        selectedVal: '',
        dataObj: null,
        data: [],
      }
    },
    props: ['optionId', 'productId', 'inputLabel', 'disabled', 'prop', 'extFields', 'controller', 'clearable'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      updateByProd() {
        this.selectedVal =
          this.data.length ?
            (this.data.find(opt => this.optionId === opt.id) ?
              this.data.find(opt => this.optionId === opt.id).id : (this.clearable ?
                '' : this.data[0].id)) :
                    '';

        this.handleSelect(this.selectedVal);
      },
      handleSelect(val) {
        if (this.data.length && val) this.dataObj = this.data.find(opt => opt.id === val);
        else this.dataObj = null;

        eventBus.$emit(this.controller + '_handle-product-option-select', this.dataObj);
        this.$emit('handle-product-option-select', this.dataObj);
      }
    },
    created() {
      let _this = this;
      eventBus.$on(this.productsData.controller + '_handle-product-select', () => _this.data = []);

      if (this.productId)
        getList.call(this, {
          fields: {...{ product_id: this.productId }, ...this.extFields},
          callback: function () {
            this.updateByProd();
          }.bind(this)
        });
    },
    destroyed() {
      eventBus.$off([this.productsData.controller + '_handle-product-select']);
    },
    watch: {
      productId(val) {
        if (val) {
          getList.call(this, {
            fields: {...{ product_id: val }, ...this.extFields},
            callback: function () {
              this.updateByProd();
            }.bind(this)
          });
        }
      },
      'extFields.promocode': function () {
        getList.call(this, {
          fields: {...{ product_id: this.productId }, ...this.extFields},
          callback: function () {
            this.handleSelect(this.selectedVal)
          }.bind(this)
        });
      },
      'extFields.client_id': function () {
        getList.call(this, {
          fields: {...{ product_id: this.productId }, ...this.extFields},
          callback: function () {
            this.handleSelect(this.selectedVal)
          }.bind(this)
        });
      }
    }
  };
</script>