<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(productsData.controller + '_getList')"
            :disabled="disabled" :clearable="!!clearable"
            @change="handleSelect"
            filterable loading-text="Загрузка продуктов..."
        >
            <el-option
                v-for="item in data"
                :key="item.id" :label="item.name" :value="item.id"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { data as productsData, getList } from '@/models/productsModel';

  export default {
    name: "productsFormSelect",
    data() {
      return {
        productsData: productsData,
        selectedVal: this.productId,
        data: [],
      }
    },
    props: ['productId', 'inputLabel', 'disabled', 'controller', 'prop', 'clearable'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-product-select', val);
      }
    },
    created() {
      getList.call(this, {
        callback: function () {
          if (!this.selectedVal && this.data.length && !this.clearable)
            this.handleSelect(this.data[0].id);
        }.bind(this)
      });
    },
    watch: {
      productId(val) {
        this.selectedVal = val;
      }
    }
  };
</script>