<template>
    <div class="d-flex justify-content-center">
        <el-button
            v-if="~buttons.indexOf('open')"
            icon="el-icon-edit" size="small" title="Редактировать / Просмотр"
            @click="eventBusTmpl.$emit(controller + '_open-row-handle', row.id)"
        />
        <router-link
            v-else-if="~buttons.indexOf('edit')" title="Редактировать / Просмотр"
            :to="config.URLPRE + baseUrl + '/' + row.id"
            class="el-button el-button--default el-button--small"
        >
            <i class="el-icon-edit"></i>
        </router-link>
        <el-button
            v-for="btn in customBtns" :key="btn.name" :type="btn.type" plain
            :icon="btn.hasOwnProperty('icon') ? btn.icon : 'el-icon-setting'" size="small"
            :title="btn.hasOwnProperty('title') ? btn.title : 'хз чё за кнопка'"
            :disabled="(btn.hasOwnProperty('loading') && btn.loading) || getDataLoading(controller + '_' + btn.name + '_' + row.id)"
            :loading="(btn.hasOwnProperty('loading') && btn.loading) || getDataLoading(controller + '_' + btn.name + '_' + row.id)"
            @click="eventBusTmpl.$emit(controller + '_' + btn.name + '-row-handle', row.id)"
        />
        <el-button
            v-if="~buttons.indexOf('restore') && row.status == 'deleted'"
            icon="el-icon-circle-check-outline" size="small" title="Восстановить"
            :disabled="getDataLoading(controller + '_changeStatusData_' + row.id)"
            :loading="getDataLoading(controller + '_changeStatusData_' + row.id)"
            @click="eventBusTmpl.$emit(controller + '_restore-row-handle', row.id)"
        />
        <el-button
            v-if="~buttons.indexOf('activate') && row.status == 'inactive'"
            icon="el-icon-check" size="small" title="Активировать"
            :disabled="getDataLoading(controller + '_changeStatusData_' + row.id)"
            :loading="getDataLoading(controller + '_changeStatusData_' + row.id)"
            @click="eventBusTmpl.$emit(controller + '_activate-row-handle', row.id)"
        />
        <el-button
            v-if="~buttons.indexOf('delete') && row.status != 'deleted'"
            icon="el-icon-delete" size="small" title="Удалить"
            :disabled="getDataLoading(controller + '_deleteData_' + row.id)"
            :loading="getDataLoading(controller + '_deleteData_' + row.id)"
            @click="eventBusTmpl.$emit(controller + '_delete-row-handle', row.id)"
        />
    </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import { eventBus } from '@/store/eventBus';

  export default {
    name: "TableControlsCell",
    props: ['row', 'buttons', 'controller', 'baseUrl'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading']),
      eventBusTmpl() { return eventBus },
      customBtns() {
        return this.buttons.filter(item => {
          return typeof item === 'object'
            && item.hasOwnProperty('name')
                && item.hasOwnProperty('type')
                    && (!item.hasOwnProperty('vif') || !!item.vif)
        });
      }
    },
  };
</script>