<template>
    <el-tabs
        class="mt-4"
        v-model="activeTab"
        tab-position="top"
        @tab-click="tabChange"
    >
        <el-tab-pane
            v-for="(tab, tabKey) in tabs" :key="tabKey"
            :label="tab.textPl" :name="tabKey" :disabled="'disabled' in tab && tab.disabled"
        >
            <slot name="tab" :tab="tabKey"></slot>
        </el-tab-pane>
    </el-tabs>
</template>

<script>
  export default {
    name: "tabs",
    data() {
      return {
        activeTab: this.currentTab,
      }
    },
    props: ['currentTab', 'tabs'],
    methods: {
      tabChange(tab) {
        this.$emit('tab-change-handle', tab.name);
      }
    }
  };
</script>