<template>
    <el-form-item :label="inputLabel" :prop="prop">
        <el-select
            v-model="selectedVal"
            :loading="getDataLoading(controller + '_getTimezones')"
            :disabled="disabled"
            @change="handleSelect"
            filterable loading-text="Загрузка часовых поясов..."
        >
            <el-option
                v-for="(item, key) in data"
                :key="key" :label="data[key]" :value="key"
            >
            </el-option>
        </el-select>
    </el-form-item>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { getTimezones } from '@/models/timezonesModel';

  export default {
    name: "timezonesFormSelect",
    data() {
      return {
        selectedVal: this.timezone,
        data: [],
      }
    },
    props: ['timezone', 'inputLabel', 'disabled', 'prop', 'controller'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleSelect(val) {
        eventBus.$emit(this.controller + '_handle-timezone-select', val);
      }
    },
    created() {
      getTimezones.call(this, {
        controller: this.controller
      });
    },
    watch: {
      timezone(val) {
        this.selectedVal = val;
      }
    }
  };
</script>