<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
            <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
            <input type="hidden" name="start_dt" v-model="dataObj.start_dt"/>
            <input type="hidden" name="end_dt" v-model="dataObj.end_dt"/>
            <input type="hidden" name="client_id" v-model="dataObj.client_id"/>
            <input type="hidden" name="option_id" v-model="dataObj.option_id"/>
            <input type="hidden" name="product_id" v-model="dataObj.product_id"/>
            <input type="hidden" name="discount_type" v-model="dataObj.discount_type"/>
            <input type="hidden" name="one_time_only" :value="+dataObj.one_time_only"/>
            <input type="hidden" v-model="dataObj.status" name="status"/>

            <mdb-row>
                <mdb-col sm="6">
                    <el-form-item label="Название" prop="name">
                        <el-input
                            v-model.trim="dataObj.name"
                            type="text" id="name" name="name"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col sm="6">
                    <el-form-item label="Промокод" prop="promocode">
                        <el-input
                            v-model.trim="dataObj.promocode"
                            type="text" id="promocode" name="promocode"
                        />
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col col="6">
                    <el-form-item label="Размер скидки" prop="discount_value">
                        <el-input
                            v-model.number="dataObj.discount_value"
                            type="number" id="discount_value" name="discount_value" :step="1"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col sm="6">
                    <el-form-item label="Тип скидки">
                        <el-select v-model="dataObj.discount_type">
                            <el-option
                                v-for="(item, key) in promocodesData.promocodeDiscountTypes"
                                :key="key" :label="item.text" :value="key"
                            />
                        </el-select>
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col col="6">
                    <el-form-item label="Действует с...">
                        <el-date-picker
                            v-model="dataObj.start_dt" format="dd.MM.yyyy" value-format="yyyy-MM-dd"
                            :picker-options="pickerOptions"
                            placeholder="Дата начала действия"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col col="6">
                    <el-form-item label="Действует до...">
                        <el-date-picker
                            v-model="dataObj.end_dt" format="dd.MM.yyyy" value-format="yyyy-MM-dd [23:59:59]"
                            :picker-options="pickerOptions"
                            placeholder="Дата окончания действия"
                        />
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col col="6">
                    <products-form-select
                        :productId="dataObj.product_id" :controller="promocodesData.controller" :clearable="true"
                        inputLabel="Доступно для продукта..."
                    />
                </mdb-col>
                <mdb-col col="6">
                    <product-options-form-select
                        prop="option_id"
                        :optionId="dataObj.option_id" :productId="dataObj.product_id" :controller="promocodesData.controller"
                        :disabled="!dataObj.product_id" :clearable="true"
                        inputLabel="Доступно для опции..."
                    />
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col sm="6">
                    <client-autocomplete
                        :clientId="dataObj.client_id" :controller="promocodesData.controller"
                        inputLabel="Персонально для..."
                    />
                </mdb-col>
                <mdb-col col="6">
                    <el-form-item>
                        <mdb-input
                            v-model="dataObj.one_time_only" :checked="!!dataObj.one_time_only"
                            :disabled="!isNew"
                            type="checkbox" id="one_time_only" label="Единоразовый" class="d-flex justify-content-end"
                        />
                    </el-form-item>
                </mdb-col>
            </mdb-row>
            <mdb-row>
                <mdb-col sm="6" xl="4">
                    <item-status-form-select
                        :status="dataObj.status" :itemStatuses="promocodesData.status"
                        :controller="promocodesData.controller"
                        inputLabel="Состояние"
                    />
                </mdb-col>
            </mdb-row>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(promocodesData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as promocodesData, dataInit as promocodesDataInit,
    get, update, validateUnique, validateString, validateBlank
  } from '@/models/promocodesModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput } from 'mdbvue';
  import productsFormSelect from '@/components/_common/productsFormSelect';
  import productOptionsFormSelect from '@/components/_common/productOptionsFormSelect';
  import clientAutocomplete from '@/components/_common/clientAutocomplete';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';

  export default {
    name: "promocodesSinglePage",
    mixins: [headMixin],
    data() {
      return {
        promocodesData: promocodesData,
        dataObj: promocodesDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          promocode: [
            { required: true, message: 'Введите промокод', trigger: 'change' },
            { validator: validateBlank.bind(this), trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          discount_value: [
            { required: true, message: 'Введите размер скидки', trigger: 'change' },
          ],
        },
        pickerOptions: {
          firstDayOfWeek: 1,
        },
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.promoId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.promocodesData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку промокодов',
            link: this.config.URLPRE + this.promocodesData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput,
      productsFormSelect,
      productOptionsFormSelect,
      clientAutocomplete,
      itemStatusFormSelect,
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новый промокод' : 'Страница промокода' + (this.dataObj.name ? ': ' + this.dataObj.name : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...promocodesDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.promoId,
          callback: function () {
            this.updateMeta({title: 'Страница промокода: ' + this.dataObj.name});
          }.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.promocodesData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on(this.promocodesData.controller + '_handle-product-select', (data) => _this.dataObj.product_id = data);
      eventBus.$on(this.promocodesData.controller + '_handle-product-option-select', (data) => _this.dataObj.option_id = data ? data.id : '');
      eventBus.$on(this.promocodesData.controller + '_handle-client-select', (data) => _this.dataObj.client_id = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.promocodesData.controller + '_handle-status-select',
        this.promocodesData.controller + '_handle-product-select',
        this.promocodesData.controller + '_handle-product-option-select',
        this.promocodesData.controller + '_handle-client-select'
      ]);
    }
  };
</script>