<template>
    <component :is="currentComponent" />
</template>

<script>
  import promocodesListPage from './promocodesListPage';
  import promocodesSinglePage from './promocodesSinglePage';

  export default {
    name: 'promocodesIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.promoId ? 'promocodesSinglePage' : 'promocodesListPage';
      }
    },
    components: {
      promocodesListPage,
      promocodesSinglePage
    },
  }
</script>