<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit']"
                :controller="promocodesData.controller" :baseUrl="promocodesData.baseUrl"
            />
            <template v-else-if="props.column.field == 'start_dt' || props.column.field == 'end_dt'">
                <template v-if="props.row[props.column.field]">{{props.formattedRow[props.column.field]}}</template>
                <template v-else>[ Без ограничений ]</template>
            </template>
            <template v-else-if="props.column.field == 'discount_type'">
                {{promocodesData.promocodeDiscountTypes[props.row.discount_type].text}}
            </template>
            <template v-else-if="props.column.field == 'one_time_only'">
                <i v-if="!!props.row.one_time_only" class="el-icon-check"></i>
                <i v-else></i>
            </template>
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного промокода</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as promocodesData } from '@/models/promocodesModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "promocodesTable",
    data() {
      return {
        promocodesData: promocodesData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Тип', field: 'discount_type', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Размер', field: 'discount_value', sortable: true, type: 'number', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Действует с...', field: 'start_dt', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Действует до...', field: 'end_dt', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Разовый', field: 'one_time_only', sortable: true, html: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Использован', field: 'usage_count', sortable: true, html: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.promocodesData.status ? this.promocodesData.status[row.status].className : '';
      },
    },
  };
</script>