<template>
    <div>
        <vue-good-table
            :columns="tableColumns"
            :rows="tableRows"
            :search-options="tableOptions.search"
            :sort-options="tableOptions.sort"
            class="text-center low-cell-padding status-ref"
        >
            <template slot="table-row" slot-scope="props">
                <el-button
                    v-if="props.column.field === 'dt_data'"
                    icon="el-icon-search" size="small" title="Просмотр"
                    @click="showTransData(props.row.originalIndex)"
                />
                <template v-else>{{props.formattedRow[props.column.field]}}</template>
            </template>
            <div slot="emptystate">Не найдено ни одной транзакции</div>
        </vue-good-table>

        <mdb-modal side position="right" fullHeight direction="right" :show="!!transData" @close="transData = null">
            <mdb-modal-header>
                <mdb-modal-title>Данные из транзакции</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>
                <code style="white-space: pre-wrap">{{transData}}</code>
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn outline="primary" @click.native="transData = false">Закрыть</mdb-btn>
            </mdb-modal-footer>
        </mdb-modal>
    </div>
</template>

<script>
  import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn } from 'mdbvue';

  export default {
    name: "orderTransTable",
    data() {
      return {
        tableColumns: [
          {label: 'ID', field: 'trans_id', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Сумма', field: 'amount', thClass: 'text-center', tdClass: 'text-center', type: 'number'},
          {label: 'Тип', field: 'type', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Тип колбэка', field: 'oper', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Статус', field: 'status', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Дата/Время', field: 'created', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Данные', field: 'dt_data', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'created', type: 'desc'}}
        },
        transData: null,
      }
    },
    props: ['tableRows'],
    components: {
      mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn
    },
    methods: {
      showTransData(index) {
        this.transData = JSON.parse(this.tableRows[index].data);
      }
    }
  };
</script>