<template>
    <div class="flexible-content mdb-skin">
        <!--Navbar-->
        <mdb-navbar position="top" dark>
            <mdb-navbar-nav>
                <mdb-icon icon="bars" size="2x" @click.native="handleBtnAClick"/>
            </mdb-navbar-nav>
            <mdb-navbar-brand tag="span" class="ml-2 mr-auto navbar-brand-wrap">{{meta.title}}</mdb-navbar-brand>
            <mdb-navbar-toggler>
                <mdb-navbar-nav right>
                    <template v-if="getAdminToolsMenu && Object.keys(getAdminToolsMenu).length">
                        <div v-for="menuItem in getAdminToolsMenu" :key="menuItem.name">
                            <nav-bar-menu-item v-if="!menuItem.hasOwnProperty('children')" :menuItem="menuItem"></nav-bar-menu-item>
                            <mdb-dropdown v-else tag="li" class="nav-item">
                                <mdb-dropdown-toggle tag="a" navLink slot="toggle" waves-fixed>{{menuItem.name}}</mdb-dropdown-toggle>
                                <mdb-dropdown-menu>
                                    <nav-bar-menu-item
                                        v-for="menuSubItem in menuItem.children" :key="menuSubItem.name"
                                        :menuItem="menuSubItem"
                                    />
                                </mdb-dropdown-menu>
                            </mdb-dropdown>
                        </div>
                    </template>
                    <mdb-nav-item :to="config.URLPRE + '/admins/' + admin.id" waves-fixed>
                        <mdb-icon icon="user" class="mr-1"></mdb-icon>{{admin.first_name}} {{admin.last_name}}
                    </mdb-nav-item>
                </mdb-navbar-nav>
            </mdb-navbar-toggler>
        </mdb-navbar>
        <!--/.Navbar-->
        <mdb-side-nav sideNavClass="sn-bg-4" mask="strong" :OpenedFromOutside.sync="toggleA" hidden>
            <ul>
                <li>
                    <mdb-side-nav-nav>
                        <mdb-side-nav-item header icon="home" :to="config.URLPRE" @click.native="toggleA=false">Главная панель</mdb-side-nav-item>
                        <mdb-side-nav-cat name="Сотрудники" icon="ghost">
                            <mdb-side-nav-item
                                v-if="admin.permissions.admins"
                                :to="config.URLPRE + '/admins'" @click.native="toggleA=false"
                            >
                                Список
                            </mdb-side-nav-item>
                            <mdb-side-nav-item
                                v-if="admin.permissions.admins"
                                :to="config.URLPRE + '/admingroups'" @click.native="toggleA=false"
                            >
                                Группы
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat name="Клиенты" icon="users">
                            <mdb-side-nav-item
                                v-if="admin.permissions.clients"
                                :to="config.URLPRE + '/clients'" @click.native="toggleA=false"
                            >
                                Список
                            </mdb-side-nav-item>
                            <mdb-side-nav-item
                                v-if="admin.permissions.clients"
                                :to="config.URLPRE + '/clientgroups'" @click.native="toggleA=false"
                            >
                                Группы
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-item
                            v-if="admin.permissions.paysystems"
                            header icon="credit-card"
                            :to="config.URLPRE+'/paysystems'" @click.native="toggleA=false"
                        >
                            Банк. счета
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.instagram_accounts"
                            header fab icon="instagram"
                            :to="config.URLPRE+'/instagram-accounts'" @click.native="toggleA=false"
                        >
                            Аккаунты Instagram
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.products"
                            header icon="star-of-david"
                            :to="config.URLPRE+'/products'" @click.native="toggleA=false"
                        >
                            Продукты
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.orders"
                            header icon="clipboard-list"
                            :to="config.URLPRE+'/orders'" @click.native="toggleA=false"
                        >
                            Заказы
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.gifts"
                            header icon="award"
                            :to="config.URLPRE+'/gifts'" @click.native="toggleA=false"
                        >
                            Бонусы продуктов
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.promocodes"
                            header icon="barcode"
                            :to="config.URLPRE+'/promocodes'" @click.native="toggleA=false"
                        >
                            Промокоды
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.privileges"
                            header icon="grin-hearts"
                            :to="config.URLPRE+'/privileges'" @click.native="toggleA=false"
                        >
                            Льготы
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.presets"
                            header icon="angellist" fab
                            :to="config.URLPRE+'/presets'" @click.native="toggleA=false"
                        >
                            Коллекции
                        </mdb-side-nav-item>
                        <mdb-side-nav-item
                            v-if="admin.permissions.items"
                            header icon="file-video"
                            :to="config.URLPRE+'/items'" @click.native="toggleA=false"
                        >
                            Медиафайлы
                        </mdb-side-nav-item>
                        <mdb-side-nav-item header icon="sign-out-alt" href="#" @click.prevent.native="logoutRequest">Выход</mdb-side-nav-item>
                    </mdb-side-nav-nav>
                </li>
            </ul>
        </mdb-side-nav>
        <popup-yes-no
            :showPopup="showLogoutPopup" :heading="heading"
            v-on:no-handle="toggleA = showLogoutPopup = false" v-on:yes-handle="logout"
        />
    </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import { eventBus } from "@/store/eventBus";

    import {
      mdbNavbar,
      mdbDropdown,
      mdbDropdownMenu,
      mdbDropdownToggle,
      mdbNavbarBrand,
      mdbNavItem,
      mdbNavbarNav,
      mdbNavbarToggler,
      mdbSideNav,
      mdbIcon,
      waves,
      mdbSideNavItem,
      mdbSideNavCat,
      mdbSideNavNav
    } from 'mdbvue';
    import popupYesNo from '@/components/_common/popupYesNo';
    import navBarMenuItem from '@/components/_common/navBarMenuItem';

    export default {
      name: 'DoubleNavigationPage',
      components: {
        mdbNavbar,
        mdbNavItem,
        mdbNavbarNav,
        mdbNavbarToggler,
        mdbIcon,
        mdbNavbarBrand,
        mdbDropdown,
        mdbDropdownMenu,
        mdbDropdownToggle,
        mdbSideNav,
        mdbSideNavItem,
        mdbSideNavCat,
        mdbSideNavNav,
        popupYesNo,
        navBarMenuItem
      },
        data() {
            return {
                active: {
                    0: false
                },
                toggleA: false,
                iAccData: null,
              heading: 'Вы уверены, что хотите выйти?',
              showLogoutPopup: false,
            };
        },
        computed: {
          ...mapState('commonStore', ['config', 'admin', 'meta', 'adminToolsMenu']),
          ...mapGetters('commonStore', ['getAdminToolsMenu']),
        },
        methods: {
            handleBtnAClick() {
                this.toggleA = !this.toggleA;
            },
            beforeEnter(el) {
                this.elHeight = el.scrollHeight;
            },
            enter(el) {
                el.style.height = this.elHeight+'px';
            },
            beforeLeave(el) {
                el.style.height = 0;
            },
          logoutRequest: function() {
            this.showLogoutPopup = true;
          },
          logout() {
            eventBus.$emit('kill_user');
          }
        },
        mixins: [waves]
    };
</script>

<style scoped>
    .side-nav {
        margin-top: 64px !important;
    }
</style>