<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !data && getDataLoading(orderTransData.controller + '_getList')}" fluid>
        <order-trans-table v-if="data" :tableRows="data" />
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as ordersData } from '@/models/ordersModel';
  import { data as clientsData } from '@/models/clientsModel';
  import { data as orderTransData, getList } from '@/models/orderTransModel';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import orderTransTable from '@/components/orderTrans/orderTransTable';

  export default {
    name: "ordersListPage",
    data() {
      return {
        ordersData: ordersData,
        clientsData: clientsData,
        orderTransData: orderTransData,
        data: null,
        toolsMenu: [],
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbContainer,
      mdbSpinner,
      orderTransTable
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      buildToolsMenu() {
        if (this.admin.permissions.orders) {
          this.toolsMenu = [
            {
              name: 'К списку заказов',
              link: this.config.URLPRE + this.ordersData.baseUrl,
              icon: 'angle-double-left',
            },
            {
              name: 'К заказу',
              link: this.config.URLPRE + this.ordersData.baseUrl + '/' + this.$route.params.orderId,
              icon: 'angle-double-left',
            },
            {
              name: 'К клиенту',
              link: this.config.URLPRE + this.clientsData.baseUrl + '/' + this.$route.params.clientId,
              icon: 'angle-double-left',
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
    },
    created() {
      this.buildToolsMenu();

      if (this.$route.params.clientId && this.$route.params.orderId) {
        getList.call(this, {
          fields: {
            client_id: this.$route.params.clientId,
            order_id: this.$route.params.orderId,
          }
        });
      }
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);
    }
  };
</script>