<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="140px"
        >
            <input v-if="dataObj.id" type="hidden" v-model="dataObj.id" name="id"/>
            <input type="hidden" name="paysystem_id" v-model="dataObj.paysystem_id"/>
            <input type="hidden" name="client_id" v-model="dataObj.client_id"/>
            <input type="hidden" name="group_id" v-model="dataObj.group_id"/>
            <input type="hidden" name="preset_id" v-model="dataObj.preset_id"/>
            <input type="hidden" name="product_type" v-model="dataObj.product_type"/>
            <input type="hidden" name="instagram_account_id" v-model="dataObj.instagram_account_id"/>
            <input type="hidden" name="is_free" :value="+dataObj.is_free"/>
            <input type="hidden" v-model="dataObj.status" name="status"/>

            <el-tabs v-model="activeTab" tab-position="top">
                <el-tab-pane name="generalTab" label="Основные данные">
                    <mdb-row>
                        <mdb-col>
                            <el-form-item label="Название" prop="name">
                                <el-input
                                    v-model.trim="dataObj.name"
                                    type="text" id="name" name="name"
                                />
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col sm="6">
                            <el-form-item label="Тип продукта">
                                <el-select v-model="dataObj.product_type" :disabled="!isNew">
                                    <el-option
                                        v-for="(item, key) in productsData.type"
                                        :key="key" :label="item.text" :value="key"
                                    />
                                </el-select>
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6">
                            <insta-accounts-form-select
                                v-if="dataObj.product_type == 'subscription'"
                                :instaId="dataObj.instagram_account_id" :controller="productsData.controller"
                                inputLabel="Подписка на..."
                            />
                            <presets-form-select
                                v-else-if="dataObj.product_type == 'preset'"
                                :presetId="dataObj.preset_id" :controller="productsData.controller" type="playlist"
                                inputLabel="Доступ к плейлисту..."
                            />
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col sm="6">
                            <client-autocomplete
                                prop="client_id" inputLabel="Персонально для..."
                                :clientId="dataObj.client_id" :controller="productsData.controller"
                            />
                        </mdb-col>
                        <mdb-col v-if="!dataObj.is_free" sm="6">
                            <client-groups-form-select
                                :cliGroupId="dataObj.group_id" :controller="productsData.controller" :emptyAllow="true"
                                inputLabel="Автоподписка на группу..."
                            />
                        </mdb-col>
                    </mdb-row>
                    <mdb-row v-if="dataObj.product_type == 'subscription'">
                        <mdb-col sm="6">
                            <el-form-item label="Просмотр после эфира..." prop="number">
                                <el-input
                                    v-model.number="dataObj.days_item_available"
                                    type="number" id="days_item_available" name="days_item_available" :step="1"
                                >
                                    <template slot="append">дней</template>
                                </el-input>
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6">
                            <el-form-item label="После окончания курса..." prop="number">
                                <el-input
                                    v-model.number="dataObj.days_available_after_stop"
                                    type="number" id="days_available_after_stop" name="days_available_after_stop" :step="1"
                                >
                                    <template slot="append">дней</template>
                                </el-input>
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col sm="6">
                            <paysystems-form-select
                                :paysystemId="dataObj.paysystem_id" :controller="productsData.controller"
                                inputLabel="Банк. счет" prop="paysystem_id"
                            />
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col>
                            <el-form-item label="Описание">
                                <el-input
                                    v-model.trim="dataObj.description"
                                    type="textarea" name="description" :rows="3"
                                />
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col sm="6" xl="4">
                            <item-status-form-select
                                :status="dataObj.status" :itemStatuses="productsData.status" :controller="productsData.controller"
                                inputLabel="Состояние"
                            />
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col>
                            <el-form-item>
                                <mdb-input
                                    v-model="dataObj.is_free" :checked="!!dataObj.is_free"
                                    :disabled="!isNew && !dataObjClone.is_free"
                                    type="checkbox" id="is_free" label="Бесплатный продукт" class="d-flex justify-content-end"
                                />
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
                <el-tab-pane
                    name="productoptionsTab" label="Предложения по продукту"
                    :disabled="!dataObj.id"
                >
                    <productoptions-tab v-if="dataObj.id" :productId="dataObj.id" />
                </el-tab-pane>
                <el-tab-pane
                    name="giftsTab" label="Доступные бонусы"
                    :disabled="!dataObj.id"
                >
                    <products-gifts :productId="dataObj.id" />
                </el-tab-pane>
            </el-tabs>

            <div class="text-center mt-3">
                <el-button
                    v-if="activeTab === 'generalTab'"
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(productsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as productsData, dataInit as productsDataInit,
    get, update,
    validateString, validateUnique
  } from '@/models/productsModel';
  import { data as prodoptsData } from '@/models/productOptionsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput } from 'mdbvue';
  import instaAccountsFormSelect from '@/components/_common/instaAccountsFormSelect';
  import presetsFormSelect from '@/components/_common/presetsFormSelect';
  import clientAutocomplete from '@/components/_common/clientAutocomplete';
  import clientGroupsFormSelect from '@/components/_common/clientGroupsFormSelect';
  import paysystemsFormSelect from '@/components/_common/paysystemsFormSelect';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import productoptionsTab from '@/components/products/productoptionsTab';
  import productsGifts from '@/components/products/productsGifts';

  export default {
    name: "productsSinglePage",
    mixins: [headMixin],
    data() {
      return {
        productsData: productsData,
        dataObj: productsDataInit,
        dataObjClone: null,
        prodoptsData: prodoptsData,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название!', trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' },
            { validator: validateString.bind(this), trigger: 'change' }
          ],
          paysystem_id: [
            { required: true, message: 'Укажите банк. счет!', trigger: 'change' },
          ]
        },
        activeTab: 'generalTab',
        pickerOptions: {
          firstDayOfWeek: 1,
        }
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.productId === 'new';
      }
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            update.call(this, {
              formName: form,
              action: this.isNew ? 'create' : 'update',
              callback: function () {
                if (this.isNew)
                    this.$router.push({ path: this.config.URLPRE + this.productsData.baseUrl + '/' + this.dataObj.id });
              }.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, { oldDataObj: this.dataObjClone }, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку продуктов',
            link: this.config.URLPRE + this.productsData.baseUrl,
            icon: 'angle-double-left',
          },
          {
            name: 'Действия',
            children: [
              {
                name: 'Добавить предложение',
                event: function () {
                  this.activeTab = 'productoptionsTab';
                  eventBus.$emit(this.prodoptsData.controller + '_open-row-handle', null);
                }.bind(this),
              }
            ]
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol, mdbInput,
      instaAccountsFormSelect,
      presetsFormSelect,
      clientAutocomplete,
      clientGroupsFormSelect,
      paysystemsFormSelect,
      itemStatusFormSelect,
      productoptionsTab,
      productsGifts
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новый продукт' : 'Страница продукта' + (this.dataObj.name ? ': ' + this.dataObj.name : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...productsDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.productId,
          callback: function () {
            this.updateMeta({title: 'Страница продукта: ' + this.dataObj.name});
          }.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.productsData.controller + '_handle-client-select', (data) => _this.dataObj.client_id = data);
      eventBus.$on(this.productsData.controller + '_handle-paysystem-select', (data) => _this.dataObj.paysystem_id = data);
      eventBus.$on(this.productsData.controller + '_handle-insta-select', (data) => _this.dataObj.instagram_account_id = data);
      eventBus.$on(this.productsData.controller + '_handle-preset-select', (data) => _this.dataObj.preset_id = data);
      eventBus.$on(this.productsData.controller + '_handle-client-group-select', (data) => _this.dataObj.group_id = data);
      eventBus.$on(this.productsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.productsData.controller + '_handle-client-select',
        this.productsData.controller + '_handle-paysystem-select',
        this.productsData.controller + '_handle-insta-select',
        this.productsData.controller + '_handle-preset-select',
        this.productsData.controller + '_handle-client-group-select',
        this.productsData.controller + '_handle-status-select',
      ]);
    },
    watch: {
      'dataObj.is_free': function (val) {
        if (val) this.dataObj.group_id = '';
      }
    }
  };
</script>

<style scoped>
    .avatar-uploader >>> .el-upload {
        width: 280px;
        height: 280px;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar-uploader >>> .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>