<template>
    <component :is="currentComponent" />
</template>

<script>
  import productsListPage from './productsListPage';
  import productsSinglePage from './productsSinglePage';

  export default {
    name: 'productsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.productId ? 'productsSinglePage' : 'productsListPage';
      }
    },
    components: {
      productsListPage,
      productsSinglePage
    },
  }
</script>