<template>
    <mdb-container class="pt-md-5 pt-4">
        <h2>Отлично, {{member.first_name}} {{member.patronym_name}}, теперь ты с нами!</h2>
        <br/>
        <p>Устраивайся поудобнее! Ведь для тебя открыт целый мир новых возможностей и ресурсов!</p>
        <p>После прохождения регистрации ты получаешь закрытый доступ к своему личному кабинету из любой точки мира.</p>
        <p>Смотри эфиры и тренинги, общайся и оставляй комментарии, делись своими историями и даже проводи трансляции!</p>
        <p>Всегда готовы помочь и ответить на твои вопросы!</p>
    </mdb-container>
</template>

<script>
  import { mapState } from 'vuex';
  import { mdbContainer } from 'mdbvue';

  export default {
    name: 'Dashboard',
    computed: {
      ...mapState('commonStore', ['member']),
    },
    components: {
      mdbContainer,
    },
  }
</script>
