<template>
    <div class="vh-100 d-flex flex-column align-items-center justify-content-center">
        <span style="font-size: 5rem">404</span>
        <router-link to="/" class="text-dark is-underline">Вернуться на главную</router-link>
    </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import headMixin from "@/mixins/headMixin";

  export default {
    name: "NotFound",
    mixins: [headMixin],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta']),
    },
    created() {
      this.updateMeta({title: 'Страница не найдена'});
    }
  };
</script>

<style scoped>

</style>