<template>
    <mdb-container class="vh-100 pt-5" :class="{'d-flex align-items-center justify-content-center pt-0': !productDataObj.id}">
        <template v-if="productDataObj.id">
            <el-form
                id="orderForm"
                :model="orderDataObj" :rules="rules" ref="orderForm"
                label-position="top" status-icon class="w-100"
            >
                <mdb-stepper
                    v-model="currentStep"
                    buttons validation linear
                    :steps="payStepper" :options="stepperOptions" :validatedSteps="validatedSteps"
                    @validate="validate" @submit="submit" @changeStep="handleStep"
                    class="flex-1"
                >
                    <template #1>
                        <div class="order-container d-flex flex-column align-items-center">
                            <div class="py-2 pl-0 d-flex flex-column align-items-center" style="min-width: 240px;">
                                <product-options-form-select
                                    v-if="orderDataObj.product_id"
                                    prop="option_id" class="text-center mb-0 w-100"
                                    :optionId="orderDataObj.option_id" :productId="orderDataObj.product_id"
                                    :controller="controller" :disabled="!orderDataObj.product_id || getDataLoading(productOptionsData.controller + '_getList')"
                                    :extFields="{ promocode: orderDataObj.promocode }"
                                    inputLabel="Выберите предложение"
                                    @handle-product-option-select="updateProductOption"
                                />
                                <div
                                    v-if="productOptionDataObj"
                                    class="pb-3 d-flex flex-column align-items-center w-100"
                                >
                                    <el-form-item label="Промокод" prop="promocodeTest" class="w-100">
                                        <el-input v-model.trim="orderDataObj.promocodeTest" type="text" id="promocodeTest" />
                                    </el-form-item>
                                    <el-alert
                                        v-if="promoCheckRes === (-1)"
                                        title="Промокода дает меньший эффект, чем ваша льгота"
                                        type="warning" show-icon :closable="false" class="mb-2"
                                    />
                                    <div v-if="!getDataLoading(productOptionsData.controller + '_getList')">
                                        <span class="h3">{{productOptionDataObj.price}} &#8381;</span>
                                        <sup
                                            v-if="productOptionDataObj.price < productOptionDataObj.price_before_discount"
                                            class="red-text"
                                        >
                                            <del>{{productOptionDataObj.price_before_discount}} &#8381;</del>
                                        </sup>
                                    </div>
                                    <mdb-spinner v-else big crazy class="mt-3" />
                                </div>
                            </div>
                            <blockquote
                                v-if="productOptionDataObj && productOptionDataObj.is_partial_available"
                                class="blockquote bq-primary order-blockquote"
                            >
                                <p class="bq-title">Доступна рассрочка платежа</p>
                                <p>Условия приобретения в рассрочку:</p>
                                <ul>
                                    <li>Минимальный первый взнос: <strong>{{productOptionDataObj.partial_threshold}} &#8381;</strong></li>
                                    <li>Доступно не более <strong>{{productOptionDataObj.partial_available_duration}}</strong> дней до полного погашения задолженности</li>
                                </ul>
                            </blockquote>
                        </div>
                    </template>
                    <template #2>
                        <div class="order-container">
                            <el-form
                                class="d-flex justify-content-center mx-auto"
                                label-position="top" style="width: 320px;"
                            >
                                <el-form-item label="Дополнительные сведения, замечания" class="w-100 text-center">
                                    <el-input v-model.trim="orderDataObj.client_message" type="textarea" :rows="6" />
                                </el-form-item>
                            </el-form>
                        </div>
                    </template>
                    <template #3>
                        <div class="order-container">
                            <h2>Как вы здесь оказались? 0_о</h2>
                        </div>
                    </template>
                </mdb-stepper>
            </el-form>
        </template>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import headMixin from "@/mixins/headMixin";
  import { data as ordersData, dataInit as orderDataInit, update } from '@/models/ordersModel';
  import { dataInit as productDataInit, get as getProduct } from '@/models/productsModel';
  import { data as productOptionsData } from '@/models/productOptionsModel';
  import { validatePromo } from '@/models/promocodesModel';
  import { mdbContainer, mdbSpinner, mdbStepper } from 'mdbvue';
  import productOptionsFormSelect from '@/components/_common/productOptionsFormSelect';

  export default {
    name: 'pay',
    mixins: [headMixin],
    data () {
      return {
        productDataObj: productDataInit,
        productOptionsData: productOptionsData,
        productOptionDataObj: null,
        ordersData: ordersData,
        orderDataObj: orderDataInit,
        controller: 'pay',

        payStepper: [
          { icon: "tasks", name: "Опции и скидки" },
          { icon: "pencil-alt", name: "Доп. сведения" },
          { icon: "check", name: "Оплата" }
        ],
        stepperOptions: {
          nextBtn: {
            text: "Далее",
          },
          prevBtn: {
            text: "Назад",
          },
          submitBtn: {
            text: "Оплатить!",
            color: "success"
          },
        },
        currentStep: 1,
        validatedSteps: {},
        rules: {
          option_id: [
            { required: true, message: 'Укажите предложение!', trigger: 'change' },
          ],
          promocodeTest: [
            { validator: this.validatePromo, trigger: 'blur' }
          ],
        },
        promoCheckRes: null,
        loadingOverlay: null,
      };
    },
    computed: {
      ...mapState('commonStore', ['member', 'dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      currentOption() {
        if (this.order.option) return this.dataOptions.find(o => o.id == this.order.option);
        return false;
      }
    },
    components: {
      mdbContainer,
      mdbSpinner,
      mdbStepper,
      productOptionsFormSelect
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading', 'updateMeta']),
      updateProductOption(optionDataObj) {
        this.productOptionDataObj = optionDataObj;
        this.orderDataObj.option_id = optionDataObj && optionDataObj.id ? optionDataObj.id : '';
        this.orderDataObj.price = optionDataObj && optionDataObj.price ? optionDataObj.price : 0;
        this.orderDataObj.amount_paid = optionDataObj && optionDataObj.price ? optionDataObj.price : 0;
      },
      createOrder() {
        this.loadingOverlay = this.$loading({
          lock: true,
          text: 'Оформление заказа...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });

        let stepCallback = function () {
          this.loadingOverlay.close();
          this.$router.push({ path: this.config.URLPRE + this.ordersData.baseUrl + '/' + this.orderDataObj.id });
        };

        update.call(this, {
          dataVar: 'orderDataObj',
          formName: 'orderForm',
          action: 'create',
          fields: {
            option_id: this.orderDataObj.option_id,
            promocode: this.orderDataObj.promocode,
            client_message: this.orderDataObj.client_message,
          },
          callback: stepCallback.bind(this)
        });
      },
      submit() {
        console.log('submitted');
      },
      validatePromo(rule, value, callback) {
        validatePromo.call(this, {
          callback: function (res) {
            if (res) this.orderDataObj.promocode = this.orderDataObj.promocodeTest;
            else this.orderDataObj.promocode = '';
            this.promoCheckRes = res;
          }.bind(this)
        }, rule, value, callback);
      },
      validate(step) {
        switch (step) {
          case 1:
            this.$refs['orderForm'].validate((valid) => {
              if (valid) {
                this.validatedSteps[1] = true;
                this.currentStep = 2;
              }
            });
            break;

          case 2:
            this.createOrder();
            break;

            default:
              this.validatedSteps[step] = true;
        }

        if (this.validatedSteps.hasOwnProperty(step) && this.validatedSteps[step])
          this.currentStep++;
      },
      handleStep(step) {
        this.currentStep = step;
      }
    },
    created() {
      let _this = this;
      this.orderDataObj.client_id = this.member.id;

      if (this.$route.params.productId) {
        this.orderDataObj.product_id = this.$route.params.productId;

        getProduct.call(this, {
          id: this.$route.params.productId,
          dataVar: 'productDataObj',
          callback: function () {
            this.updateMeta({title: 'Оформление подписки: ' + this.productDataObj.name});
          }.bind(this)
        });
      }
    },
    watch: {
      '$route' (to) {
        getProduct.call(this, {
          id: to.params.productId,
          dataVar: 'productDataObj',
          callback: function () {
            this.updateMeta({title: 'Оформление подписки: ' + this.productDataObj.name});
          }.bind(this)
        });
      },
      currentStep(val, oldVal) {
        if (val < oldVal) {//Reset validate result when user come back
          for (let step in this.validatedSteps) {
            if (step >= val && step <= oldVal) delete(this.validatedSteps[step]);
          }
        }

        switch (val) {
          case 2:
            this.stepperOptions.nextBtn.text = 'Оформить заказ';
            break;

            default:
              this.stepperOptions.nextBtn.text = 'Далее';
        }
      },
    },
  }
</script>

<style scoped lang="scss">
    .order-container {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order-blockquote {
        margin-bottom: 0;
        font-size: .95rem;

        p {
            padding: .2rem 0;
            font-size: 1rem;
            margin-bottom: 0;

            &.bq-title {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }
</style>
