<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !presetItems || getDataLoading(presetsData.controller + '_get')}" class="pt-3">
        <template v-if="presetItems && !getDataLoading(presetsData.controller + '_get')">
            <mdb-row v-if="presetItems.length">
                <mdb-col v-for="item in presetItems" :key="item.id" sm="6" lg="4" class="mb-3 mt-md-0">
                    <mdb-card tag="a" @click.native.prevent="$router.push({ path: config.URLPRE + '/video/' + item.id })" testimonial>
                        <mdb-card-up class="unique-color-dark"></mdb-card-up>
                        <mdb-card-avatar color="white" class="mx-auto">
                            <img src="~@/assets/avatar.png" class="rounded-circle">
                        </mdb-card-avatar>
                        <mdb-card-body>
                            <mdb-card-title>{{item.name}}</mdb-card-title>
                            <template v-if="item.description">
                                <hr/>
                                <p><mdb-icon icon="quote-left" />{{item.description}}</p>
                            </template>
                        </mdb-card-body>
                    </mdb-card>
                </mdb-col>
            </mdb-row>
            <template v-else>
                <h2>Ваша корзинка пуста :(</h2>
            </template>
        </template>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { data as presetsData, get } from '@/models/presetsModel';
  import { mdbContainer, mdbRow, mdbCol, mdbSpinner, mdbCard, mdbCardUp, mdbCardAvatar, mdbCardBody, mdbCardTitle } from 'mdbvue';
  import headMixin from "@/mixins/headMixin";

  export default {
    name: 'playlist',
    mixins: [headMixin],
    data () {
      return {
        presetsData: presetsData,
        dataObj: null,
      };
    },
    computed: {
      ...mapState('commonStore', ['member', 'config', 'dataLoading']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      presetItems() {
        let items = null;
        if (this.dataObj && this.dataObj.hasOwnProperty('items')) {
          items = this.dataObj.items;
          items.sort((a, b) => b.updated_unix - a.updated_unix);
        }
        return items;
      }
    },
    components: {
      mdbContainer, mdbRow, mdbCol,
      mdbCard, mdbCardUp, mdbCardAvatar, mdbCardBody, mdbCardTitle,
      mdbSpinner,
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta', 'updateDataLoading']),
    },
    created() {
      if (this.$route.params.presetId) {
        this.updateMeta({title: 'Тренинг'});

        get.call(this, {
          id: this.$route.params.presetId,
          callback: function () {
            this.updateMeta({title: 'Тренинг: ' + this.dataObj.name});
          }.bind(this)
        });
      }
    },
  }
</script>
