<template>
    <mdb-container
        :class="{
                'vh-100 d-flex align-items-center justify-content-center': !dataObj || getDataLoading(itemsData.controller + '_get'),
                'pl-0 pr-0 embed-responsive embed-responsive-16by9': dataObj && dataObj.resource_string_id,
                'relative-container': hlsError
            }"
        class="pt-3" fluid
    >
        <template v-if="dataObj && !getDataLoading(itemsData.controller + '_get')">
            <iframe
                v-if="~dataObj.resource_string_id.indexOf('vimeo.com')"
                :src="'https://player.vimeo.com/video/' + dataObj.resource_string_id.toString().replace(/.*\//, '') + '?transparent=false'"
                class="embed-responsive-item" frameborder="0" allowfullscreen
            ></iframe>
            <template v-else>
                <video
                    v-show="dataObj.resource_string_id"
                    ref="html5player" class="embed-responsive-item" autoplay="true" muted="muted"
                >
                    Your browser does not support the video tag.
                </video>
                <div v-if="hlsError" class="d-flex align-items-center justify-content-center flex-column" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                    <h5 style="color: #c0c4cc" class="text-center">Ошибка воспроизведения :'(</h5>
                    <h5 style="color: #c0c4cc" class="text-center">Неподдерживаемый формат</h5>
                </div>
            </template>
            <h5 v-if="!dataObj || !dataObj.resource_string_id" class="mt-5 text-center">Отсутствует ссылка на видеофайл!</h5>
        </template>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { data as itemsData, get } from '@/models/itemsModel';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import headMixin from "@/mixins/headMixin";
  import Hls from 'hls.js';

  export default {
    name: 'video',
    mixins: [headMixin],
    data () {
      return {
        itemsData: itemsData,
        dataObj: null,
        hls: null,
        hlsError: null,
      };
    },
    computed: {
      ...mapState('commonStore', ['member', 'config', 'dataLoading']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbContainer, mdbSpinner,
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta', 'updateDataLoading']),
      loadHlsSource() {
        let _this = this;
        this.hls = new Hls();
        this.hls.loadSource(this.dataObj.resource_string_id);
        this.hls.attachMedia(this.$refs.html5player);
        this.hls.on(Hls.Events.MANIFEST_PARSED, function() {
          _this.$refs.html5player.play();
          _this.hlsError = null;
        });
      }
    },
    created() {
      if (this.$route.params.videoId) {
        this.updateMeta({title: 'Видео'});

        get.call(this, {
          id: this.$route.params.videoId,
          callback: function () {
            if (this.dataObj && this.dataObj.resource_string_id && !~this.dataObj.resource_string_id.indexOf('vimeo.com')) {
              if (Hls.isSupported()) {
                this.loadHlsSource();
                this.hls.on(Hls.Events.ERROR, (event, data) => {
                  this.hlsError = data;
                });
              } else if (this.$refs.html5player.canPlayType('application/vnd.apple.mpegurl')) {
                this.$refs.html5player.src = this.dataObj.resource_string_id;
                this.$refs.html5player.addEventListener('loadedmetadata', function() {
                  this.$refs.html5player.play();
                });
              }
            }

            this.updateMeta({title: 'Видео: ' + this.dataObj.name});
          }.bind(this)
        });
      }
    },
  }
</script>
