<template>
    <component :is="currentComponent" />
</template>

<script>
  import presetsListPage from './presetsListPage';
  import presetsSinglePage from './presetsSinglePage';

  export default {
    name: 'presetsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.presetId ? 'presetsSinglePage' : 'presetsListPage';
      }
    },
    components: {
      presetsListPage,
      presetsSinglePage
    },
  }
</script>