<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="100px"
        >
          <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
          <input type="hidden" v-model="dataObj.preset_type" name="preset_type"/>
          <input type="hidden" v-model="dataObj.status" name="status"/>

          <el-tabs v-model="activeTab" tab-position="top">
            <el-tab-pane name="generalTab" label="Данные коллекции">
              <mdb-row>
                <mdb-col lg="6">
                  <el-form-item label="Название" prop="name">
                    <el-input
                        v-model.trim="dataObj.name"
                        type="text" id="name" name="name"
                    />
                  </el-form-item>
                </mdb-col>
                <mdb-col v-if="isNew" sm="6" lg="3">
                  <el-form-item label="Тип">
                    <el-select v-model="dataObj.preset_type">
                      <el-option
                          v-for="(item, key) in presetTypes"
                          :key="key" :label="item.text" :value="key"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </mdb-col>
                <mdb-col sm="6" lg="3">
                  <item-status-form-select
                      :status="dataObj.status" :itemStatuses="presetsData.status"
                      :controller="presetsData.controller"
                      inputLabel="Состояние"
                  />
                </mdb-col>
              </mdb-row>
              <mdb-row>
                <mdb-col>
                  <div class="form-group">
                    <el-form-item label="Описание">
                      <el-input
                          v-model.trim="dataObj.description"
                          type="textarea" name="description" :rows="3"
                      />
                    </el-form-item>
                  </div>
                </mdb-col>
              </mdb-row>
              <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(presetsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                  {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
              </div>
            </el-tab-pane>
            <el-tab-pane name="itemsTab" label="Состав коллекции">
              <presets-items :presetId="dataObj.id" />
            </el-tab-pane>
          </el-tabs>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as presetsData, dataInit as presetsDataInit,
    get, update, validateUnique, validateString
  } from '@/models/presetsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import presetsItems from "@/components/presets/presetsItems";

  export default {
    name: "presetsSinglePage",
    mixins: [headMixin],
    data() {
      return {
        presetsData: presetsData,
        dataObj: presetsDataInit,
        dataObjClone: null,
        toolsMenu: [],
        activeTab: 'generalTab',
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
        },
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.promoId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.presetsData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку промокодов',
            link: this.config.URLPRE + this.presetsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol,
      itemStatusFormSelect,
      presetsItems
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новая коллекция' : 'Страница коллекции' + (this.dataObj.name ? ': ' + this.dataObj.name : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...presetsDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.presetId,
          callback: function () {
            this.updateMeta({title: 'Коллекция: ' + this.dataObj.name});
          }.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.presetsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.presetsData.controller + '_handle-status-select',
      ]);
    }
  };
</script>