<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field == 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit', 'activate']"
                :controller="controller" :baseUrl="baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного сотрудника</div>
    </vue-good-table>
</template>

<script>
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "adminsTable",
    props: ['tableColumns', 'tableRows', 'tableOptions', 'controller', 'status', 'baseUrl'],
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.status ? this.status[row.status].className : '';
      }
    }
  };
</script>