<template>
    <div>
        <h1>Заказ #{{data.id}}</h1>
        <mdb-tbl responsive>
            <mdb-tbl-body>
                <tr>
                    <th scope="row">Продукт:</th>
                    <td class="font-weight-bold">{{additionalData.product.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Предложение:</th>
                    <td class="font-weight-bold">{{additionalData.option.name}}</td>
                </tr>
                <tr>
                    <th scope="row" class="h4">Сумма:</th>
                    <td class="font-weight-bold h3">{{data.price}} &#8381;</td>
                </tr>
            </mdb-tbl-body>
        </mdb-tbl>
        <template v-if="data.client_message">
            <ab-divider>Ваши отметки</ab-divider>
            <p style="white-space: pre-wrap;">{{data.client_message}}</p>
        </template>
    </div>
</template>

<script>
  import { mdbTbl, mdbTblBody } from 'mdbvue';
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "ordersForm",
    data() {
      return {
        data: this.dataInit,
      }
    },
    props: ['dataInit', 'status'],
    computed: {
      additionalData() {
        return JSON.parse(this.data.additional_data);
      }
    },
    components: {
      mdbTbl, mdbTblBody,
      abDivider
    },
  };
</script>