<template>
    <component :is="currentComponent" />
</template>

<script>
  import itemsListPage from './itemsListPage';
  import itemsSinglePage from './itemsSinglePage';

  export default {
    name: 'itemsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.itemId ? 'itemsSinglePage' : 'itemsListPage';
      }
    },
    components: {
      itemsListPage,
      itemsSinglePage
    },
  }
</script>