<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !itemDataObj || getDataLoading(itemData.controller + '_deleteSeriously_' + itemDataObj.id)}">
        <el-form
            v-show="itemDataObj && !getDataLoading(itemData.controller + '_deleteSeriously_' + itemDataObj.id)"
            id="dataForm" class="mt-4"
            :model="itemDataObj" :rules="rules" ref="dataForm"
            label-position="top" status-icon
            v-loading="fileUploading && uploadRes === null"
        >
            <input v-if="itemDataObj.id" type="hidden" name="id" v-model="itemDataObj.id"/>
            <input type="hidden" name="item_type" v-model="itemDataObj.item_type"/>
            <input type="hidden" name="status" v-model="itemDataObj.status"/>

            <el-tabs v-model="activeTab" tab-position="top">
                <el-tab-pane name="generalTab" label="Основные данные">
                    <mdb-row v-show="isNew">
                        <mdb-col class="d-flex flex-column align-items-center">
                            <h5 class="text-center">Загрузка медиафайла...</h5>
                            <el-progress v-show="fileUploading" type="circle" :percentage="uploadProgress" :[statusAttr]="status.value"/>
                            <div v-show="!fileUploading">
                                <div class="d-flex flex-column align-items-center">
                                    <el-upload
                                        class="upload-demo d-flex flex-column align-items-center" ref="upload"
                                        accept="video/*" action :disabled="itemDataObj.file !== null"
                                        :auto-upload="false" :on-remove="handleRemove" :on-change="handleChange" :limit="1"
                                    >
                                        <el-button size="small" type="primary">Выбрать файл</el-button>
                                        <div slot="tip" class="el-upload__tip">MP4, MOV, WMV, AVI или FLV видеофайл</div>
                                    </el-upload>
                                    <el-button type="primary" class="mt-3" plain :loading="fileUploading" @click.prevent.native="uploadVideo" :disabled="!itemDataObj.file">Загрузить</el-button>
                                </div>
                            </div>
                            <div v-if="uploadRes !== null" class="mt-4">
                                <el-button type="primary" plain @click.prevent.native="reUploadVideo">Повторить попытку...</el-button>
                            </div>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col col="6">
                            <el-form-item label="Название" prop="name">
                                <el-input
                                    v-model.trim="itemDataObj.name"
                                    type="text" id="name" name="name"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col col="6">
                            <el-form-item label="Системное имя" prop="system_name">
                                <el-input
                                    v-model.trim="itemDataObj.system_name"
                                    type="text" id="system_name" name="system_name"
                                    readonly
                                />
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col col="6">
                            <el-form-item label="URL медиафайла" prop="resource_string_id">
                                <el-input
                                    v-model.trim="itemDataObj.resource_string_id"
                                    type="text" id="resource_string_id" name="resource_string_id"
                                    :readonly="itemDataObjClone && !!itemDataObjClone.resource_string_id.toString().length"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col sm="6" xl="4">
                            <item-status-form-select
                                :status="itemDataObj.status" :itemStatuses="itemData.status"
                                :controller="itemData.controller"
                                inputLabel="Состояние"
                            />
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
                <el-tab-pane name="advTab" label="Описание">
                    <mdb-row>
                        <mdb-col>
                            <el-input v-model.trim="itemDataObj.description" type="textarea" name="description" :rows="3"/>
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
            </el-tabs>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!itemDataObj || getDataLoading(itemData.controller + '_updateData')"
                    :disabled="fileUploading"
                    @click="saveData('dataForm')"
                >Сохранить</el-button>
                <el-button
                    type="success" plain @click="showVideoPopup = true" icon="el-icon-view" title="Просмотр"
                    :disabled="!itemDataObj.resource_string_id.toString().length"
                />
                <el-button
                    type="info" plain @click="downloadItem" icon="el-icon-download" title="Скачать"
                    :disabled="getDataLoading(itemData.controller + '_getData_download_' + itemDataObj.id)"
                    :loading="getDataLoading(itemData.controller + '_getData_download_' + itemDataObj.id)"
                />
                <el-button
                    v-if="itemDataObj.id && admin.permissions.items_delete_with_content"
                    type="danger" plain @click="showPopup = true"
                >Удалить навсегда</el-button>
            </div>
        </el-form>
        <mdb-spinner v-if="!itemDataObj || getDataLoading(itemData.controller + '_deleteSeriously_' + itemDataObj.id)" big crazy />
        <mdb-modal :show="showVideoPopup" @close="showVideoPopup = false" centered>
            <mdb-modal-body>
                <vue-plyr ref="plyr">
                    <div data-plyr-provider="vimeo" :data-plyr-embed-id="itemDataObj.resource_string_id"></div>
                </vue-plyr>
            </mdb-modal-body>
        </mdb-modal>
        <popup-yes-no
            :showPopup="showPopup" :heading="heading"
            v-on:no-handle="selectedId = showPopup = false" v-on:yes-handle="deleteSeriouslyFn"
        />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as itemData, dataInit as itemDataInit, get, update, deleteSeriously } from '@/models/itemsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbRow, mdbCol, mdbSpinner, mdbModal, mdbModalBody } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import {eventBus} from "@/store/eventBus";
  const tus = require("tus-js-client");
  import popupYesNo from '@/components/_common/popupYesNo';

  export default {
    name: 'itemsSinglePage',
    mixins: [headMixin],
    data () {
      return {
        itemData: itemData,
        itemDataObj: itemDataInit,
        itemDataObjClone: null,
        downloadLink: null,
        toolsMenu: [],
        fileUploading: false,
        uploadRes: null,
        uploadProgress: 0,
        tpm_vimeo: null,
        status: {
          attr: null,
          value: null,
        },
        rules: {
          name: [
            { required: true, message: 'Укажите предложение!', trigger: 'change' },
          ],
          resource_string_id: [
            { required: true, message: 'Укажите URL медиафайла!', trigger: 'change' },
          ],
        },
        showVideoPopup: false,
        heading: 'Вы уверены, что хотите удалить медиафайл навсегда?',
        showPopup: false,
        activeTab: 'generalTab',
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config', 'admin']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.itemId === 'new';
      },
      statusAttr() {
        return this.status.attr;
      }
    },
    components: {
      mdbContainer, mdbRow, mdbCol,
      mdbSpinner,
      mdbModal, mdbModalBody,
      itemStatusFormSelect,
      popupYesNo
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      uploadVideo() {
        let _this = this;
        this.fileUploading = true;

        //Try to get Vimeo Credo
        get.call(this, {
          getMethod: 'getVimeoCredentials',
          dataVar: 'tpm_vimeo',
          callback: function () {
            if (this.tpm_vimeo && this.tpm_vimeo.hasOwnProperty('vimeo_access_token')) {
              //Try upload to Vimeo
              try {
                this.axios({
                  method: 'post',
                  url: 'https://api.vimeo.com/me/videos',
                  data: {
                    "upload": {
                      "approach": "tus",
                      "size": this.itemDataObj.file.size
                    },
                    "name": this.itemDataObj.name,
                    "description": this.itemDataObj.description,
                  },
                  headers: {
                    'Authorization': 'bearer ' + this.tmp_vimeo.vimeo_access_token,
                    'Content-Type': 'application/json',
                    'Accept': 'application/vnd.vimeo.*+json;version=3.4',
                  }
                })
                  .then(function (response) {
                    _this.itemDataObj.resource_string_id = response.data.uri.replace(/.*\//, '');
                    new tus.Upload(_this.itemDataObj.file, {
                      uploadUrl: response.itemDataObj.upload.upload_link,
                      retryDelays: [0, 3000, 5000, 10000, 20000],
                      metadata: {
                        filename: _this.itemDataObj.file.name,
                        filetype: _this.itemDataObj.file.type
                      },
                      onError: function(error) {
                        _this.uploadRes = false;
                        console.log("Failed because: " + error);
                      },
                      onProgress: function(bytesUploaded, bytesTotal) {
                        _this.uploadProgress = parseInt(bytesUploaded / bytesTotal * 100);
                      },
                      onSuccess: function() {
                        _this.saveData('dataForm');
                      }
                    }).start();
                  })
                  .catch(function (response) {
                    _this.uploadRes = false;
                    console.log(response);
                    return false;
                  })
                  .finally(function () {
                    _this.tmp_vimeo = null;
                  });
              } catch (e) {
                this.uploadRes = false;
              }
            }
          }.bind(this)
        });
      },
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid)
            update.call(this, {
              formName: form,
              dataVar: 'itemDataObj',
              action: this.isNew ? 'create' : 'update',
              callback: function () {
                if (this.isNew)
                  this.$router.push({ path: this.config.URLPRE + this.itemData.baseUrl + '/' + this.itemDataObj.id });
              }.bind(this)
            });
        });
      },
      deleteSeriouslyFn() {
        deleteSeriously.call(this, {
          id: this.itemDataObj.id,
          callback: function () {
            this.$router.push({ path: this.config.URLPRE + this.itemData.baseUrl });
            this.showPopup = false;
          }.bind(this),
          failback: function () {
            this.showPopup = false;
          }.bind(this),
        });
      },
      updateDataCallback() {
        if (this.isNew) this.uploadRes = true;
      },
      reUploadVideo() {
        this.$refs.upload.clearFiles();
        this.itemDataObj = {...itemDataInit};
        this.fileUploading = false;
        this.uploadProgress = 0;
        this.uploadRes = null;
      },
      handleRemove() {
        this.itemDataObj.file = null;
      },
      handleChange() {
        let uploadedFile = document.forms['dataForm']['file'].files[0];
        this.itemDataObj.file = uploadedFile;
        if (!this.itemDataObj.name || this.itemDataObj.name.trim() === '')
          this.itemDataObj.name = uploadedFile.name;
      },
      downloadItem() {
        get.call(this, {
          id: this.itemDataObj.id,
          getMethod: 'getVimeoDownloadLink',
          dataVar: 'downloadLink',
          failMsg: 'Невозможно получить ссылку на скачивание!',
          loadPstfx: 'download_' + this.itemDataObj.id,
          callback: function () {
            window.open(this.downloadLink);
          }.bind(this)
        });
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку медиафайлов',
            link: this.config.URLPRE + this.itemData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    watch: {
      uploadRes: function (newVal) {
        if (newVal === false) {
          this.$notify.error({title: this.config.NOTIFY.failTitle, message: 'Ошибка загрузки файла!'});
          this.uploadProgress = 100;
          this.status = {
            attr: 'status',
            value: 'exception',
          }
        } else if (newVal === true) {
          this.status = {
            attr: 'status',
            value: 'success',
          }
        } else {
          this.status = {
            attr: null,
            value: null,
          }
        }
      }
    },
    created() {
      this.updateMeta({title: 'Медиафайл'});
      this.buildToolsMenu();

      if (!this.isNew)
        get.call(this, {
          id: this.$route.params.itemId,
          dataVar: 'itemDataObj',
          callback: function () {
            this.updateMeta({title: 'Медиафайл: ' + this.itemDataObj.name});
          }.bind(this)
        });

      const _this = this;
      eventBus.$on(this.itemData.controller + '_handle-status-select', (data) => _this.itemDataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.itemData.controller + '_handle-status-select',
      ]);
    }
  }
</script>