<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !data}" fluid>
        <tabs
            v-if="data"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <items-table v-if="tableRows[tab]" :tableRows="tableRows[tab]" :totalRows="totalRows[tab]" />
                <div v-else class="d-flex justify-content-center py-3">
                    <mdb-spinner big crazy />
                </div>
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
        <popup-yes-no
            :showPopup="showPopup" :heading="heading"
            v-on:no-handle="selectedId = showPopup = false" v-on:yes-handle="deleteSeriouslyFn"
        />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as itemsData, get, getList, deleteFn, deleteSeriously, setStatus } from '@/models/itemsModel';
  import headMixin from "@/mixins/headMixin";
  import listPage from '@/mixins/listPageServerSide';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import itemsTable from '@/components/items/itemsTable';
  import popupYesNo from '@/components/_common/popupYesNo';

  export default {
    name: "itemsListPage",
    mixins: [headMixin, listPage],
    data() {
      return {
        itemsData: itemsData,
        data: null,
        downloadLink: null,
        tabs: {
          all: {text: 'Все', textPl: 'Все', className: '', params: []},
        },
        tableRows: {},
        totalRows: {},
        toolsMenu: [],
        currentTab: 'active',
        heading: 'Вы уверены, что хотите удалить медиафайл навсегда?',
        showPopup: false,
        selectedId: null,
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      itemsTable,
      popupYesNo
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      deleteSeriouslyFn() {
        deleteSeriously.call(this, {
          id: this.selectedId,
          callback: function () {
                this.loadItems();
                this.showPopup = false;
              }.bind(this),
          failback: function () {
                this.showPopup = false;
              }.bind(this),
        });
      },
      loadItems() {
        getList.call(this, {
          getListMethod: 'getListAdv',
          fields: {
            server_params: JSON.stringify(this.tabs[this.currentTab].serverSideObj),
            search_params: JSON.stringify(this.tabs[this.currentTab].params)
          },
          callback: function () {
            this.tableRows[this.currentTab] = [...this.data.rows];
            this.totalRows[this.currentTab] = this.data.totalRows;
          }.bind(this)
        });
      },
      initTabs(callback) {
        this.tabs = {...this.tabs, ...this.itemsData.status};

        for (let tabKey in this.tabs) {
          this.tabs[tabKey].serverSideObj = {
            serverParams: {
              columnFilters: [],
              sort: [
                {field: 'updated', type: 'desc'}
              ],
              page: 1,
              perPage: 30
            }
          };
          this.$set(this.tableRows, tabKey, []);
          this.$set(this.totalRows, tabKey, 0);
        }

        if (callback) callback();
      },
      buildToolsMenu() {
        if (this.admin.permissions.items) {
          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Загрузить медиафайл',
                  link: this.config.URLPRE + this.itemsData.baseUrl + '/new',
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
        this.loadItems();
      }
    },
    created() {
      this.updateMeta({title: 'Список медиафайлов'});
      this.buildToolsMenu();
      this.initTabs(function () {
        this.loadItems();
      }.bind(this));

      let _this = this;

      eventBus.$on(this.itemsData.controller + '_page-change', (data) => { _this.onPageChange(data) });
      eventBus.$on(this.itemsData.controller + '_sort-change', (data) => { _this.onSortChange(data) });
      eventBus.$on(this.itemsData.controller + '_column-filter', (data) => { _this.onColumnFilter(data) });
      eventBus.$on(this.itemsData.controller + '_per-page-change', (data) => { _this.onPerPageChange(data) });
      eventBus.$on(this.itemsData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            _this.loadItems();
          }.bind(_this)
        })
      });
      eventBus.$on(this.itemsData.controller + '_deleteSeriously-row-handle', (data) => {
        _this.selectedId = data;
        _this.showPopup = true;
      });
      eventBus.$on(this.itemsData.controller + '_download-row-handle', (data) => {
        get.call(_this, {
          id: data,
          getMethod: 'getVimeoDownloadLink',
          dataVar: 'downloadLink',
          failMsg: 'Невозможно получить ссылку на скачивание!',
          loadPstfx: 'download_' + data,
          callback: function () {
            window.open(this.downloadLink);
          }.bind(_this)
        });
      });
      eventBus.$on(
        [this.itemsData.controller + '_restore-row-handle', this.itemsData.controller + '_activate-row-handle'],
        (data) => {
          setStatus.call(_this, {
            id: data,
            status: 'active',
            statusList: _this.itemsData.status,
            callback: function () {
              _this.loadItems();
            }.bind(_this)
          })
        });
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.itemsData.controller + '_page-change',
        this.itemsData.controller + '_sort-change',
        this.itemsData.controller + '_column-filter',
        this.itemsData.controller + '_per-page-change',
        this.itemsData.controller + '_delete-row-handle',
        this.itemsData.controller + '_deleteSeriously-row-handle',
        this.itemsData.controller + '_restore-row-handle',
        this.itemsData.controller + '_activate-row-handle',
      ]);
    }
  };
</script>