<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(ordersData.controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <orders-table :tableRows="tableRows[tab]" :totalRows="totalRows[tab]" :clientId="clientId" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import {data as ordersData, deleteFn, getList} from '@/models/ordersModel';
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import listPage from '@/mixins/listPageServerSide';
  import tabs from '@/components/_common/tabs';
  import ordersTable from '@/components/orders/ordersTable';
  import {eventBus} from "@/store/eventBus";

  export default {
    name: "clientOrders",
    mixins: [listPage],
    data() {
      return {
        ordersData: ordersData,
        data: null,
        tableRows: {},
        totalRows: {},
        toolsMenu: [],
        tabs: {
          all: {text: 'Все', textPl: 'Все', className: '', params: [['client_id', '=', this.clientId]]},
        },
        currentTab: 'new',
      }
    },
    props: ['clientId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      ordersTable
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      loadItems() {
        getList.call(this, {
          getListMethod: 'getListAdv',
          fields: {
            server_params: JSON.stringify(this.tabs[this.currentTab].serverSideObj),
            search_params: JSON.stringify(this.tabs[this.currentTab].params)
          },
          callback: function () {
            this.tableRows[this.currentTab] = [...this.data.rows];
            this.totalRows[this.currentTab] = this.data.totalRows;
          }.bind(this)
        });
      },
      initTabs(callback) {
        this.tabs = {...this.tabs, ...this.ordersData.status};

        for (let tabKey in this.tabs) {
          this.tabs[tabKey].params.push(['client_id', '=', this.clientId]);
          this.tabs[tabKey].serverSideObj = {
            serverParams: {
              columnFilters: [],
              sort: [
                { field: 'updated', type: 'desc' }
              ],
              page: 1,
              perPage: 30
            }
          };
          this.$set(this.tableRows, tabKey, []);
          this.$set(this.totalRows, tabKey, 0);
        }

        if (callback) callback();
      },
      tabChangeHandle(id) {
        this.currentTab = id;
        this.loadItems();
      }
    },
    created() {
      let _this = this;

      this.initTabs(function () {
        this.loadItems();
      }.bind(this));

      eventBus.$on(this.ordersData.controller + '_page-change', (data) => { _this.onPageChange(data) });
      eventBus.$on(this.ordersData.controller + '_sort-change', (data) => { _this.onSortChange(data) });
      eventBus.$on(this.ordersData.controller + '_column-filter', (data) => { _this.onColumnFilter(data); });
      eventBus.$on(this.ordersData.controller + '_per-page-change', (data) => { _this.onPerPageChange(data) });
      eventBus.$on(this.ordersData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            _this.loadItems();
          }.bind(_this)
        })
      });
    },
    destroyed() {
      eventBus.$off([
        this.ordersData.controller + '_page-change',
        this.ordersData.controller + '_sort-change',
        this.ordersData.controller + '_column-filter',
        this.ordersData.controller + '_per-page-change',
        this.ordersData.controller + '_delete-row-handle',
      ]);
    }
  };
</script>