<template>
    <vue-good-table
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :isLoading="getDataLoading(ordersData.controller + '_getListAdv')"
        :totalRows="totalRows"
        :pagination-options="{
            enabled: true,
            nextLabel: 'Дальше',
            prevLabel: 'Назад',
            rowsPerPageLabel: '',
            ofLabel: 'из',
            allLabel: 'Всех',
        }"
        :rows="tableRows"
        :columns="tableColumns"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <router-link
                v-if="props.column.field === '`products`.name'"
                :to="config.URLPRE + productsData.baseUrl + '/' + props.row.product_id"
            >
                {{props.row.product_name}}
            </router-link>
            <template v-else-if="props.column.field === '`options`.name'">
                {{props.row.option_name}}
            </template>
            <table-controls-cell
                v-else-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['edit']"
                :controller="ordersData.controller" :baseUrl="ordersData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного заказа</div>
    </vue-good-table>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as ordersData } from '@/models/ordersModel';
  import { data as clientsData } from '@/models/clientsModel';
  import { data as productsData } from '@/models/productsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "ordersTableMember",
    data() {
      return {
        ordersData: ordersData,
        clientsData: clientsData,
        productsData: productsData,
        tableColumns: [
          {label: 'Продукт', field: '`products`.name', filterOptions: { enabled: true }, thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Предложение', field: '`options`.name', filterOptions: { enabled: true }, thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Стоимость', field: 'price', thClass: 'text-center', tdClass: 'text-center', type: 'number'},
          {label: 'Долг', field: 'debt', thClass: 'text-center', tdClass: this.tdDutyClassFn, type: 'number'},
          {label: 'Создан', field: 'created', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'created', type: 'desc'}}
        }
      }
    },
    props: ['tableRows', 'totalRows'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      onPageChange(params) { eventBus.$emit(this.ordersData.controller + '_page-change', params) },
      onSortChange(params) { eventBus.$emit(this.ordersData.controller + '_sort-change', params) },
      onColumnFilter(params) { eventBus.$emit(this.ordersData.controller + '_column-filter', params) },
      onPerPageChange(params) { eventBus.$emit(this.ordersData.controller + '_per-page-change', params) },
      rowStyleClassFn(row) {
        return row.status in this.ordersData.status ? this.ordersData.status[row.status].className : '';
      },
      tdDutyClassFn(row) {
        return row.amount_paid < row.price ? 'text-center red-text' : 'text-center';
      },
    },
  };
</script>