<template>
    <vue-good-table
        mode="remote"
        @on-page-change="onPageChange"
        @on-sort-change="onSortChange"
        @on-column-filter="onColumnFilter"
        @on-per-page-change="onPerPageChange"
        :isLoading="getDataLoading(ordersData.controller + '_getListAdv')"
        :totalRows="totalRows"
        :pagination-options="{
            enabled: true,
            nextLabel: 'Дальше',
            prevLabel: 'Назад',
            rowsPerPageLabel: '',
            ofLabel: 'из',
            allLabel: 'Всех',
        }"
        :rows="tableRows"
        :columns="tableColumns"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <router-link
                v-if="props.column.field === '`products`.name'"
                :to="config.URLPRE + productsData.baseUrl + '/' + props.row.product_id"
            >
                {{props.row.product_name}}
            </router-link>
            <template v-else-if="props.column.field === '`options`.name'">
                {{props.row.option_name}}
            </template>
            <router-link
                v-else-if="props.column.field === '`clients`.last_name'"
                :to="config.URLPRE + clientsData.baseUrl + '/' + props.row.client_id"
            >
                {{getFormattedClient(props.row.client_last_name, props.row.client_first_name, props.row.client_patronym_name)}}
            </router-link>
            <router-link
                v-else-if="props.column.field === 'dt_trans'" title="Просмотр"
                :to="config.URLPRE + '/order-trans/' + props.row.client_id + '/' + props.row.id"
                class="el-button el-button--default is-circle"
            >
                <i class="el-icon-search"></i>
            </router-link>
            <template v-else-if="props.column.field === 'tags_list'">
                <template v-if="props.row.tags_list">
                    <el-tag
                        :key="tag" v-for="tag in props.row.tags_list.split(',')"
                        class="mr-2 mb-2"
                    >
                        {{tag}}
                    </el-tag>
                </template>
                <span v-else></span>
            </template>
            <table-controls-cell
                v-else-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['delete', 'edit']"
                :controller="ordersData.controller" :baseUrl="ordersData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного заказа</div>
    </vue-good-table>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import { data as ordersData } from '@/models/ordersModel';
  import { data as clientsData } from '@/models/clientsModel';
  import { data as productsData } from '@/models/productsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "ordersTable",
    data() {
      return {
        ordersData: ordersData,
        clientsData: clientsData,
        productsData: productsData,
        tableColumns: [
          {label: 'Продукт', field: '`products`.name', filterOptions: { enabled: true }, thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Предложение', field: '`options`.name', filterOptions: { enabled: true }, thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Стоимость', field: 'price', thClass: 'text-center', tdClass: 'text-center', type: 'number'},
          {label: 'Долг', field: 'debt', thClass: 'text-center', tdClass: this.tdDutyClassFn, type: 'number'},
          {label: 'Клиент', field: '`clients`.last_name', filterOptions: { enabled: true }, thClass: 'text-center', tdClass: 'text-center', hidden: !!this.clientId},
          {label: 'Теги', field: 'tags_list', thClass: 'text-center', tdClass: 'text-center', filterOptions: { enabled: true },},
          {label: 'Создан', field: 'created', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Транзакции', field: 'dt_trans', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'created', type: 'desc'}}
        }
      }
    },
    props: ['tableRows', 'totalRows', 'clientId'],
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['getDataLoading']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      getFormattedClient(client_last_name, client_first_name, client_patronym_name) {
        let arr = [];
        let lastName = client_last_name ? client_last_name : '';
        let firstName = client_first_name ? (client_last_name ? client_first_name[0] + '.' : client_first_name) : '';
        let patronymName = client_patronym_name ? client_patronym_name[0] + '.' : '';

        if (lastName || firstName || patronymName) {
          arr.push(lastName);
          arr.push(firstName);
          arr.push(patronymName);
          return arr.join(' ');
        }

        return '[ Без имени ]';
      },
      onPageChange(params) { eventBus.$emit(this.ordersData.controller + '_page-change', params) },
      onSortChange(params) { eventBus.$emit(this.ordersData.controller + '_sort-change', params) },
      onColumnFilter(params) { eventBus.$emit(this.ordersData.controller + '_column-filter', params) },
      onPerPageChange(params) { eventBus.$emit(this.ordersData.controller + '_per-page-change', params) },
      rowStyleClassFn(row) {
        return row.status in this.ordersData.status ? this.ordersData.status[row.status].className : '';
      },
      tdDutyClassFn(row) {
        return row.amount_paid < row.price ? 'text-center red-text' : 'text-center';
      }
    },
  };
</script>