<template>
    <div
        v-if="data"
        :class="{'vh-100 d-flex align-items-center justify-content-center': !data && getDataLoading(ordersData.controller + '_getTagsListByOrderId')}"
    >
        <el-tag
            :key="tag.id"
            v-for="tag in data"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
            class="mr-2 mb-2"
        >
            {{tag.name}}
        </el-tag>
        <el-input
            class="input-new-tag w-auto"
            v-if="inputVisible"
            v-model.trim="tagDataObj.name"
            ref="saveTagInput"
            size="small"
            @keyup.enter.native="handleInputConfirm"
            @blur="inputVisible = false"
        >
        </el-input>
        <el-button
            v-else
            v-loading="getDataLoading(tagData.controller + '_updateData')"
            :disabled="getDataLoading(tagData.controller + '_updateData')"
            class="button-new-tag" size="small" icon="el-icon-plus" @click="showInput"
        >Добавить тег</el-button>
    </div>
    <mdb-spinner v-else big crazy />
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as tagData, dataInit as tagDataInit, update } from '@/models/tagsModel';
  import { getListGlobal, updateGlobal } from '@/models/_baseModel';
  import { mdbSpinner } from 'mdbvue';

  export default {
    name: "orderTags",
    data() {
      return {
        tagData: tagData,
        tagDataObj: tagDataInit,
        controller: 'orders_tags',
        data: null,
        inputVisible: false,
      }
    },
    props: {
      orderId: {
        required: true,
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
    },
    components: {
      mdbSpinner
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      handleClose(tag) {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'removeTagFromOrder',
          fields: {
            'order_id': this.orderId,
            'tag_id': tag.id,
          },
          successMsg: 'Тег успешно исключен!',
          callback: function () {
            getListGlobal.call(this, {
              controller: this.controller,
              getListMethod: 'getTagsListByOrderId',
              fields: {'order_id': this.orderId}
            });
          }.bind(this)
        });
      },
      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },
      handleInputConfirm() {
        if (this.tagDataObj.name) {
          let searchRes = this.data.find((tag) => tag.name === this.tagDataObj.name);
          if (!searchRes) {
            update.call(this, {
              dataVar: 'tagDataObj',
              controller: tagData.controller,
              action: 'create',
              fields: this.tagDataObj,
              successMsg: false,
              callback: function () {
                updateGlobal.call(this, {
                  controller: this.controller,
                  action: 'create',
                  fields: {
                    'order_id': this.orderId,
                    'tag_id': this.tagDataObj.id,
                  },
                  successMsg: 'Новый тег успешно присвоен!',
                  callback: function () {
                    getListGlobal.call(this, {
                      controller: this.controller,
                      getListMethod: 'getTagsListByOrderId',
                      fields: { 'order_id': this.orderId }
                    });
                  }.bind(this)
                });
              }.bind(this)
            });
          } else {
            this.$notify.warning({title: this.config.NOTIFY.warningTitle, message: 'Такой тег уже присвоен этому заказу!'});
          }
        }
        this.inputVisible = false;
      }
    },
    created() {
      if (this.orderId) {
        getListGlobal.call(this, {
          controller: this.controller,
          getListMethod: 'getTagsListByOrderId',
          fields: { 'order_id': this.orderId }
        });
      }
    },
    watch: {
      orderId(val) {
        if (val) {
          getListGlobal.call(this, {
            controller: this.controller,
            getListMethod: 'getTagsListByOrderId',
            fields: { 'order_id': val }
          });
        } else {
          this.data = null;
        }
      }
    }
  }
</script>