<template>
  <div id="app">
    <component :is="config.APP" />
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import appMember from './App_member';
  import appAdmin from './App_admin';

  export default {
    computed: {
      ...mapState('commonStore', ['config']),
      ...mapGetters('commonStore', ['token'])
    },
    components: {
      appMember,
      appAdmin
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta', 'updateAccessTokenData']),
    },
    watch: {
      '$route': function () {
        this.updateMeta({
          title: '',
          description: '',
        });
      }
    },
  }
</script>
