<template>
    <component :is="currentForm" v-on:change-form-to="changeFormTo" />
</template>

<script>
    import LoginForm from '@/pages/admin-zone/auth/Login';
    import RecoveryForm from '@/pages/admin-zone/auth/Login';

    export default {
      name: 'appAdminAuth',
      data() {
        return {
          currentForm: 'LoginForm',
        }
      },
      components: {
        LoginForm,
        RecoveryForm,
      },
      methods: {
        changeFormTo: function (formComponent) {
          this.currentForm = formComponent;
        }
      },
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

    html,
    body,
    #app,
    .form-elegant {
        height: 100vh;
    }
    #app {
        font-family: 'Open Sans', 'Roboto', sans-serif;
    }

    .auth-form {
        flex: 0 0 100%;
        max-width: 240px;
    }

    .md-form small {
        color: red !important;
    }
</style>
