<template>
    <component :is="currentForm" v-on:change-form-to="changeFormTo" />
</template>

<script>
  import LoginForm from '@/pages/members-zone/auth/Login';
  import RecoveryForm from '@/pages/members-zone/auth/Recovery';
  import RegistrationForm from '@/pages/members-zone/auth/Registration';

  export default {
    name: 'appMemberAuth',
    data() {
      return {
        currentForm: 'LoginForm',
      }
    },
    components: {
      LoginForm,
      RecoveryForm,
      RegistrationForm,
    },
    methods: {
      changeFormTo: function (formComponent) {
        this.currentForm = formComponent;
      }
    },
  }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

    html,
    body,
    #app,
    .form-elegant {
        height: 100vh;
    }
    #app {
        font-family: 'Open Sans', 'Roboto', sans-serif;
    }

    .auth-form {
        flex: 0 0 100%;
        max-width: 240px;
    }

    .md-form small {
        color: red !important;
    }
</style>
