<template>
    <div :class="{'d-flex align-items-center justify-content-center px-5 vh-100': currentApp === 'appAdminAuth' || getDataLoading(adminsData.controller + '_getData')}">
        <component v-if="!getDataLoading(adminsData.controller + '_getData_auth')" :is="currentApp" />
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as adminsData, auth, get } from '@/models/adminsModel';
  import appAdminArea from './App_admin_area';
  import appAdminAuth from './App_admin_auth';
  import { mdbSpinner } from 'mdbvue';

  export default {
    name: 'App_admin',
    data() {
      return {
        adminsData: adminsData,
        dataObj: null,
        currentApp: 'appAdminAuth'
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config', 'dataLoading']),
      ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
    },
    components: {
      appAdminArea,
      appAdminAuth,
      mdbSpinner
    },
    methods: {
      ...mapActions('commonStore', ['setAdmin', 'updateDataLoading', 'updateAccessTokenData']),
      logout() {
        auth.call(this, {
          action: 'logout',
          callback: function () {
            this.currentApp = 'appAdminAuth';
            this.setAdmin(null);
          }.bind(this)
        });
      }
    },
    created() {
      let _this = this;

      if (this.token) {
        if (this.admin)
          this.currentApp = 'appAdminArea';
        else {
          get.call(this, {
            dataVar: 'dataObj',
            loadPstfx: 'auth',
            callback: function () {
              this.setAdmin(this.dataObj);
              this.currentApp = 'appAdminArea';
            }.bind(this)
          });
        }
      } else {
        this.logout();
      }

      eventBus.$on('kill_user', () => _this.logout());
      eventBus.$on(this.adminsData.controller + '-access-token-received', () => _this.currentApp = 'appAdminArea');
    },
    destroyed() {
      eventBus.$off([
        'kill_user',
        this.adminsData.controller + '-access-token-received'
      ]);
    },
  }
</script>
