<template>
    <div>
        <header>
            <sidenav />
        </header>
        <main>
            <router-view :key="$route.fullPath" />
        </main>
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import sidenav from '@/components/_partials/admin-zone/DoubleNavigationPage';

    export default {
        name: 'appAdminArea',
        components: {
          sidenav
        },
      computed: {
        ...mapState('commonStore', ['config']),
        ...mapGetters('commonStore', ['getAPIURL', 'token']),
      },
      methods: {
        ...mapActions('commonStore', ['updateMember']),
      },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');

    #app {
        font-family: 'Open Sans', 'Roboto', sans-serif;
    }
    main {
        padding-top: 64px !important;
        padding-bottom: 20px;
    }

    .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
        white-space: nowrap;
    }
    .mdb-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
        background-color: rgba(36, 58, 81, 0.09);
    }
    .navbar-brand-wrap {
        max-width: 65%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .navbar-brand {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
        }
    }

    .widget-form {
        min-width: 320px;
    }
    .flex-form {
        display: flex;
    }

    .preloader-wrapper.tiny-small {
        width: 1rem;
        height: 1rem;
    }
        .preloader-wrapper.white-cycle .spinner-blue,
        .preloader-wrapper.white-cycle .spinner-blue-only {
            border-color: #fff;
        }

    .dataTables_wrapper.old-style table {
        margin-left: auto;
        margin-right: auto;
    }

    .sn-bg-4 {
        background-image: url(~@/assets/sidenav4.jpg);
    }
    .side-nav .collapsible a {
        font-size: .85rem;
    }
    .side-nav .collapsible .fas,
    .side-nav .collapsible .fab,
    .side-nav .collapsible .far {
        min-width: 16px;
    }
    .side-nav.wide .collapsible-body a {
        padding-left: 55px;
    }
    .navbar-brand {
        font-weight: 300;
    }

    .flex-auto {
        flex: 0 0 auto;
    }

    .md-form small {
        color: red !important;
    }

    .inline-datepicker .md-form {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-check-input[type="checkbox"] + label:before,
    .form-check-input[type="checkbox"]:not(.filled-in) + label:after,
    label.btn input[type="checkbox"] + label:before,
    label.btn input[type="checkbox"]:not(.filled-in) + label:after {
        top: 2px;
    }

    .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
    .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
        padding-left: 20px;
    }
    .el-tabs--bottom .el-tabs__item.is-bottom:last-child,
    .el-tabs--bottom .el-tabs__item.is-top:last-child,
    .el-tabs--top .el-tabs__item.is-bottom:last-child,
    .el-tabs--top .el-tabs__item.is-top:last-child {
        padding-right: 20px;
    }
    .el-tabs__content {
        overflow: visible;
    }

    .low-margin-form-item .el-tabs__item {
        margin-bottom: 6px;
    }

    .flex-label-width .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-form--label-left .el-form-item__content {
        flex: 1;
    }
    .el-form--label-top .el-form-item__label {
        margin: 0;
        padding: 0;
    }
    .el-form--label-left .el-form-item {
        display: flex;
        justify-content: flex-end;
    }
    .el-form--label-left .el-form-item__label {
        flex: 0 0 auto;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        line-height: 20px;
        margin-bottom: 0;
    }

    .el-select { display: block; }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: auto;
        display: block;
    }

    .plyr__video-wrapper:before {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10;
        content: url('~@/assets/avatar.png');
    }

    .loading-dialog .el-dialog__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* List group items */
    .list-group-item {
        padding-right: 70px;

        &.draggable {
            cursor: pointer;
        }

        .close,
        .close-sort-item {
            float: none;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .process-ico {
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -1.5rem;
        }
    }
    .ghost-list-item {
        opacity: 0.5;
        background: #ecf5ff;
    }

    /* Vue Good Table */
    .vgt-wrap.low-cell-padding table.vgt-table td {
        padding: .35em .75em .35em .75em;
        vertical-align: middle;
    }
    .vgt-wrap.status-ref table.vgt-table td {
        color: inherit;
    }

    /* Modals */
    /* Transition fix */
    .modal {
        &.fade-enter-active {
            transition: none;

            .modal-dialog {
                transition: none;
            }
        }
    }

    /* Common */
    .font-smaller {
        font-size: 70%;
    }

    @media screen and (min-width: 576px) {
        .flex-sm-auto {
            flex: 0 0 auto;
        }
    }
    @media screen and (min-width: 768px) {
        .flex-md-auto {
            flex: 0 0 auto;
        }
    }
    @media screen and (min-width: 992px) {
        .flex-lg-auto {
            flex: 0 0 auto;
        }
    }

    @media screen and (max-width: 991px) {

    }
    @media screen and (max-width: 767px) {
        .navbar-brand {
            font-size: .8rem;
        }
        .md-form {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 575px) {
        .h1, h1 {
            font-size: 2rem;
        }
        .h2, h2 {
            font-size: 1.5rem;
        }

        .el-form-item { margin-bottom: 5px; }
    }
</style>
