<template>
    <div id="appInner" :class="$route.name">
        <header>
            <sidenav />
        </header>
        <main>
            <router-view :key="$route.fullPath" />
        </main>
    </div>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import sidenav from '@/components/_partials/member-zone/DoubleNavigationPage';
  import { getListGlobal } from "@/models/_baseModel";

    export default {
        name: 'appMemberArea',
        components: {
          sidenav
        },
        data() {
          return {
            availablePresetsData: [],
            availableProductsData: [],
            purchasableProductsData: [],
            mainHeight: 0,
          }
        },
      computed: {
        ...mapState('commonStore', ['config']),
        ...mapGetters('commonStore', ['getAPIURL', 'token', 'getDataLoading']),
      },
        methods: {
          ...mapActions('commonStore', ['updateMember', 'updateDataLoading']),
        },
      created() {
        getListGlobal.call(this, {
          dataVar: 'availablePresetsData',
          controller: 'clients_presets',
          getListMethod: 'getAvailablePresets',
          callback: function () {
            this.updateMember({availablePresets: this.availablePresetsData.filter(p => p.preset_type === 'training')});
            this.updateMember({availablePlaylists: this.availablePresetsData.filter(p => p.preset_type === 'playlist')});
          }.bind(this)
        });
        getListGlobal.call(this, {
          dataVar: 'purchasableProductsData',
          controller: 'products',
          getListMethod: 'getListPurchasableProductsByClientId',
          callback: function () {
            let freeProducts = {};
            freeProducts.subscription = this.availableProductsData.filter(p => p.product_type === 'subscription' && p.is_free);
            freeProducts.preset = this.availableProductsData.filter(p => p.product_type === 'preset' && p.is_free);
            this.updateMember({freeProducts: freeProducts});
          }.bind(this)
        });
        getListGlobal.call(this, {
          dataVar: 'availableProductsData',
          controller: 'clients_products',
          getListMethod: 'getAvailableProductsListByClientId',
          callback: function () {
            let purchasableProducts = {};
            purchasableProducts.subscription = this.purchasableProductsData.filter(p => p.product_type === 'subscription' && !p.is_free);
            purchasableProducts.preset = this.purchasableProductsData.filter(p => p.product_type === 'preset' && !p.is_free);
            purchasableProducts.donation = this.purchasableProductsData.filter(p => p.product_type === 'donation' && !p.is_free);
            this.updateMember({purchasableProducts: purchasableProducts});
          }.bind(this)
        });
      },
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');

    #app {
        font-family: 'Open Sans', 'Roboto', sans-serif;
    }
    main {
        padding-top: 64px !important;
        padding-bottom: 20px;
    }

    #appInner {
        &.streamSingle,
        &.videoSingle {
            background-color: #151515;
            min-height: 100vh;
            display: flex;
            flex-direction: column;

            main {
                display: flex;
            }
        }

        .fixed-top {
            position: static;
        }

        main {
            flex: 1 1 auto;
            padding-top: 0 !important;
            padding-bottom: 0;
        }
    }

    .navbar-brand-wrap {
        max-width: 65%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .navbar-brand-wrap .navbar-brand {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
    }

    .sn-bg-4 {
        background-image: url(~@/assets/sidenav4.jpg);
    }
    .side-nav .collapsible a {
        padding-left: 15px;
        font-size: .85rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .side-nav .collapsible .fas,
    .side-nav .collapsible .fab,
    .side-nav .collapsible .far {
        min-width: 16px;
        margin-right: 6px;
    }
    .side-nav.wide .collapsible-body a {
        padding-left: 40px;
    }
    .navbar-brand {
        font-weight: 300;
    }
    .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
        white-space: nowrap;
    }
    .navbar-brand {
        font-weight: 300;
    }

    #avaItem .nav-link {
        display: flex;
        align-items: center;
    }
    #avaWrap {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
        #avaWrap img {
            width: 100%;
            height: 100%;
        }

    .flex-auto {
        flex: 0 0 auto;
    }

    .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
    .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
        padding-left: 20px;
    }
    .el-tabs--bottom .el-tabs__item.is-bottom:last-child,
    .el-tabs--bottom .el-tabs__item.is-top:last-child,
    .el-tabs--top .el-tabs__item.is-bottom:last-child,
    .el-tabs--top .el-tabs__item.is-top:last-child {
        padding-right: 20px;
    }
    .el-tabs__content {
        overflow: visible;
    }

    .flex-label-width .el-form-item__content {
        margin-left: 0 !important;
    }
    .el-form--label-left .el-form-item__content {
        flex: 1;
    }
    .el-form--label-top .el-form-item__label {
        margin: 0;
        padding: 0;
    }
    .el-form--label-left .el-form-item {
        display: flex;
        justify-content: flex-end;
    }
    .el-form--label-left .el-form-item__label {
        flex: 0 0 auto;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        line-height: 20px;
        margin-bottom: 0;
    }

    .md-form small {
        color: red !important;
    }

    .inline-datepicker .md-form {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-check-input[type="checkbox"] + label:before,
    .form-check-input[type="checkbox"]:not(.filled-in) + label:after,
    label.btn input[type="checkbox"] + label:before,
    label.btn input[type="checkbox"]:not(.filled-in) + label:after {
        top: 2px;
    }

    .el-select { display: block; }

    .el-textarea__inner {
        color: inherit;
    }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: auto;
        display: block;
    }

    /*.plyr--video {
        height: 90vh;
    }
    .plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
        padding-bottom: 0;
    }
    .plyr__video-embed iframe {
        height: 90vh;
    }
    .plyr__video-wrapper {
        padding-bottom: 0;
        height: 90vh;
    }
    .plyr__video-wrapper:before {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10;
        content: url('~@/assets/avatar.png');
    }*/

    .loading-dialog .el-dialog__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preloader-wrapper.tiny-small {
        width: 1rem;
        height: 1rem;
    }
    .preloader-wrapper.white-cycle .spinner-blue,
    .preloader-wrapper.white-cycle .spinner-blue-only {
        border-color: #fff;
    }

    .dataTables_wrapper.old-style table {
        margin-left: auto;
        margin-right: auto;
    }

    /* Vue Good Table */
    .vgt-wrap.low-cell-padding table.vgt-table td {
        padding: .35em .75em .35em .75em;
        vertical-align: middle;
    }
    .vgt-wrap.status-ref table.vgt-table td {
        color: inherit;
    }

    /* Modals */
    /* Transition fix */
    .modal {
        &.fade-enter-active {
            transition: none;

            .modal-dialog {
                transition: none;
            }
        }
    }

    /* Common */
    .font-smaller {
        font-size: 70%;
    }

    @media screen and (min-width: 576px) {
        .flex-sm-auto {
            flex: 0 0 auto;
        }
    }
    @media screen and (min-width: 768px) {
        .flex-md-auto {
            flex: 0 0 auto;
        }
    }
    @media screen and (min-width: 992px) {
        .flex-lg-auto {
            flex: 0 0 auto;
        }
    }

    @media screen and (max-width: 991px) {
        .embed-responsive {
            height: 92vh;
        }
    }
    @media screen and (max-width: 767px) {
        .navbar-brand {
            font-size: .9rem;
        }
        .md-form {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 575px) {
        .h1, h1 {
            font-size: 2rem;
        }
        .h2, h2 {
            font-size: 1.5rem;
        }

        .el-form-item { margin-bottom: 5px; }
    }
</style>
