<template>
    <div
        :class="{'d-flex align-items-center justify-content-center px-5 vh-100': currentApp === 'appMemberAuth' || getDataLoading(clientsData.controller + '_getData_auth') || getDataLoading(clientsData.controller + '_auth_resetPass') || getDataLoading(clientsData.controller + '_auth_activate')}"
    >
        <component
            v-if="!getDataLoading(clientsData.controller + '_getData_auth') && !getDataLoading(clientsData.controller + '_auth_resetPass') && !getDataLoading(clientsData.controller + '_auth_activate')"
            :is="currentApp"
        />
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import { data as clientsData, auth, get } from '@/models/clientsModel';
  import appMemberArea from './App_member_area';
  import appMemberAuth from './App_member_auth';
  import { mdbSpinner } from 'mdbvue';

  export default {
    name: 'appMember',
    data() {
      return {
        clientsData: clientsData,
        dataObj: null,
        currentApp: 'appMemberAuth'
      }
    },
    computed: {
      ...mapState('commonStore', ['member', 'config', 'dataLoading']),
      ...mapGetters('commonStore', ['getAPIURL', 'getDataLoading', 'token']),
    },
    components: {
      appMemberArea,
      appMemberAuth,
      mdbSpinner
    },
    methods: {
      ...mapActions('commonStore', ['setMember', 'updateDataLoading', 'updateAccessTokenData']),
      logout() {
        auth.call(this, {
          action: 'logout',
          callback: function () {
            this.currentApp = 'appMemberAuth';
            this.setMember(null);
          }.bind(this)
        });
      },
      resetPassRequest(code) {
        auth.call(this, {
          action: 'resetPass',
          fields: { code: code },
          successMsg: 'Пароль успешно сброшен и выслан на ваш email!',
          callback: function () {
            setTimeout(() => { window.location.href = '/' }, 3000);
          }.bind(this)
        });
      },
      activateUserRequest(code) {
        auth.call(this, {
          action: 'activate',
          fields: { code: code },
          successMsg: 'Учетная запись успешно активирована!',
          callback: function () {
            setTimeout(() => { window.location.href = '/' }, 3000);
          }.bind(this)
        });
      },
    },
    created() {
      let _this = this;
      let currentUrl = new URL(window.location.href);
      let relativePath = currentUrl.pathname.split('/').filter(i => i);

      if (relativePath.length) {
        if (~relativePath.indexOf('resetPass')) {
          let code = new URLSearchParams(currentUrl.search).get("code");

          if (code) this.resetPassRequest(code);
          else window.location.href = '/';

        } else if (~relativePath.indexOf('activate')) {
          let code = new URLSearchParams(currentUrl.search).get("code");

          if (code) this.activateUserRequest(code);
          else window.location.href = '/';
        }
      }

      if (this.token) {
        if (this.member)
          this.currentApp = 'appMemberArea';
        else {
          get.call(this, {
            dataVar: 'dataObj',
            loadPstfx: 'auth',
            callback: function () {
              this.setMember(this.dataObj);
              this.currentApp = 'appMemberArea';
            }.bind(this)
          });
        }
      } else {
        this.logout();
      }

      eventBus.$on('kill_user', () => _this.logout());
      eventBus.$on(this.clientsData.controller + '-access-token-received', () => _this.currentApp = 'appMemberArea');
    },
    destroyed() {
      eventBus.$off([
        'kill_user',
        this.clientsData.controller + '-access-token-received'
      ]);
    },
  }
</script>
