<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(clientgroupsData.controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <clientgroups-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />

        <edit-form-popup
            :controller="clientgroupsData.controller"
            :showPopup="editFormPopupData.showPopup" :heading="editFormPopupData.heading"
        >
            <clientgroups-form :clientgroupId="clientgroupId" />
        </edit-form-popup>
        <edit-form-popup :showPopup="groupPresetsPopup.showPopup" :heading="groupPresetsPopup.heading" size="lg" >
            <client-groups-presets :groupId="clientgroupId" />
        </edit-form-popup>
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import {
    data as clientgroupsData,
    getList,
    deleteFn,
    setStatus,
    get,
    dataInit as clientgroupsDataInit
  } from '@/models/clientgroupsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import clientgroupsTable from '@/components/clientgroups/clientgroupsTable';
  import editFormPopup from '@/components/_common/editFormPopup';
  import clientgroupsForm from '@/components/clientgroups/clientgroupsForm';
  import clientGroupsPresets from '@/components/clientgroups/clientGroupsPresets';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "clientgroupsListPage",
    mixins: [headMixin],
    data() {
      return {
        clientgroupsData: clientgroupsData,
        clientgroupId: null,
        data: null,
        dataObj: null,
        dataObjClone: null,
        tableRows: null,
        toolsMenu: [],
        currentTab: 'active',
        editFormPopupData: {
          heading: '',
          showPopup: false,
          loading: false,
        },
        groupPresetsPopup: {
          heading: '',
          showPopup: false,
          loading: false,
        }
      }
    },
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.clientgroupsData.status};
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      clientgroupsTable,
      editFormPopup,
      clientgroupsForm,
      clientGroupsPresets
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      openFormPopup(id) {
        this.clientgroupId = id;

        if (id) {
          get.call(this, {
            id: this.clientgroupId,
            callback: function () {
              this.editFormPopupData = {
                heading: 'Редактирование группы "' + this.dataObj.name + '"',
                showPopup: true,
                loading: false,
              }
            }.bind(this)
          });
        } else {
          this.editFormPopupData = {
            heading: 'Новая группа',
            showPopup: true,
            loading: false,
          }
        }
      },
      openGroupPresetsPopup(id) {
        this.clientgroupId = id;

        get.call(this, {
          id: this.clientgroupId,
          callback: function () {
            this.groupPresetsPopup = {
              heading: 'Доступные тренинги в "' + this.dataObj.name + '"',
              showPopup: true,
              loading: false,
            }
          }.bind(this)
        });
      },
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.clientgroupsData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      buildToolsMenu() {
        if (this.admin.permissions.paysystems) {
          let createEvent = function () {
            this.openFormPopup(null);
          };

          this.toolsMenu = [
            {
              name: 'Действия',
              children: [
                {
                  name: 'Добавить группу',
                  event: createEvent.bind(this),
                }
              ]
            }
          ];

          this.setAdminToolsMenu(this.toolsMenu);
        }
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      this.updateMeta({title: 'Список групп клиентов'});
      this.buildToolsMenu();

      let _this = this;
      let getListCb = function() {
        this.setTableRows();
      };

      getList.call(this, { callback: getListCb.bind(this) });

      eventBus.$on('close-edit-form-popup', () => _this.editFormPopupData.showPopup = _this.groupPresetsPopup.showPopup = false);
      eventBus.$on('save-edit-form-popup', () => _this.editFormPopupData.loading = true);
      eventBus.$on('proceed-edit-form-popup', () => {
        getList.call(_this, { callback: getListCb.bind(_this) });
        _this.editFormPopupData.showPopup = false;
      });
      eventBus.$on(this.clientgroupsData.controller + '_open-row-handle', (data) => _this.openFormPopup(data));
      eventBus.$on(this.clientgroupsData.controller + '_availPresets-row-handle', (data) => _this.openGroupPresetsPopup(data));
      eventBus.$on(this.clientgroupsData.controller + '_delete-row-handle', (data) => {
        deleteFn.call(_this, {
          id: data,
          callback: function () {
            getList.call(_this, { callback: getListCb.bind(_this) });
          }.bind(_this)
        })
      });
      eventBus.$on(
        [this.clientgroupsData.controller + '_restore-row-handle', this.clientgroupsData.controller + '_activate-row-handle'],
        (data) => {
            setStatus.call(_this, {
              id: data,
              status: 'active',
              statusList: _this.clientgroupsData.status,
              callback: function () {
                getList.call(_this, { callback: getListCb.bind(_this) });
              }.bind(_this)
            })
      });
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        'close-edit-form-popup',
        'save-edit-form-popup',
        'proceed-edit-form-popup',
        this.clientgroupsData.controller + '_open-row-handle',
        this.clientgroupsData.controller + '_availPresets-row-handle',
        this.clientgroupsData.controller + '_delete-row-handle',
        this.clientgroupsData.controller + '_restore-row-handle',
        this.clientgroupsData.controller + '_activate-row-handle',
      ]);
    }
  };
</script>