<template>
    <div :class="{'d-flex align-items-center justify-content-center': !dataObj || getDataLoading(prodoptsData.controller + '_getData')}">
        <el-form
            v-if="dataObj && !getDataLoading(prodoptsData.controller + '_getData')"
            :id="`dataForm_${prodoptId}`" class="flex-label-width"
            :model="dataObj" :rules="rules" :ref="`dataForm_${prodoptId}`"
            :label-position="$mq === 'xs' ? 'top' : 'left'" label-width="130px" status-icon
            @submit.native.prevent
        >
            <input v-if="dataObj.id" v-model="dataObj.id" type="hidden" name="id"/>
            <input type="hidden" name="product_id" v-model="productId"/>
            <input type="hidden" name="is_partial_available" :value="+dataObj.is_partial_available"/>
            <input v-model="dataObj.status" type="hidden" name="status"/>

            <mdb-row>
                <mdb-col col="12">
                    <el-form-item label="Название" prop="name">
                        <el-input
                            v-model.trim="dataObj.name"
                            type="text" id="name" name="name"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col col="12">
                    <el-form-item label="Цена" prop="number">
                        <el-input
                            v-model.number="dataObj.price"
                            type="number" id="price" name="price" :step="1"
                        >
                            <template slot="append">&#8381;</template>
                        </el-input>
                    </el-form-item>
                </mdb-col>
                <mdb-col col="12" class="text-right">
                    <mdb-input
                        type="checkbox" id="optionNoExp" class="pl-0"
                        v-model="optionNoExp" label="Бессрочный доступ"
                    />
                </mdb-col>
                <mdb-col col="12" class="mt-3">
                    <el-form-item label="Длительность" prop="number">
                        <el-input
                            v-model.number="dataObj.duration"
                            type="number" id="duration" name="duration" :step="1" min="1"
                        >
                            <template slot="append">дней</template>
                        </el-input>
                    </el-form-item>
                </mdb-col>
                <mdb-col col="12" class="text-right">
                    <mdb-input
                        type="checkbox" id="is_partial_available" class="pl-0" label="Доступна частичная оплата"
                        v-model="dataObj.is_partial_available" :checked="!!dataObj.is_partial_available"
                    />
                </mdb-col>
                <mdb-col v-if="dataObj.is_partial_available" col="12" class="mt-3">
                    <el-form-item label="Минимальная предоплата" prop="number">
                        <el-input
                            v-model.number="dataObj.partial_threshold"
                            type="number" id="partial_threshold" name="partial_threshold" :step="1"
                        >
                            <template slot="append">&#8381;</template>
                        </el-input>
                    </el-form-item>
                </mdb-col>
                <mdb-col v-if="dataObj.is_partial_available" col="12">
                    <el-form-item label="Не более..." prop="number">
                        <el-input
                            v-model.number="dataObj.partial_available_duration"
                            type="number" id="partial_available_duration" name="partial_available_duration" :step="1"
                        >
                            <template slot="append">дней</template>
                        </el-input>
                    </el-form-item>
                </mdb-col>
                <mdb-col col="12" class="mt-3">
                    <el-form-item label="Описание">
                        <el-input
                            v-model.trim="dataObj.description"
                            type="textarea" name="description" :rows="3"
                        />
                    </el-form-item>
                </mdb-col>
                <mdb-col col="12">
                    <item-status-form-select
                        :status="dataObj.status" :itemStatuses="prodoptsData.status"
                        :controller="prodoptsData.controller"
                        inputLabel="Состояние"
                    />
                </mdb-col>
            </mdb-row>
        </el-form>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import {
    data as prodoptsData, dataInit as prodoptsDataInit,
    get, update, validateString, validateUnique
  } from '@/models/productOptionsModel';
  import { mdbSpinner, mdbRow, mdbCol, mdbInput } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import { eventBus } from "@/store/eventBus";

  export default {
    name: "productoptionsForm",
    data() {
      return {
        prodoptsData: prodoptsData,
        dataObj: prodoptsDataInit,
        dataObjClone: null,
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: ['change', 'blur'] },
            { validator: this.validateUnique, trigger: 'blur' },
          ],
          number: [
            { type: 'number', message: 'Введите корректное значение', trigger: 'change' },
          ],
        },
      }
    },
    props: ['prodoptId', 'productId'],
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return !this.prodoptId;
      },
      optionNoExp: {
        get() {
          return !this.dataObj.duration;
        },
        set(val) {
          if (val) this.dataObj.duration = 0;
          else this.dataObj.duration = this.dataObjClone.duration ? this.dataObjClone.duration : 1;
        }
      }
    },
    components: {
      mdbSpinner, mdbRow, mdbCol, mdbInput,
      itemStatusFormSelect,
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
    },
    created() {
      let _this = this;

      if (this.isNew) {
        this.dataObj = {...prodoptsDataInit};
        this.dataObj.product_id = this.productId;
      } else {
        get.call(this, { id: this.prodoptId });
      }

      eventBus.$on(this.prodoptsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on('save-edit-form-popup', () => {
        _this.$refs[`dataForm_${_this.prodoptId}`].validate((valid) => {
          if (valid) {
            update.call(_this, {
              formName: `dataForm_${_this.prodoptId}`,
              action: !_this.prodoptId ? 'create' : 'update',
              callback: function () {
                eventBus.$emit('proceed-edit-form-popup');
              }
            });
          }
        });
      });
    },
    destroyed() {
      eventBus.$off([
        this.prodoptsData.controller + '_handle-status-select',
        'save-edit-form-popup'
      ]);
    },
    watch: {
      prodoptId(val) {
        get.call(this, { id: val });
      }
    }
  };
</script>