<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'open', 'activate']"
                :controller="prodoptsData.controller" :baseUrl="prodoptsData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного предложения</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as prodoptsData } from '@/models/productOptionsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "productoptionsTable",
    data() {
      return {
        prodoptsData: prodoptsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Цена', field: 'price', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Длительность', field: 'duration', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.prodoptsData.status ? this.prodoptsData.status[row.status].className : '';
      },
    },
  };
</script>