<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !tableRows && getDataLoading(subsData.controller + '_getList')}" fluid>
        <tabs
            v-if="tableRows"
            :tabs="tabs" :currentTab="currentTab"
            @tab-change-handle="tabChangeHandle"
        >
            <template #tab="{ tab }">
                <subs-table :tableRows="tableRows[tab]" />
            </template>
        </tabs>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { data as subsData, getList, cancel } from '@/models/subsModel';
  import { eventBus } from "@/store/eventBus";
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import tabs from '@/components/_common/tabs';
  import subsTable from '@/components/subs/subsTable';

  export default {
    name: "clientSubs",
    data() {
      return {
        subsData: subsData,
        data: null,
        tableRows: null,
        currentTab: 'active',
      }
    },
    computed: {
      ...mapState('commonStore', ['member', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      tabs() {
        let advTabs = {
          all: {text: 'Все', textPl: 'Все', className: ''},
        };

        return {...advTabs, ...this.subsData.status};
      },
    },
    components: {
      mdbContainer,
      mdbSpinner,
      tabs,
      subsTable
    },
    methods: {
      ...mapActions('commonStore', ['updateDataLoading']),
      setTableRows() {
        let dataFiltered = {};
        dataFiltered.all = [...this.data];
        Object.keys(this.subsData.status).forEach(tab => {
          dataFiltered[tab] = dataFiltered.all.filter(el => el.status === tab);
        });

        this.tableRows = {...dataFiltered};
      },
      tabChangeHandle(id) {
        this.currentTab = id;
      }
    },
    created() {
      let _this = this;
      getList.call(this, {
        callback: function () {
          this.setTableRows();
        }.bind(this)
      });

      eventBus.$on(this.subsData.controller + '_delete-row-handle', (data) => {
        cancel.call(this, {
            fields: { id: data },
            successMsg: 'Подписка успешно удалена!',
            callback: function () {
              getList.call(_this, {
                callback: function () {
                  _this.setTableRows();
                }.bind(_this)
              })
            }.bind(_this)
          })
      });
    },
    destroyed() {
      eventBus.$off([
        this.subsData.controller + '_delete-row-handle',
      ]);
    }
  };
</script>