<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field === 'dt_prodOpt'">
                {{props.row.product_name}} / {{props.row.option_name}}
            </span>
            <table-controls-cell
                v-else-if="props.column.field === 'dt_controls' && props.row.status === 'active'"
                :row="props.row" :buttons="['delete']"
                :controller="subsData.controller" :baseUrl="subsData.baseUrl"
            />
            <span v-else-if="props.column.field === 'dt_controls' && props.row.status !== 'active'"></span>
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одной подписки (автопродления)</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as subsData } from '@/models/subsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "subsTable",
    data() {
      return {
        subsData: subsData,
        tableColumns: [
          {label: 'Продукт / Предложение', field: 'dt_prodOpt', thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Сумма списания', field: 'amount', thClass: 'text-center', tdClass: 'text-center', type: 'number'},
          {label: 'Описание', field: 'description', thClass: 'text-center', tdClass: 'text-left'},
          {label: 'Создана', field: 'created', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Дата ближ. продления', field: 'next_transaction_dt', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy HH:mm:ss', thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'created', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.subsData.status ? this.subsData.status[row.status].className : '';
      }
    },
  };
</script>