<template>
    <mdb-container
        :class="{
            'pl-0 pr-0 embed-responsive embed-responsive-16by9': dataObj && dataObj.stream_status === 'active',
            'relative-container': hlsError
        }"
        fluid
    >
        <video
            v-show="streamStatus === 'active'"
            ref="html5player" class="embed-responsive-item" autoplay="true" muted="muted"
        >
            Your browser does not support the video tag.
        </video>
        <div v-if="hlsError" class="d-flex align-items-center justify-content-center flex-column" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h5 style="color: #c0c4cc" class="text-center">Ошибка воспроизведения.<br/>Попытка переподключиться...</h5>
            <mdb-spinner big crazy class="mt-1" />
        </div>
        <div v-if="streamStatus === 'notStarted'" class="mt-5 pl-3 pr-3 text-center">
            <h4 style="color: #c0c4cc">Трансляция ближайшего эфира еще не началась...</h4>
        </div>
        <div v-else-if="streamStatus === 'finished'" class="mt-5 pl-3 pr-3 text-center">
            <h4 style="color: #c0c4cc">Трансляция эфира завершена</h4>
        </div>
        <the-chat :chatParams="chatParams" msgArea chatForm fixedPos dark>
            <h3
                v-if="streamStatus === 'finished' || streamStatus === 'notStarted'"
                class="text-center" style="font-size: 1.5rem"
            >
                <template v-if="streamStatus === 'finished'">Комментарии доступны в сохраненной копии эфира</template>
                <template v-else-if="streamStatus === 'notStarted'">Комментарии будут доступны сразу после начала эфира</template>
            </h3>
        </the-chat>
    </mdb-container>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { get } from '@/models/productsModel';
  import chatMixin from '@/mixins/chatMixin';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner } from 'mdbvue';
  import theChat from '@/components/_common/chat/theChat';
  import Hls from 'hls.js';

  export default {
    name: 'streamSinglePage',
    mixins: [chatMixin, headMixin],
    data () {
      return {
        dataObj: null,
        chatParams: null,
        hls: null,
        hlsError: null,
        dataReact: {
          activeInstaStream: null,
          hlsReconnect: null,
        },
      };
    },
    computed: {
      ...mapState('commonStore', ['member', 'config', 'dataLoading']),
      ...mapState('chatStore', ['chatConfig', 'chats']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      streamStatus() {
        if (this.dataObj && this.dataObj.stream_status === 'active' && this.dataObj.stream_url_data && Object.keys(this.dataObj.stream_url_data).length) {
          return 'active';
        } else if (!this.dataObj || this.dataObj.stream_status !== 'active' || !this.dataObj.stream_url_data || !Object.keys(this.dataObj.stream_url_data).length) {
          return 'finished';
        } else if (!this.dataObj) {
          return 'notStarted';
        } else {
          return false;
        }
      },
      streamUrlObj() {
        if (this.dataObj && this.dataObj.stream_status === 'active') {
          return this.dataObj.stream_url_data;
        }

        return null;
      }
    },
    components: {
      mdbContainer, mdbSpinner,
      theChat
    },
    methods: {
      ...mapActions('commonStore', ['updateMeta', 'updateDataLoading']),
      checkChat() {
        if (this.dataObj.stream_status === 'active' && this.dataObj.stream_item_id) {
          if (!this.chatParams) {
            //Chat Init
            this.chatParams = {
              id: 'chat_' + this.dataObj.stream_item_id,
              user: {
                id: this.member.id,
                name: this.member.first_name + ' ' + this.member.last_name,
              }
            };
            this.initConnection(this.chatParams.id, function () {
              this.loadMessages(this.chatParams.id, {page: 0, limit: 50});
            }.bind(this));
          }
        } else if (this.dataObj.stream_status !== 'active') {
          //Kill Chat!!1
          let killConnectionCallback = function() {
            this.chatParams = null;
          };
          this.dropConnection(this.chatParams.id, killConnectionCallback.bind(this));
        }
      },
      loadHlsSource() {
        let _this = this;
        this.hls = new Hls();
        this.hls.loadSource(this.streamUrlObj.hls.HQ);
        this.hls.attachMedia(this.$refs.html5player);
        this.hls.on(Hls.Events.MANIFEST_PARSED, function() {
          _this.$refs.html5player.play();
          _this.hlsError = null;
          clearTimeout(_this.dataReact.hlsReconnect);
        });
      }
    },
    created() {
      if (this.$route.params.streamId)
        get.call(this, {
          id: this.$route.params.streamId,
          callback: function () {
            this.updateMeta({title: 'Эфир: ' + this.dataObj.name});
            this.checkChat();
          }.bind(this)
        });

      let _this = this;
      eventBus.$on('chat-message-send', (data) => _this.sendMessage(data, _this.chatParams.id));

      if (this.config.REACTIVEDATA.activeInstaStream)
        this.dataReact.activeInstaStream = setInterval(() => {
            get.call(_this, {
              id: _this.$route.params.streamId,
              callback: function () {
                _this.checkChat();
              }.bind(_this)
            });
          },
          _this.config.REACTIVEINTERVAL.get_activeStream
        );
    },
    destroyed() {
      clearTimeout(this.dataReact.activeInstaStream);

      eventBus.$off(['chat-message-send']);

      //Kill Chat!!1
      if (this.chatParams) this.dropConnection(this.chatParams.id);
    },
    watch: {
      streamStatus(status) {
        if (status === 'active' && this.streamUrlObj && this.streamUrlObj.hasOwnProperty('hls') && this.streamUrlObj.hls.hasOwnProperty('HQ')) {
          if (Hls.isSupported()) {
            this.loadHlsSource();
            this.hls.on(Hls.Events.ERROR, (event, data) => {
              this.hlsError = data;
              this.dataReact.hlsReconnect = setInterval(() => this.loadHlsSource(), 3000);
            });
          } else if (this.$refs.html5player.canPlayType('application/vnd.apple.mpegurl')) {
            this.$refs.html5player.src = this.streamUrlObj.hls.HQ;
            this.$refs.html5player.addEventListener('loadedmetadata', function() {
              this.$refs.html5player.play();
            });
          }
        }
      }
    }
  }
</script>
