<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="100px"
        >
            <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
            <input type="hidden" name="start_dt" v-model="dataObj.start_dt"/>
            <input type="hidden" name="end_dt" v-model="dataObj.end_dt"/>
            <input type="hidden" v-model="dataObj.status" name="status"/>

            <el-tabs v-model="activeTab" tab-position="top">
                <el-tab-pane name="generalTab" label="Основные данные">
                    <mdb-row>
                        <mdb-col>
                            <el-form-item label="Название" prop="name">
                                <el-input
                                    v-model.trim="dataObj.name"
                                    type="text" id="name" name="name"
                                />
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col col="6">
                            <el-form-item label="Доступен с...">
                                <el-date-picker
                                    v-model="dataObj.start_dt" format="dd.MM.yyyy" value-format="yyyy-MM-dd"
                                    :picker-options="pickerOptions" id="start_dt"
                                    placeholder="Дата начала действия"
                                >
                                </el-date-picker>
                            </el-form-item>
                        </mdb-col>
                        <mdb-col col="6">
                            <el-form-item label="Доступен по...">
                                <el-date-picker
                                    v-model="dataObj.end_dt" format="dd.MM.yyyy" value-format="yyyy-MM-dd [23:59:59]"
                                    :picker-options="pickerOptions" id="end_dt"
                                    placeholder="Дата окончания действия"
                                >
                                </el-date-picker>
                            </el-form-item>
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col col="6">
                            <el-form-item label="Длительность (в днях)" prop="number">
                                <el-input
                                    v-model.number="dataObj.duration"
                                    type="number" id="duration" name="duration" :step="1"
                                />
                            </el-form-item>
                        </mdb-col>
                        <mdb-col col="6">
                            <item-status-form-select
                                :status="dataObj.status" :itemStatuses="giftsData.status"
                                :controller="giftsData.controller"
                                inputLabel="Состояние"
                            />
                        </mdb-col>
                    </mdb-row>
                    <mdb-row>
                        <mdb-col>
                            <div class="form-group">
                                <el-form-item label="Описание">
                                    <el-input
                                        v-model.trim="dataObj.description"
                                        type="textarea" name="description" :rows="3"
                                    />
                                </el-form-item>
                            </div>
                        </mdb-col>
                    </mdb-row>
                </el-tab-pane>
                <el-tab-pane v-if="!isNew" name="presetsTab" label="Доступные тренинги">
                    <gifts-presets :giftId="dataObj.id" />
                </el-tab-pane>
            </el-tabs>

            <div class="text-center mt-3">
                <el-button
                    v-if="activeTab === 'generalTab'"
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(giftsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as giftsData, dataInit as giftsDataInit,
    get, update, validateUnique, validateString
  } from '@/models/giftsModel';
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';
  import giftsPresets from "@/components/gifts/giftsPresets";

  export default {
    name: "giftsSinglePage",
    data() {
      return {
        giftsData: giftsData,
        dataObj: giftsDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          promocode: [
            { required: true, message: 'Введите промокод', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          discount_value: [
            { required: true, message: 'Введите размер скидки', trigger: 'change' },
          ],
        },
        pickerOptions: {
          firstDayOfWeek: 1,
        },
        activeTab: 'generalTab',
      }
    },
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.giftId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.giftsData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку бонусов',
            link: this.config.URLPRE + this.giftsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol,
      itemStatusFormSelect,
      giftsPresets
    },
    created() {
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...giftsDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.giftId,
        });
      }

      const _this = this;
      eventBus.$on(this.giftsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
      eventBus.$on(this.giftsData.controller + '_handle-product-select', (data) => _this.dataObj.product_id = data);
      eventBus.$on(this.giftsData.controller + '_handle-product-option-select', (data) => _this.dataObj.option_id = data ? data.id : '');
      eventBus.$on(this.giftsData.controller + '_handle-client-select', (data) => _this.dataObj.client_id = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.giftsData.controller + '_handle-status-select',
        this.giftsData.controller + '_handle-product-select',
        this.giftsData.controller + '_handle-product-option-select',
        this.giftsData.controller + '_handle-client-select'
      ]);
    }
  };
</script>