<template>
    <component :is="currentComponent" />
</template>

<script>
  import giftsListPage from './giftsListPage';
  import giftsSinglePage from './giftsSinglePage';

  export default {
    name: 'giftsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.giftId ? 'giftsSinglePage' : 'giftsListPage';
      }
    },
    components: {
      giftsListPage,
      giftsSinglePage
    },
  }
</script>