<template>
    <div :class="{'d-flex align-items-center justify-content-center': !itemsListSelected || (!data && getDataLoading(presetsData.controller + '_getList'))}">
        <template v-if="data && itemsListSelected">
            <mdb-row class="d-flex flex-column flex-sm-row pb-3 pb-sm-0">
                <mdb-col sm="10">
                    <el-select v-model="selectedItem" filterable placeholder="Выберите тренинг для предоставления с этим бонусом">
                        <el-option
                            v-for="item in presetsTrainings"
                            :key="item.id" :label="item.name" :value="item.id"
                            :disabled="!!itemsListSelected.find(i => i.preset_id == item.id || (!i.hasOwnProperty('preset_id') && i.id == item.id))"
                        />
                    </el-select>
                </mdb-col>
                <mdb-col sm="2" class="mt-2 mt-sm-0 text-center text-sm-right">
                    <el-button
                        type="primary" plain
                        :disabled="!selectedItem" :loading="getDataLoading(controller + '_updateData')"
                        @click="addItem"
                    >
                        Добавить
                    </el-button>
                </mdb-col>
            </mdb-row>
            <ab-divider v-if="itemsListSelected.length" content-position="right"><i>! порядок следования можно изменять !</i></ab-divider>
            <draggable
                v-model="itemsListSelected" group="items" v-loading="posRefresh"
                class="list-group mt-3 mt-sm-0" ghost-class="ghost-list-item"
                @end="posRefreshMethod"
            >
                <transition-group type="transition" name="flip-list">
                    <div class="list-group-item draggable d-flex flex-column align-items-start" v-for="(element, idx) in itemsListSelected" :key="element.rel_id">
                        <strong>
                            {{'preset_name' in element ? element.preset_name : 'name' in element ? element.name : ''}}
                        </strong>
                        <el-button
                            icon="el-icon-delete" size="small" title="Удалить" class="close-sort-item" type="danger"
                            :disabled="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            :loading="getDataLoading(controller + '_deleteData_' + element.rel_id)"
                            @click="removeItem(element.rel_id, idx)"
                        />
                    </div>
                </transition-group>
            </draggable>
        </template>
        <mdb-spinner v-else big crazy />
    </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { getListGlobal, updateGlobal, deleteGlobal } from '@/models/_baseModel';
  import { data as presetsData, getList } from '@/models/presetsModel';
  import { mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import draggable from 'vuedraggable'
  import abDivider from "@/components/_common/abDivider";

  export default {
    name: "giftsPresets",
    data() {
      return {
        presetsData: presetsData,
        data: null,
        dataObj: null,
        dataObjClone: null,
        controller: 'gifts_presets',
        itemsListSelected: null,
        selectedItem: null,
        validUntil: null,
        pickerOptions: {
          firstDayOfWeek: 1,
        },
        posRefresh: false,
      }
    },
    props: ['giftId'],
    computed: {
      ...mapState('commonStore', ['admin', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      presetsTrainings() {
        return this.data.filter(el => el.preset_type == 'training');
      }
    },
    components: {
      mdbSpinner,
      mdbRow,
      mdbCol,
      draggable,
      abDivider
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading']),
      addItem() {
        updateGlobal.call(this, {
          controller: this.controller,
          action: 'create',
          fields: {
            gift_id: this.giftId,
            preset_id: this.selectedItem,
            pos: this.itemsListSelected.length + 1,
          },
          successMsg: 'Тренинг успешно закреплен за бонусом! :)',
          callback: function () {
            this.itemsListSelected.push(this.dataObj);
            this.selectedItem = null;
            this.validUntil = null;
          }.bind(this)
        });
      },
      removeItem(relId, listIdx) {
        deleteGlobal.call(this, {
          controller: this.controller,
          id: relId,
          fields: { gift_id: this.giftId },
          successMsg: 'Тренинг более не доступен с этим бонусом!',
          callback: function () {
            this.itemsListSelected.splice(listIdx, 1);
            this.selectedItem = null;
            this.posRefreshMethod();
          }.bind(this)
        });
      },
      posRefreshMethod() {
        if (this.itemsListSelected && this.itemsListSelected.length) {
          this.posRefresh = true;
          let newSort = {};
          this.itemsListSelected.forEach(item => {
            let id = item.hasOwnProperty('preset_id') ? item.preset_id : item.id;
            newSort[id] = this.itemsListSelected.indexOf(item) + 1;
          });

          updateGlobal.call(this, {
            controller: this.controller,
            action: 'savePresets',
            fields: {
              id: this.giftId,
              presets: JSON.stringify(newSort),
            },
            successMsg: false,
            callback: function () {
              this.posRefresh = false;
            }.bind(this)
          });
        }
      }
    },
    created() {
      getListGlobal.call(this, {
        controller: this.controller,
        getListMethod: 'getPresetsListByGiftId',
        fields: { gift_id: this.giftId },
        dataVar: 'itemsListSelected',
        callback: function () {
          getList.call(this);
        }.bind(this)
      });
    }
  };
</script>