<template>
    <vue-good-table
        :columns="tableColumns"
        :rows="tableRows"
        :search-options="tableOptions.search"
        :sort-options="tableOptions.sort"
        :row-style-class="rowStyleClassFn"
        class="text-center low-cell-padding status-ref"
    >
        <template slot="table-row" slot-scope="props">
            <table-controls-cell
                v-if="props.column.field === 'dt_controls'"
                :row="props.row" :buttons="['restore', 'delete', 'edit']"
                :controller="giftsData.controller" :baseUrl="giftsData.baseUrl"
            />
            <template v-else>{{props.formattedRow[props.column.field]}}</template>
        </template>
        <div slot="emptystate">Не найдено ни одного бонуса продукта</div>
    </vue-good-table>
</template>

<script>
  import { mapState } from 'vuex';
  import { data as giftsData } from '@/models/giftsModel';
  import tableControlsCell from '@/components/_common/tableControlsCell';

  export default {
    name: "giftsTable",
    data() {
      return {
        giftsData: giftsData,
        tableColumns: [
          {label: 'Название', field: 'name', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Доступен с...', field: 'start_dt', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Доступен по...', field: 'end_dt', type: 'date', dateInputFormat: 'yyyy-MM-dd HH:mm:ss', dateOutputFormat: 'dd.MM.yyyy', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: 'Длит-ть (дн.)', field: 'duration', sortable: true, thClass: 'text-center', tdClass: 'text-center'},
          {label: '', field: 'dt_controls', sortable: false, html: true, thClass: 'text-center', tdClass: 'text-center'}
        ],
        tableOptions: {
          search: {enabled: true},
          sort: {enabled: true, initialSortBy: {field: 'name', type: 'desc'}}
        }
      }
    },
    props: ['tableRows'],
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      tableControlsCell
    },
    methods: {
      rowStyleClassFn(row) {
        return row.status in this.giftsData.status ? this.giftsData.status[row.status].className : '';
      },
    },
  };
</script>