<template>
    <div>
        <perfect-scrollbar
            :id="`chatArea_${chatParams.id}`" class="chat-wrap d-flex flex-column-reverse mx-auto px-3"
            :style="{ height: chatHeight + 'px' }"
        >
            <div class="chat-inner d-flex flex-column justify-content-end">
                <div
                    v-for="m in chats[chatParams.id].messages" :key="m.data.i"
                    :class="{'me' : m.data.ui == member.id}" class="chat-message"
                >
                    <span class="chat-message-lay">
                        <div class="user-name"><strong>{{m.data.u}}</strong></div>
                        <div class="user-message">{{m.data.m}}</div>
                    </span>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { PerfectScrollbar } from 'vue2-perfect-scrollbar'

  export default {
    name: "chatArea",
    props: {
      chatParams: Object,
      chatHeight: {
        type: Number,
        default: 200
      }
    },
    computed: {
      ...mapState('commonStore', ['member']),
      ...mapState('chatStore', ['chats']),
    },
    components: {
      PerfectScrollbar
    }
  };
</script>

<style scoped src="../../../../node_modules/vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css"/>
<style scoped lang="scss">
    .chat-wrap {
        max-width: 800px;
        font-size: .95rem;

        .chat-inner {

        }

        .chat-message {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            &.me {
                justify-self: flex-end;
                text-align: right;
            }

            .user-name {
                font-size: .7rem;
                font-weight: bold;
            }
            .user-message {
                margin-top: 2px;
                line-height: 1.2rem;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
        .chat-message-lay {
            display: inline-block;
            max-width: 80%;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 6px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            line-height: 100%;
        }
    }
</style>