<template>
    <div class="chat-form-wrap px-3">
        <el-form
            id="chatForm" class="chat-form mx-auto"
            :model="data" :rules="rules" ref="chatForm"
            label-position="top"
        >
            <div class="textarea-wrap d-flex justify-content-center align-items-center">
                <el-button
                    icon="el-icon-star-off" class="form-button show-emoji-btn mr-2" circle
                    @click="emoji.show = !emoji.show"
                >
                    <picker
                        v-show="emoji.show"
                        class="emojiPopup"
                        title="" :include="['people']"
                        :showPreview="false" :showCategories="false" :emojiTooltip="false" :showSearch="false"
                        :native="true"
                        @select="addEmoji"
                    />
                </el-button>
                <el-input
                    :id="`chatTextarea_${chatParams ? chatParams.id : 'hz'}`" v-model="data.message"
                    type="textarea" class="chat-textarea" :autosize="{ minRows: 2, maxRows: 2}"
                    placeholder="Введите комментарий..."
                    @blur="handleBlur"
                    @keyup.shift.enter.native="sendMessage('chatForm')" @keyup.ctrl.enter.native="sendMessage('chatForm')"
                >
                </el-input>
                <el-button
                    icon="el-icon-message" class="form-button send-btn ml-2" circle
                    :disabled="!data.message || loading"
                    @click="sendMessage('chatForm')"
                />
            </div>
        </el-form>
        <div class="loadingOverlay"><i class="el-icon-loading"/></div>
    </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { mapGetters } from 'vuex';
  import { eventBus } from '@/store/eventBus';
  import { Picker } from 'emoji-mart-vue';

  export default {
    name: "chatForm",
    data() {
      return {
        data: {
          message: '',
          cursorPosition: 0,
        },
        emoji: {
          show: false,
        },
        rules: {
          message: [
            { required: true, message: 'Введите сообщение', trigger: 'change' },
          ],
        },
      }
    },
    props: ['chatParams', 'loading'],
    computed: {
      ...mapState('chatStore', ['chats']),
      ...mapGetters('chatStore', ['getDataLoading']),
    },
    components: {
      Picker
    },
    methods: {
      sendMessage() {
        if (this.data.message) {
          eventBus.$emit('chat-message-send', this.data.message);
          this.data.message = '';
        }
      },
      addEmoji(val) {
        this.data.message = this.data.message.slice(0, this.data.cursorPosition) + val.native + this.data.message.slice(this.data.cursorPosition);
        let input = document.getElementById('chatTextarea_' + this.chatParams.id);
        input.focus();
      },
      handleBlur() {
        let input = document.getElementById('chatTextarea_' + this.chatParams.id);
        this.data.cursorPosition = input.selectionStart;
      }
    }
  };
</script>

<style scoped lang="scss">
    .chat-form {
        max-width: 868px;
    }
    .chat-textarea {
        flex: 1;
    }
    /deep/ textarea {
        background-color: rgba(255, 255, 255, 0.5);
        resize: none;
    }
    .form-button {
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.5);
        color: inherit;
        font-size: inherit;

        &.show-emoji-btn {
            position: relative;
        }
        &[class*=el-icon-] {
            + span {
                margin-left: 0;
            }
        }
    }

    .emojiPopup {
        position: absolute;
        bottom: 50px;
        left: 0;

        /deep/ .emoji-mart-category {
            display: flex;
            flex-wrap: wrap;

            .emoji-mart-category-label {
                display: none;
            }
        }
    }
</style>