<template>
    <div :class="{'fixedPos': fixedPos, 'loading': loading, 'darkTheme': dark}" class="chatWidget">
        <template v-if="!$slots.default && chatParams">
            <chat-area
                v-if="msgAreaReady"
                :chatParams="chatParams" :loading="loading"
            />
            <chat-form v-if="chatForm" :chatParams="chatParams" :loading="loading" class="mt-3" />
        </template>
        <slot v-else-if="$slots.default" />
    </div>
</template>

<script>
  import { mapState } from 'vuex';
  import chatForm from '@/components/_common/chat/chatForm';
  import chatArea from '@/components/_common/chat/chatArea';

  export default {
    name: "theChat",
    props: {
      chatParams: Object,
      loading: Boolean,
      msgArea: Boolean,
      chatForm: Boolean,
      fixedPos: Boolean,
      dark: Boolean,
    },
    computed: {
      ...mapState('chatStore', ['chats']),
      msgAreaReady() {
        return this.msgArea && this.chats && Object.keys(this.chats).length && this.chats.hasOwnProperty(this.chatParams.id);
      }
    },
    components: {
      chatForm,
      chatArea
    }
  };
</script>

<style scoped lang="scss">
    .chatWidget {
        &.fixedPos {
            position: fixed;
            left: 0;
            bottom: 20px;
            width: 100%;
            z-index: 9;
        }
        &.loading {
            .chat-form-wrap {
                position: relative;
            }
            /deep/ .loadingOverlay {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &.darkTheme {
            color: #c0c4cc !important;

            /deep/ .loadingOverlay {
                background-color: rgba(0, 0, 0, 0.5);
            }
            /deep/ .chat-message-lay {
                background-color: rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(255, 255, 255, 0.2);
            }
            /deep/ .chat-form {
                /deep/ textarea {
                    background-color: rgba(0, 0, 0, 0.5);
                    resize: none;
                }
            }
            /deep/ .form-button {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        /deep/ .loadingOverlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            font-size: 2rem;
        }
    }
</style>