<template>
    <mdb-container :class="{'vh-100 d-flex align-items-center justify-content-center': !isNew && !dataObj.id}">
        <el-form
            v-if="isNew || (!isNew && dataObj.id)"
            id="dataForm" class="mt-4 flex-label-width"
            :model="dataObj" :rules="rules" ref="dataForm"
            :label-position="$mq === 'xs' ? 'top' : 'left'" status-icon
            label-width="120px"
        >
          <input v-if="dataObj.id" type="hidden" name="id" v-model="dataObj.id"/>
          <input type="hidden" name="pk" v-model="dataObj.pk"/>
          <input type="hidden" v-model="dataObj.status" name="status"/>

          <mdb-row>
            <mdb-col sm="6" xl="4">
              <el-form-item label="Название аккаунта" prop="name">
                <el-input
                    v-model.trim="dataObj.name"
                    type="text" id="name" name="name"
                />
              </el-form-item>
            </mdb-col>
            <mdb-col sm="6" xl="4">
              <el-form-item label="Ник блогера" prop="login">
                <el-input
                    v-model.trim="dataObj.login"
                    type="text" id="login" name="login"
                />
              </el-form-item>
            </mdb-col>
            <mdb-col sm="6" lg="4">
              <item-status-form-select
                  :status="dataObj.status" :itemStatuses="instaAccountsData.status"
                  :controller="instaAccountsData.controller"
                  inputLabel="Состояние"
              />
            </mdb-col>
          </mdb-row>

            <div class="text-center mt-3">
                <el-button
                    type="primary" plain
                    :loading="!dataObj || getDataLoading(instaAccountsData.controller + '_updateData')"
                    @click="saveData('dataForm')"
                >
                    {{isNew ? 'Создать' : 'Сохранить'}}
                </el-button>
            </div>
        </el-form>
        <mdb-spinner v-else big crazy />
    </mdb-container>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { eventBus } from "@/store/eventBus";
  import {
    data as instaAccountsData, dataInit as instaAccountsDataInit,
    get, update, validateUnique, validateString
  } from '@/models/instaAccountsModel';
  import headMixin from "@/mixins/headMixin";
  import { mdbContainer, mdbSpinner, mdbRow, mdbCol } from 'mdbvue';
  import itemStatusFormSelect from '@/components/_common/itemStatusFormSelect';

  export default {
    name: "instaAccountsSinglePage",
    mixins: [headMixin],
    data() {
      return {
        instaAccountsData: instaAccountsData,
        dataObj: instaAccountsDataInit,
        dataObjClone: null,
        toolsMenu: [],
        rules: {
          name: [
            { required: true, message: 'Введите название', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
          login: [
            { required: true, message: 'Введите ник блогера', trigger: 'change' },
            { validator: validateString.bind(this), trigger: 'change' },
            { validator: this.validateUnique, trigger: 'blur' }
          ],
        },
      }
    },
    props: ['itemStatuses', 'botStatuses', 'params', 'controller'],
    computed: {
      ...mapState('commonStore', ['dataLoading', 'config']),
      ...mapGetters('commonStore', ['getDataLoading', 'getAPIURL', 'token']),
      isNew() {
        return this.$route.params.instaAccId === 'new';
      },
    },
    methods: {
      ...mapActions('commonStore', ['setAdminToolsMenu', 'deleteAdminToolsMenu', 'updateDataLoading', 'updateMeta']),
      saveData(form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            let saveDataCb = function() {
              this.$router.push({ path: this.config.URLPRE + this.instaAccountsData.baseUrl });
            };

            update.call(this, {
              formName: form, action: this.isNew ? 'create' : 'update',
              callback: saveDataCb.bind(this)
            });
          }
        });
      },
      validateUnique(rule, value, callback) {
        validateUnique.call(this, {oldDataObj: this.dataObjClone}, rule, value, callback);
      },
      buildToolsMenu() {
        this.toolsMenu = [
          {
            name: 'К списку промокодов',
            link: this.config.URLPRE + this.instaAccountsData.baseUrl,
            icon: 'angle-double-left',
          }
        ];

        this.setAdminToolsMenu(this.toolsMenu);
      },
    },
    components: {
      mdbContainer, mdbSpinner, mdbRow, mdbCol,
      itemStatusFormSelect,
    },
    created() {
      this.updateMeta({title: this.isNew ? 'Новый аккаунт Instagram' : 'Страница аккаунта Instagram' + (this.dataObj.name ? ': ' + this.dataObj.name : '')});
      this.buildToolsMenu();

      if (this.isNew) {
        this.dataObj = {...instaAccountsDataInit};
      } else {
        get.call(this, {
          id: this.$route.params.instaAccId,
          callback: function () {
            this.updateMeta({title: 'Страница аккаунта Instagram: ' + this.dataObj.name});
          }.bind(this)
        });
      }

      const _this = this;
      eventBus.$on(this.instaAccountsData.controller + '_handle-status-select', (data) => _this.dataObj.status = data);
    },
    destroyed() {
      this.deleteAdminToolsMenu(this.toolsMenu);

      eventBus.$off([
        this.instaAccountsData.controller + '_handle-status-select',
      ]);
    }
  };
</script>