<template>
    <component :is="currentComponent" />
</template>

<script>
  import instaAccountsListPage from './instaAccountsListPage';
  import instaAccountsSinglePage from './instaAccountsSinglePage';

  export default {
    name: 'instaAccountsIndexPage',
    computed: {
      currentComponent() {
        return this.$route.params.instaAccId ? 'instaAccountsSinglePage' : 'instaAccountsListPage';
      }
    },
    components: {
      instaAccountsListPage,
      instaAccountsSinglePage
    },
  }
</script>