<template>
    <div class="flexible-content white-skin">
        <!--Navbar-->
        <mdb-navbar position="top" color="unique-color" dark>
            <mdb-navbar-nav class="mr-0">
                <mdb-icon icon="bars" size="2x" @click.native="handleBtnAClick" class="text-white" />
            </mdb-navbar-nav>
            <mdb-navbar-brand tag="span" class="ml-2 mr-auto navbar-brand-wrap">{{meta.title}}</mdb-navbar-brand>
            <mdb-navbar-toggler>
                <mdb-navbar-nav right>
                    <template v-if="getMemberToolsMenu && Object.keys(getMemberToolsMenu).length">
                        <div v-for="menuItem in getMemberToolsMenu" :key="menuItem.name">
                            <nav-bar-menu-item v-if="!menuItem.hasOwnProperty('children')" :menuItem="menuItem"></nav-bar-menu-item>
                            <mdb-dropdown v-else tag="li" class="nav-item">
                                <mdb-dropdown-toggle tag="a" navLink slot="toggle" waves-fixed>{{menuItem.name}}</mdb-dropdown-toggle>
                                <mdb-dropdown-menu>
                                    <nav-bar-menu-item
                                        v-for="menuSubItem in menuItem.children" :key="menuSubItem.name"
                                        :menuItem="menuSubItem"
                                    />
                                </mdb-dropdown-menu>
                            </mdb-dropdown>
                        </div>
                    </template>
                    <mdb-nav-item id="avaItem" :to="config.URLPRE + 'my-profile'">
                        <div id="avaWrap" class="rounded mr-2">
                            <img v-if="member.avatar" :src="member.avatar" :alt="member.first_name + ' ' + member.last_name" />
                            <img v-else src="~@/assets/avatar.png" :alt="member.first_name + ' ' + member.last_name" />
                        </div>
                        {{member.first_name}}
                    </mdb-nav-item>
                </mdb-navbar-nav>
            </mdb-navbar-toggler>
        </mdb-navbar>
        <!--/.Navbar-->
        <mdb-side-nav sideNavClass="sn-bg-4" mask="strong" :OpenedFromOutside.sync="toggleA" hidden>
            <ul>
                <li>
                    <mdb-side-nav-nav>
                        <mdb-side-nav-item header icon="home" to="/" @click.native="toggleA=false">Главная панель</mdb-side-nav-item>
                        <mdb-side-nav-cat
                            v-if="'purchasableProducts' in member && member.purchasableProducts.subscription.length"
                            name="Подписаться на эфир" icon="dollar-sign"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.purchasableProducts.subscription" :key="product.id"
                                :to="config.URLPRE + '/pay/' + product.id" icon="video"
                                @click.native="toggleA=false"
                            >
                                {{product.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'purchasableProducts' in member && member.purchasableProducts.preset.length"
                            name="Купить корзинку" icon="dollar-sign"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.purchasableProducts.preset" :key="product.id"
                                :to="config.URLPRE + '/pay/' + product.id" icon="compact-disc"
                                @click.native="toggleA=false"
                            >
                                {{product.preset_name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'purchasableProducts' in member && member.purchasableProducts.donation.length"
                            name="Сделать подарок" icon="hand-holding-usd"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.purchasableProducts.donation" :key="product.id"
                                :to="config.URLPRE + '/pay/' + product.id" icon="gift"
                                @click.native="toggleA=false"
                            >
                                {{product.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-item header icon="clipboard-list" :to="config.URLPRE+'/orders'" @click.native="toggleA=false">
                            Мои заказы
                        </mdb-side-nav-item>
                        <mdb-side-nav-cat
                            v-if="'availableProducts' in member"
                            name="Прямые эфиры" fab icon="instagram"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.availableProducts.filter(p => p.product_type === 'subscription' && !p.is_free)"
                                :key="product.id" :to="config.URLPRE + '/stream/' + product.id" icon="video"
                                @click.native="toggleA=false"
                            >
                                {{product.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'availablePlaylists' in member && member.availablePlaylists.length"
                            name="Мои корзинки" icon="shopping-basket"
                        >
                            <mdb-side-nav-item
                                v-for="preset in member.availablePlaylists" :key="preset.id"
                                :to="config.URLPRE + '/playlist/' + preset.id" icon="compact-disc"
                                @click.native="toggleA=false"
                            >
                                {{preset.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'availablePresets' in member && member.availablePresets.length"
                            name="Тренинги" icon="hammer"
                        >
                            <mdb-side-nav-item
                                v-for="preset in member.availablePresets" :key="preset.id"
                                :to="config.URLPRE + '/training/' + preset.id" icon="video"
                                @click.native="toggleA=false"
                            >
                                {{preset.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'freeProducts' in member && 'subscription' in member.freeProducts && member.freeProducts.subscription.length"
                            name="Бесплатные эфиры" fab icon="instagram"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.freeProducts.subscription"
                                :key="product.id" :to="config.URLPRE + '/stream/' + product.id" icon="video"
                                @click.native="toggleA=false"
                            >
                                {{product.name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-cat
                            v-if="'freeProducts' in member && 'preset' in member.freeProducts && member.freeProducts.preset.length"
                            name="Бесплатные корзинки" icon="shopping-basket"
                        >
                            <mdb-side-nav-item
                                v-for="product in member.freeProducts.preset"
                                :key="product.id" :to="config.URLPRE + '/playlist/' + product.preset_id" icon="compact-disc"
                                @click.native="toggleA=false"
                            >
                                {{product.preset_name}}
                            </mdb-side-nav-item>
                        </mdb-side-nav-cat>
                        <mdb-side-nav-item header icon="smile" far :to="config.URLPRE+'/my-profile'" @click.native="toggleA=false">
                            Мой профайл
                        </mdb-side-nav-item>
                        <mdb-side-nav-item header icon="sign-out-alt" href="#" @click.prevent.native="logoutRequest">Выход</mdb-side-nav-item>
                    </mdb-side-nav-nav>
                </li>
            </ul>
        </mdb-side-nav>
        <popup-yes-no
            :showPopup="showLogoutPopup" :heading="heading"
            v-on:no-handle="toggleA = showLogoutPopup = false" v-on:yes-handle="logout"
        />
    </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import { eventBus } from "@/store/eventBus";

    import {
      mdbNavbar,
      mdbDropdownMenu,
      mdbDropdownToggle,
      mdbNavbarBrand,
      mdbNavItem,
      mdbNavbarNav,
      mdbNavbarToggler,
      mdbSideNav,
      mdbIcon,
      waves,
      mdbSideNavItem,
      mdbSideNavCat,
      mdbSideNavNav,
    } from 'mdbvue';
  import popupYesNo from '@/components/_common/popupYesNo';
  import navBarMenuItem from '@/components/_common/navBarMenuItem';

    export default {
        name: 'DoubleNavigationPage',
        components: {
          mdbNavbar,
          mdbNavItem,
          mdbNavbarNav,
          mdbNavbarToggler,
          mdbSideNav,
          mdbIcon,
          mdbNavbarBrand,
          mdbDropdownMenu,
          mdbDropdownToggle,
          mdbSideNavItem,
          mdbSideNavCat,
          mdbSideNavNav,
          popupYesNo,
          navBarMenuItem
        },
        data() {
            return {
                active: {
                    0: false
                },
                toggleA: false,
                iAccData: null,
              heading: 'Вы уверены, что хотите выйти?',
              showLogoutPopup: false,
            };
        },
        computed: {
          ...mapState('commonStore', ['member', 'meta', 'config']),
          ...mapGetters('commonStore', ['getMemberToolsMenu']),
        },
        methods: {
            handleBtnAClick() {
                this.toggleA = !this.toggleA;
            },
            beforeEnter(el) {
                this.elHeight = el.scrollHeight;
            },
            enter(el) {
                el.style.height = this.elHeight+'px';
            },
            beforeLeave(el) {
                el.style.height = 0;
            },
          logoutRequest: function() {
            this.showLogoutPopup = true;
          },
          logout() {
            eventBus.$emit('kill_user');
          }
        },
        mixins: [waves]
    };
</script>

<style scoped>
    .side-nav {
        margin-top: 64px !important;
    }
</style>